[2018-01-02 15:28] knownasilya commented on #2901
The 3.0 beta is still on bower though?

[2018-01-03 17:53] alexmasita opened #3116 "Difficulty with Module Imports."
The API documentation has not fully documented all the module imports.  Am having trouble getting this code to work

[code]

[2018-01-03 20:17] Gaurav0 opened #3117 "Deprecation Guide is not discoverable"
There is no link to the deprecation guide, and it doesn't appear when one searches for 'deprecation'.

[2018-01-03 20:20] Gaurav0 commented on #3116
The answers are here: https://github.com/ember-cli/ember-rfc176-data

It would be nice to have a link to this from somewhere on emberjs.com

[2018-01-03 20:24] locks commented on #3116
Thanks for reporting. This should be mostly addressed by https://github.com/ember-learn/ember-api-docs/pull/413. We have some more ideas to improve API documentation.

[2018-01-03 20:24] #3116 closed

[2018-01-04 09:25] martndemus opened #3119 "Update logo's that aren't 420x206px on the Ember Users page."
Especially the top 12(?) logo's that also appear on the "Who's Using Ember.js?" slider on the front page.
It doesn't really look professional to me to see unsharp logos.

[2018-01-04 21:56] locks opened #3121 "Document missing deprecation guides"
From https://github.com/thoov/ember-2-legacy/blob/master/config/environment.js:
- [x] ~_ENABLE_UNDERSCORE_ACTIONS_SUPPORT~ (private API)
- [x] _ENABLE_RESOLVER_FUNCTION_SUPPORT [Guide](https://emberjs.com/deprecations/v2.x/#toc_registry-resolver-as-function)
- [ ] _ENABLE_REVERSED_OBSERVER_SUPPORT [Source](https://github.com/emberjs/ember.js/pull/15893/files)
- [ ] _ENABLE_ROUTER_RESOURCE [Source]

[2018-01-04 22:27] thoov commented on #3121
`_ENABLE_RESOLVER_FUNCTION_SUPPORT` already has a section located here (https://emberjs.com/deprecations/v2.x/#toc_registry-resolver-as-function) so we can mark that as complete. I will create one for _ENABLE_FREEZABLE_SUPPORT

[2018-01-04 22:45] thoov commented on #3121
_ENABLE_DEPRECATED_REGISTRY_SUPPORT (https://emberjs.com/deprecations/v2.x/#toc_ember-application-registry-ember-applicationinstance-registry) already exists

[2018-01-04 22:58] thoov commented on #3121
_ENABLE_PROPERTY_REQUIRED_SUPPORT should be added to deps 1.12 (https://github.com/emberjs/ember.js/pull/10668)

[2018-01-05 04:55] acorncom commented on #3117
@Gaurav0 We added deprecation guide links to the learn page a while back, does that address what you're after? https://emberjs.com/learn/

[2018-01-05 08:22] locks commented on #3117
We are also currently reworking the navbar and the sitemap in general to address the general discoverability problem we have.

[2018-01-05 22:41] Gaurav0 commented on #3117
Thanks.

[2018-01-05 22:41] #3117 closed

[2018-01-07 01:37] acorncom opened #3125 "Setup a Heroku redirect for all old guides files and trash source files"
Guides used to be part of this repo. When we wanted to allow versioning of the guides, they were split out into a separate repo and redirect pages were setup in Middleman to help handle the move.

We'd like to clean those old files up now that we can do redirects using Heroku's redirect system instead.

Getting this all tidied up will include:
- [ ] add redirect line(s) to the https://github.com/e

[2018-01-07 06:34] jenweber opened #3129 "Updates for community page"
- [x] change youtube video title so it doesn't say 2015
- [x] add Ember.js Times link
- [x] make a newsletters section
- [x] make slack more prominent than SO. New user experience is not great on SO

Maybe:
- [x] move video down some? IDK. It's the one place with dynamic content so I kinda like it where it is

[2018-01-07 16:33] MelSumner opened #3131 "Improve Teams Page"
**1. Update information for each team**
For each team listed:
- [x] include team description
- [x] what projects the team is responsible for
- [x] link to meeting notes
- [x] information when meetings happen
- [x] slack channel information

**2. Separate out each team to its own section**
- [x] separate each team into its own section (#3249)

[2018-01-07 16:35] MelSumner opened #3132 "Add icons to be used for things like "Deprecated" properties in the API."
See the styleguide (under "API Icons") for styles: https://codepen.io/melsumner/pen/9d551738a81e319a773395a2cfa1a82e

Rendered
![image](https://user-images.githubusercontent.com/4587451/34651495-84e24f26-f396-11e7-9e2a-24719d10a689.png)

[2018-01-07 16:39] MelSumner opened #3133 "Improve the "shop for Ember stuff" section of the home page."
- should be responsive
- should be accessible (ADA)
- should be complementary to the rest of the site

[2018-01-07 16:44] MelSumner opened #3134 "Improve the "who uses Ember" carousel on the home page."
There could be two approaches here:
1. update the slider used
2. remove that slider (and customizations) and replace it with something different.

Either approach:
- should be responsive/device-agnostic
- should complement the current site
- should be accessible (A11y)

[2018-01-07 17:01] MelSumner opened #3135 "Create documentation regarding Ember teams"
Task: create document that includes the following items:
- [ ] a list of the Ember teams
- [ ] a description of responsibilities for each team

This will be used in Issue #3131 to improve the teams page.

[2018-01-07 17:02] MelSumner opened #3136 "Improve Sidebar/Aside Design"
Design a better sidebar for the site (pages that currently have sidebars are the guides, api, deprecations, and blog)

- should be responsive/device agnostic
- should be accessible (A11y)
- should complement the current site

[2018-01-07 17:07] MelSumner opened #3137 "Add Invitation to Contribute to page layout"
Goal: to add a "Contribute to this page" link to each page.

Criteria:
- must be at the bottom of each page, centered, above the footer
- must link to: https://github.com/emberjs/website
- should be responsive (device-agnostic)
- should be accessible
- should complement the existing site design

Guidelines:
- code should go into the layout.erb file
- css should go into the site.css.scss file (at t

[2018-01-07 17:31] MelSumner opened #3138 "Consolidate duplicate CSS."
Task:
- using Beyond Compare (or another code comparison tool) identify and remove duplicate CSS.

Where CSS code duplication may be occurring:
- in site.css.scss
- in pages/(page).css.scss
- sometimes in component/(file).css.scss
- in (page).css.scss

[2018-01-07 17:43] MelSumner opened #3139 "Add support matrix to website"
Goal:
- clearly list out the (minimum) browser versions that are supported

Task:
- add support matrix to website (but where? footer, under social media icons?)
- integrate browse happy (https://browsehappy.com/?locale=en)
- remove references to old IE versions (i.e., in layout.erb file)

[2018-01-07 17:45] MelSumner commented on #3139
Need:
- what browsers we support (@locks ?)
- decision on where to put it on the website (@jenweber @locks @acorncom ?)

[2018-01-07 17:56] MelSumner commented on #3119
I believe this is a bug- we have good logos; the hdpi mixin might not be working properly due to some recent work on the site.

[2018-01-07 17:58] MelSumner commented on #3066
Closing this issue since it will be resolved with #3082

[2018-01-07 17:58] #3066 closed

[2018-01-07 20:05] MelSumner opened #3140 "Incorrect link to tomster/commission"
On the tomster/faq page, there is a link to the commission inquiry form, but the link directs to /commission instead of /tomster/commission.

![image](https://user-images.githubusercontent.com/4587451/34653594-bd56004c-f3b3-11e7-8a03-0e0eb0df6ff3.png)

[2018-01-08 03:21] jenweber opened #3141 "Make the learning resources text be actual links, not just the symbol"
It's more mobile friendly if the links to quickstart, tutorial, and guides were links too, not just the little box arrow symbol.

Here's the [live page](https://emberjs.com/learn/)
The file to fix is [here](https://github.com/emberjs/website/blob/master/source/learn.html.erb)

Instead of
![screen shot 2018-01-07 at 10 16 50 pm](https://user-images.githubusercontent.com/16627268/34657874-7ff0c332-f

[2018-01-08 10:18] kennethlarsen commented on #2962
@MelSumner Did you larger effort address this issue or is it still open for PRs?

[2018-01-08 17:13] #3141 closed

[2018-01-08 17:20] MelSumner opened #3146 "Color Palette"
Goal: Determine the correct color palette for the website

Considerations:
- interactive elements should look interactive
- Must include:
-- Ember orange (E04E39)
-- White (#fdfdfd) & Black (#212121)
- must pass color contrast tests (use https://webaim.org/resources/contrastchecker/ or similar)

[2018-01-11 12:41] kennethlarsen commented on #3146
Is the aim to pass WCAG AA or WCAG AAA in terms of color contrast?

[2018-01-11 17:03] MelSumner commented on #3146
@kennethlarsen AA

[2018-01-11 17:05] MelSumner commented on #2962
@kennethlarsen a lot of this should be fixed- I will try to make time to go through each one of these (they should be separate issues).

[2018-01-11 21:05] #3132 closed

[2018-01-11 21:05] MelSumner commented on #3132
Cancelled this issue - a different direction has been requested.

[2018-01-11 21:23] MelSumner opened #3152 "Create "Ember version" of icons for use in the API."
The devs working on the API like these ones:
https://github.com/TypeStrong/typedoc-default-themes/blob/master/src/default/assets/images/icons.png

- [ ] They'd need to be converted into Ember colors.
- [ ]They would ideally be converted into SVGs instead of an image sprite

(add legend image here)

[2018-01-12 01:33] toddjordan commented on #3152
We probably wouldn't need all of these.. The priority ones would be:

- Module
- Function
- Class

_(not sure if we'd want to change color/annotation for private/public)_

And then possibly later...
(for public, private, inherited)

- property
- method
- event (not in typedoc)

[2018-01-15 07:34] cibernox commented on #3121
_ENABLE_CURRENT_WHEN_SUPPORT is documented in https://github.com/emberjs/website/pull/3154

[2018-01-15 15:44] MelSumner opened #3155 "Fix HTML on Learn page"
**Context:**
Some of the bullet-ed items on the learn page are not contained within an `<ul>` element. As a result, the page is failing an accessibility conformance test.

**To fix:**
Add a `<ul>` around the `<li>` elements on the learn page (source/learn.html.erb)

**Screenshot:**
![image](https://user-images.githubusercontent.com/4587451/34950372-9c0a1c36-f9d8-11e7-9dd2-2507381f6bdd.png)

[2018-01-15 17:29] MelSumner opened #3156 "Update content: Community Page"
**Context:**
The content should be occasionally reviewed for accuracy, and updated if not.

**To-do:**
Review the content for the community page on the website, and update the content if outdated or inaccurate.

**Screenshot (of section that might need updating):**
![image](https://user-images.githubusercontent.com/4587451/34954741-32373488-f9e7-11e7-8085-34e08e510ade.png)

[2018-01-16 17:08] dshiling commented on #3155
Hey! I can take this one if still open.

[2018-01-17 01:37] locks commented on #3155
It is, go ahead! :)

[2018-01-20 00:27] toddjordan opened #3162 "Class Documentation for Transition disappeared between Ember 2.16 and 2.17"
If you go to https://emberjs.com/api/ember/2.16/classes/Transition (select "show private" at the bottom of the nav menu.) You'll see the last time Transition was seen alive.

A little CSI forensic work is required to figure out what happened here.  Could've been some refactoring that moved it way from a place where the yuidocs are being processed.

[2018-01-20 00:27] toddjordan commented on #3162
crap, wrong repo, moving to emberjs

[2018-01-20 00:27] #3162 closed

[2018-01-20 00:28] toddjordan commented on #3162
if you come upon this, the "real" issue is here: https://github.com/emberjs/ember.js/issues/16153

[2018-01-21 13:15] MelSumner opened #3164 "Insufficient Color Contrast: "Learn More" button"
**Context:**
The EmberConf CTA "learn more" button does not have sufficient color contrast to pass WCAG 2.0 AA standards. Users who are color-blind would find it difficult, if not impossible, to distinguish between the button background and the text.

**To Fix:**
Ensure that the solution has a color contrast ratio of 4.5:1. Color contrast tools (like https://webaim.org/resources/contrastchecker/)

[2018-01-21 13:21] MelSumner opened #3165 "Missing alt text: "who's using ember.js?" slider"
**Context:**
The alt text is missing for the slider that contains the logo images of companies who use Ember. This means that the link has no (machine) discernible text and would be meaningless to a user with assistive technology.

**To Fix:**
Ensure that the company name is added as alt text in the template for the slider.

**Screenshot:**
![image](https://user-images.githubusercontent.com/458745

[2018-01-21 15:17] MelSumner opened #3166 "Home Page: "Get Started" CTA color contrast issue"
On the home page, the "Get Started" CTA is failing some color contrast checks- the white on the ember orange background is failing:
![image](https://user-images.githubusercontent.com/4587451/35195551-dd048a58-fe8a-11e7-81d8-506cff9ef425.png)

There are a few options to fix:
1. increase the font size to 18.66px and make the text bold:
![image](https://user-images.githubusercontent.com/4587451/35195

[2018-01-21 15:44] locks commented on #3166
I am partial to option 1 for this specific case, but not sure as a systematic solution.

[2018-01-21 18:20] svinkle commented on #3166
Option 3 seems the most robust. It guarantees any size/weight "white on orange"  text will pass AA.

That said, if the orange branding can't be modified, option 1 might be best.

[2018-01-21 18:27] cdvillard commented on #3166
I'm between options 1 and 2, and more towards no. 2 to keep the visual hierarchy from getting confusing.

[2018-01-21 19:36] #3155 closed

[2018-01-22 01:02] stringyland commented on #3166
I like option 1 for this situation, since it’s a starting point and large text is always useful there. But as a general solution option 3 will very likely be easier to implement in a variety of cases.

[2018-01-22 09:54] purdx opened #3167 "Add link to github page"
I think it would be good if website link get added on top of the Github page or on README.md file.

[2018-01-22 12:24] #3167 closed

[2018-01-23 15:48] tambo opened #3169 "Missing navigation links to Ember.Templates.helpers Class in API docs prior to 2.16"
There are no navigation links to the Ember.Templates.helpers class in the API docs prior to 2.16. However it is possible to get to the page by manual edit of the url fragment for the Ember version.

This should be fixed as it key information required for building contextual components. The class is not listed in the Classes index in any API guide prior to 2.16, but has apparently been present hist

[2018-01-23 18:20] locks commented on #3169
We can't fix this as the documentation is generated from the published Ember source. That said, we can't make breaking changes to the API, so consulting the latest one should be fine!

[2018-01-23 18:20] #3169 closed

[2018-01-24 15:25] #3165 closed

[2018-01-24 22:32] #3164 closed

[2018-01-25 14:26] sivakumar-kailasam opened #3172 "[RFC] Ember website unification"
The ember website is a combination of websites that are on different tech across our repos. This RFC is to discuss strategies on how to unify them into an ember app.

|Repo | Purpose | Current tech | Host |
|------|------|------|----|
|[emberjs/website](https://github.com/emberjs/website)|Home page, blog, community, teams, companies, security pages|Static site built on Middleman|https://ember-webs

[2018-01-26 01:30] amyrlam commented on #3140
👋 I took this issue with https://github.com/emberjs/website/pull/3173

[2018-01-26 11:55] locks commented on #3140
Fixed by linked PR!

[2018-01-26 11:55] #3140 closed

[2018-01-27 04:13] jenweber commented on #3172
I hope we are headed in this direction. It would help majorly with the overhead of consistent styling etc.

I wonder if we should always keep api docs (and guides) separate, as they are more "apps" than websites. There's a lot of logic behind the scenes. What's the benefit of the engine over keeping api docs as a standalone?

The other parts of the website are more "normal" and it makes a ton of s

[2018-01-29 01:37] sivakumar-kailasam commented on #3172
If we keep the api as a separate app then we'd still need an app which is an nginx server that can handle proxying. Also we couldn't enable service workers on it since it wasn't its own app. If we're planning to make it its own app then we should probably convert it to a top level domain like `api.emberjs.com` similar to `guides.emberjs.com`.

We broke SEO for few months now with the api docs that

[2018-01-29 02:44] MelSumner commented on #3172
@sivakumar-kailasam this is the idea behind https://github.com/ember-learn/ember-styleguide

[2018-01-29 02:55] sivakumar-kailasam commented on #3172
Oh yeah totally forgot about that. Happy that we can already strike that
off the checklist 🙂

On Mon 29 Jan, 2018, 8:14 AM Melanie Sumner, <notifications@github.com>
wrote:

--

Regards,
Siva

[2018-01-30 22:13] MelSumner commented on #3136
Possible design:
![image](https://user-images.githubusercontent.com/4587451/35594344-73834cd6-05d8-11e8-9312-a28322ebaa6f.png)

[2018-02-01 18:08] samselikoff commented on #3082
Dropdowns look great on the new navbar!

I felt like the "ember" logo is a bit tight/needs more whitespace, wanted to come here and get yall's thoughts?

Also what about the gradient (the one that's still on https://emberjs.com/api/ember/2.18/modules/@ember%2Fapplication), I felt like that was a nice touch

[2018-02-02 17:25] MelSumner commented on #3169
@locks making a note that I'd like us to consider a way to either communicate "if missing, consult latest" or think about ways that missing docs could be added.

[2018-02-03 06:01] acorncom commented on #3082
@MelSumner Thoughts about Sam's comments here? I'd be inclined to see the nav bar get a tad taller myself so it looks a bit more roomy in the header. I like the gradient as well, but @samselikoff that may have been removed for accessibility reasons in the interests of making things more distinct ...

[2018-02-03 06:15] acorncom commented on #3172
At least from our initial discussions with the core team last year, the goal was to avoid having api docs at `api.emberjs.com` in the interests of having api docs urls remain consistent (and to enable Ember Engine integration). I'd be happy to see that change if it helps our technical headaches with proxies go away, so it may be worth revisiting that decision. But I don't think that's something th

[2018-02-04 20:41] jenweber commented on #3156
I had a UX designer look it over (aka my partner). Recommendations:
- Remove the video or put it at the bottom
- Simplify header text: "Stuck? Lost? Get Help..." should simply be "Discussion" with a list of the various venues (bullet points for simplest option, icons and descriptions to be fancy)
- Simplify newsletter heading. Should just say "Newsletters"
- Simplify "Something Fishy" to Report an

[2018-02-04 21:41] MelSumner commented on #3082
@samselikoff @acorncom we could iterate on it- the gradient on the header is something that went away based on feedback that was exactly the opposite. Additionally, there wasn't enough contrast to pass accessibility tests.

If anyone wanted to help by submitting a PR or comment with a CodePen mockup ([you could just fork the styles in progress if you wanted](https://codepen.io/melsumner/pen/9d5517

[2018-02-04 21:41] #3082 closed

[2018-02-04 21:42] MelSumner commented on #3139
@locks can you help with this content?

[2018-02-06 03:10] jenweber commented on #3156
Results of UX poll:

jenweber [Yesterday at 3:21 PM]
in #general
Does anyone have a second to test an open source website's UX? I'm wondering how hard it is for you to find a link to the discussion boards or slack. Where did you look before you found it, and did you find it at all? https://emberjs.com/ (edited)

[2018-02-06 04:28] sivakumar-kailasam commented on #3156
Unsure if it's relevant but can we add a slack icon to the website footer along side the social media icons?

[2018-02-06 12:55] jenweber commented on #3156
I think it's relevant. The only issue I see with that is that the Slack is technically an unmoderated community thing... we'd need approval from Leah and maybe deploy a custom message for slackin

[2018-02-06 14:21] cah-danmonroe commented on #3156
I went to the top of emberjs.com and was putting myself in the shoes of someone brand new to Ember or maybe has done one of the tutorials but had questions.  If I were looking for help, one route one might go is to click "Docs > Guides" from the top menu.  From here, I might expect to see a link for finding help but the "Guides and Tutorials" page doesn't have a "Finding Help" section.  It might b

[2018-02-12 08:28] mansona commented on #3172
Hi all 👋  Just jumping into this conversation with my take on it.

@acorncom I would love to get more detail on this discussion with core team, and to perhaps go back to them with a new conversation because of the recent "Emberification" experiments going on. The main reason I think things are potentially changing is that we are now in the position where we have 3 parts of the website infrastructu

[2018-02-18 17:53] jenweber opened #3196 "Deprecations styling has some edge cases with backticks"
How it should look
![screen shot 2018-02-18 at 12 51 43 pm](https://user-images.githubusercontent.com/16627268/36355018-9f8f85e8-14aa-11e8-9055-ff714bc08a8d.png)

Edge cases where ``backticks`` are used in headings
![screen shot 2018-02-18 at 12 51 59 pm](https://user-images.githubusercontent.com/16627268/36355023-abaecc62-14aa-11e8-9e72-65ca07d4bf4c.png)
![screen shot 2018-02-18 at 12 52 15 pm](h

[2018-02-21 10:30] jkumar712 commented on #3136
<img width="1440" alt="sidebar-1" src="https://user-images.githubusercontent.com/16778890/36475296-341659cc-1720-11e8-971e-f63b94e9ad81.png">

[2018-02-22 18:59] MelSumner commented on #3136
@locks @jenweber @wifelette any preferences? We're probably going to move this over to be an ember-styleguide component sooner rather than later.

[2018-02-22 23:02] MelSumner opened #3205 "TODO: turn job board banner back on"
**After EmberConf 2018**, turn the job board banner back on for mobile view (it was turned off while the survey banner was on, because both banners use the same background, and the jobs board link is now included in the site navigation).

[2018-02-23 20:15] paulcwatts opened #3206 "Error when checking documentation for rsvp"
Reproduction:

1. Go to https://emberjs.com/api/ember/release/modules/rsvp
1. Click on any of the functions in 'rsvp' (all, allSettled, etc.)

You get the "WHOOPS! SOMETHING WENT WRONG." page. There are two errors in the console:

[code]

[2018-02-25 04:34] jenweber commented on #3206
Hiya @paulcwatts, thanks for taking the time to alert us to this issue! It will be fixed in the api docs repo https://github.com/ember-learn/ember-api-docs

Closed, tracked in https://github.com/ember-learn/ember-api-docs/issues/459

[2018-02-25 04:34] #3206 closed

[2018-03-07 04:44] sivakumar-kailasam opened #3215 "Simplify adding new companies to the website"
For a new company to be added to https://emberjs.com/ember-users/ we require a PR. It might be easier if we could create an airtable form for these submissions & have an integration that'd automatically raise a PR to this repo.

[2018-03-08 04:21] jenweber opened #3217 "Make community chat resources a list instead of paragraph"
Right now, a user has to read a paragraph of text on [this page](https://emberjs.com/community/) to find out which forums exist for Q&A. Instead, this should be a list of resources with the name and then a description. Stack Overflow should be listed last. If you're feeling fancy, you could use icons for each service in place of bullets list, but please do not import any new fonts. SVGs/images are

[2018-03-08 04:24] jenweber opened #3218 "Move video to the bottom of the community page"
The most important content on [this page](https://emberjs.com/community/) is below the fold. The video should go below the meetup and mascots instead.

_Note, this issue is set aside for the EmberConf contributors workshop on 3/12. If it's not claimed by the end of that day, feel free to grab it!_

[2018-03-08 04:46] sivakumar-kailasam commented on #3217
React website's uses text base links to all their channels in the footer. It probably makes it easy to discover slack as well as discuss.emberjs.com if we adapt it. Thoughts?

<img width="234" alt="screenshot 2018-03-08 09 59 33" src="https://user-images.githubusercontent.com/604117/37133435-603942ae-22b9-11e8-861e-b8254de5b8c1.png">

[2018-03-12 16:42] bagby commented on #3217
I'll take a crack at this.

[2018-03-13 15:20] yininge commented on #3218
I'll do this and try to keep the style consistent.

[2018-03-13 23:59] jenweber commented on #3218
Closed with #3222

[2018-03-14 00:00] #3218 closed

[2018-03-14 14:05] mgol commented on #2870
Any updates here? Is this still planned?

[2018-03-15 14:24] davidenglishmusic opened #3225 "Productivity feature alignment is broken"
<img width="1016" alt="screen shot 2018-03-15 at 11 22 30 am" src="https://user-images.githubusercontent.com/4421670/37469110-52edc536-2843-11e8-8b52-ed614227a4f0.png">

[2018-03-18 21:30] MelSumner commented on #3225
Fix merged, thank you @davidenglishmusic \*(^_^)*/

[2018-03-18 21:30] #3225 closed

[2018-03-20 13:06] locks opened #3229 "Remove EmberConf callout"
As this year's EmberConf has come and go, so should the banner on the homepage.
Removing [this code](https://github.com/emberjs/website/blob/master/source/about.html.erb#L53-L62) should be enough.

[2018-03-21 07:26] lukesargeant commented on #3052
I had a quick look into this and couldn't find the code in the website repo. Perhaps this form is configured at airtable.com?

[2018-03-22 04:09] wifelette commented on #3052
SORRY to drive people nutty 😢 I didn't read this correctly and thought the instructions _in the Yaml file_ were the problem. It is indeed Airtable and I just fixed it!

[2018-03-22 04:09] #3052 closed

[2018-03-22 07:10] lukesargeant commented on #3052
No trouble, nice one! 👍

[2018-03-22 12:16] locks opened #3233 "Fix anchorable tag in blog"
If you go to https://emberjs.com/blog/2018/02/16/ember-3-1-beta-released.html#toc_introducing-optional-features, you should notice that the anchor symbol does not show up.

[2018-03-22 14:45] toddjordan opened #3235 "Add a section on the deprecations app to the ember learn page"
Currently the page has a section highlighting various internal ember apps so people can browse the source to see ember in action. This is also a good place to see what ember apps we have if people want to contribute.  Recently we've release the deprecations app at https://emberjs.com/deprecations and it uses some interesting technologies such as prember and json static site generator.

@serenaf or

[2018-03-23 17:34] locks commented on #3229
Addressed by https://github.com/emberjs/website/pull/3234.

[2018-03-23 17:34] #3229 closed

[2018-03-27 14:32] MelSumner commented on #3138
closing this issue since we're doing a rebuild

[2018-03-27 14:32] #3138 closed

[2018-03-30 00:01] jenweber opened #3246 "Remove reference to stability without stagnation"
This section in the FAQ dates us a lot.

I'll draft something else.

[2018-03-30 14:34] #3205 closed

[2018-03-31 09:56] miketeo opened #3253 "'Symbol' is undefined error on IE11 (Windows 7)"
When viewing https://www.emberjs.com/builds/release/ on IE11 on Windows 7 machine, the page appears to hang with the loading animation. On the developer tools, I can see the following error.

![error](https://user-images.githubusercontent.com/6134522/38162024-79acfae0-350c-11e8-8625-dced2388c9e4.png)

On API pages, a "whoops" page is shown with the error on the console.

![error2](https://user-ima

[2018-03-31 12:30] jenweber commented on #3217
Closed by merging #3220

[2018-03-31 12:30] #3217 closed

[2018-03-31 16:49] jenweber commented on #3253
Yikes, thanks a bunch for reporting it, @miketeo

Work to be tracked in https://github.com/ember-learn/builds/issues/82. Leaving this open until that issue is closed, in case other people come here to report a problem.

[2018-03-31 22:08] #3233 closed

[2018-04-01 21:29] #3246 closed

[2018-04-01 23:48] jenweber commented on #3134
@MelSumner would it be bad to just remove the controls altogether? I think they make it look dated.

![screen shot 2018-04-01 at 7 45 26 pm](https://user-images.githubusercontent.com/16627268/38178648-480e16c0-35e5-11e8-9871-ae34be533400.png)

[2018-04-01 23:52] #3129 closed

[2018-04-01 23:53] jenweber commented on #3100
Closed, new deprecation app is deployed :D

[2018-04-01 23:53] #3100 closed

[2018-04-02 03:16] acorncom commented on #3134
I think in the interests of marketing it might be best to keep it. Given that we’re working uphill against the brand recognition that Facebook and Google add to their frameworks, having some of our own seems sensible ...

[2018-04-02 03:33] jenweber commented on #3134
@acorncom I mean just remove the ui controls (the bottom bar and arrows) but leave the carousel

[2018-04-02 12:32] MelSumner commented on #3064
@jenweber is this still an issue? or did your PRs over the weekend resolve this?

[2018-04-02 12:44] jenweber commented on #3064
This would still be a good topic to include, so let's keep it open.

On Mon, Apr 2, 2018 at 8:32 AM Melanie Sumner <notifications@github.com>
wrote:

--
Jen Weber

UI/UX Developer, Boston MA
www.jenweber.me

[2018-04-02 12:59] sivakumar-kailasam commented on #3131
in case you hadn't noticed, on phones:
![emberjs com_team_ pixel 2 xl](https://user-images.githubusercontent.com/604117/38196877-f94ce156-36a2-11e8-8290-6e08bb4114af.png)

[2018-04-03 02:29] acorncom commented on #3134
@jenweber sorry, I missed that one solitary word 🤕

[2018-04-04 08:58] WebStew commented on #3253
I'm having similar problems on IE11 Windows 7 on the API pages.

![ie11-api](https://user-images.githubusercontent.com/1636565/38298204-47e05412-37e6-11e8-9aad-291482ce0b91.png)

[2018-04-04 11:16] SeanHealy33 commented on #3137
I've had a quick look at implementing this @MelSumner

![screenshot from 2018-04-04 12-10-09](https://user-images.githubusercontent.com/6124835/38304386-25aedf60-3801-11e8-8530-7e964b73f85b.png)

Any thoughts on this attempt? It feels like it's a too close to the gear/donate section.

[2018-04-10 00:11] MelSumner commented on #3131
Thanks @sivakumar-kailasam - the issue should be resolved now :)

[2018-04-10 01:31] MelSumner commented on #3131
Obtained the necessary information to update the teams page, closing issue.

[2018-04-10 01:31] #3131 closed

[2018-04-10 02:05] #3253 closed

[2018-04-10 02:05] jenweber commented on #3253
Closed with https://github.com/ember-learn/builds/pull/83

Thank you @miketeo for your help reporting and documenting this! I'm sure this affected other people too. Should be fixed now.

[2018-04-10 15:13] oskarrough opened #3269 "To www or not to www"
I see that the website is accessible at both https://emberjs.com and https://www.emberjs.com.

Shall we set up a redirect to make sure the www-version is used? And where would this be in the stack?

[2018-04-11 13:42] MelSumner commented on #3269
No, the website should be accessible from both.

[2018-04-11 13:42] #3269 closed

[2018-04-12 13:03] anpenava opened #3273 "Hover issue social links in footer"
I think text decoration just needs to be none, I can make PR tonight if nobody have time for styling issues :D

`.footer .footer-social a:hover {
  text-decoration: none;
}`

[2018-04-13 02:19] jenweber opened #3274 "Fix some incorrect details about deprecations & FAQ"
I made some additions that missed the mark a little or were incorrect. Fixing them now.

- FAQ should state "don't future proof your app"
- cli version and deprecations shown are unrelated

[2018-04-13 02:46] jenweber commented on #3274
PR #3275

[2018-04-14 14:49] #3274 closed

[2018-04-15 20:06] MelSumner commented on #3273
@anpenava can you tell me what page you're seeing this issue on? I thought we already fixed it. Thanks! :+1:

[2018-04-16 12:36] anpenava commented on #3273
I am using most recent google chrome browser on macbook, I added screenshot.
[Link to screenshot](https://ibb.co/hGqLz7)

[2018-04-17 00:14] MelSumner opened #3288 "Add mission statement to learning team"
“Empowering Ember users to learn, build, and teach.”

Integrate this into the description of the learning team on the /team page. Content may need to be edited for brevity.

[2018-04-17 16:13] MelSumner opened #3290 "Add contribution invitation to blog"
In order to encourage contributions to the blog, add a link (on the blog page) to invite community contributions in the form of guest posts.

Link for the form: https://airtable.com/shrDbeo2Y80OPG0kC

[2018-04-18 07:54] WebStew commented on #2870
Hi All,

I am struggling to find this information as well. This sort of information is extremely important when trying to put forward a case to the business to use Ember.

In my research of all the current popular frameworks Ember has been rock solid in all aspects once you get through some of the hype of the others - I was a little surprised not to find this information within seconds.

Hope this

[2018-04-18 13:45] rwjblue commented on #2870
@WebStew - I definitely agree with your sentiment. We (as a team) have gone back and forth quite a bit on this topic over the years, let me add it to the agenda for our next meeting to see if we can get this resolved...

[2018-04-18 17:38] jenweber commented on #3290
I think step 1 should be getting the Ember Times into the blog, before we open it up to guests. I'm thinking of that just in terms of MVP

[2018-04-18 20:07] MelSumner commented on #3290
Agree- I think there's already a PR in to get that started.

[2018-04-18 20:30] lulezi opened #3296 "Search doesn't work"
Hi there

The search on https://guides.emberjs.com/v3.0.0/ seems to be broken. After clicking on a search result, the correct page loads, but then redirects to an unfound one.

![2018-04-14 10_58_13](https://user-images.githubusercontent.com/870062/38956485-081cd436-4358-11e8-8b9a-4bfbb260f61f.gif)

[2018-04-19 01:47] kamizen commented on #3288
@MelSumner, I've submitted a simple pull request at https://github.com/emberjs/website/pull/3298.

[2018-04-19 03:58] toddjordan commented on #3296
Thanks for reporting.  Our algolia crawler configuration is woefully out of date: https://github.com/algolia/docsearch-configs/blob/master/configs/emberjs_versions_new.json

The urls are hard-coded for version 2.13 and there is an extra "type" query param being added to the url.  We'd at least need to get the version updated to "release" (https://emberjs.com/api/ember/release) and use the new url

[2018-04-19 04:00] toddjordan commented on #3296
FYI the search on the actual api https://emberjs.com/api/ember/release site uses a different approach and is not affected by this issue.  You should search api documentation with that.

[2018-04-19 13:48] toddjordan commented on #3296
Update: @sivakumar-kailasam is working with the algolia team to debug the issue.

[2018-04-23 10:07] anpenava commented on #3273
@MelSumner sorry on late response, now I can see bug only on this page
 https://guides.emberjs.com/v3.1.0/

[2018-04-29 13:06] MelSumner commented on #3137
Thanks for doing this!

[2018-04-29 13:06] #3137 closed

[2018-05-01 17:06] kategengler opened #3323 "TOC at end of blog posts looks broken"
<img width="425" alt="screenshot 2018-05-01 18 26 39" src="https://user-images.githubusercontent.com/444218/39483389-7ddd97cc-4d72-11e8-90b9-eb40aacc0a86.png">

Very noticeable on https://emberjs.com/blog/2018/04/13/ember-3-1-released.html

Narrowed down source to https://github.com/emberjs/website/pull/3256/

[2018-05-01 19:10] Gaurav0 opened #3324 "Consider adding Ember Data, Engines, and other top addons to "Ecosystem" on learn page"
I think this area is a great place for advertising how awesome the Ember ecosystem is, as long as we don't go overboard.

Top addons I would suggest:
ember-data
ember-engines
ember-cli-mirage
ember-concurrency

I would also suggest a link to Ember Observer in this section.

Another alternative would be to only show what we have but add a "Additional Ecosystem page" of some kind.

Let me know if th

[2018-05-07 13:10] jenweber opened #3330 "Prepare website for the new guides app"
We need to change the URLs that point to the old guides repo and point them to guides-source or guides-app instead. Links to be changed can be found on the readme for this repo and the website itself.

Current behavior:
Links to https://github.com/emberjs/guides

Expected behavior:
Links to https://github.com/ember-learn/guides-source

The PR should have a title that starts with [Guides App Launch

[2018-05-07 13:15] jenweber commented on #3330
This issue is in progress, worked on by axy

[2018-05-11 11:21] efx opened #3338 "Ember.String namespace has TODO"
On  https://deprecations-app-prod.herokuapp.com/deprecations/v3.x/#toc_ember-string-namespace I see:
<img width="719" alt="screen shot 2018-05-11 at 07 19 57" src="https://user-images.githubusercontent.com/472721/39922150-bff334ca-54eb-11e8-88ab-ad51d0b78882.png">

I would think `TODO: update to` should be removed?

[2018-05-17 16:08] Willibaur commented on #3288
@MelSumner Not sure if this PR has been updated but I could help if you want?

[2018-05-17 18:59] thisFunction opened #3346 "Who's Using Ember.js? slider - logos jump down when changing between last and first slide"
When changing between last and first slide the logos jump down.

[Click here to see video](https://photos.google.com/share/AF1QipOTVGDHXNbC_IXDIA8L876swhUvmZKdQTvcV9Heav9GxvCZIs50UJS5K-s59faNRw?key=WTQ4VE9YWEtBaGI4bmJmOVFmVXdYZWNXaHBFWTRR)

[2018-05-18 11:21] bogdansireteanu opened #3348 "Uncaught TypeError: Cannot read property 'currentRouteName' of undefined in Builds section"
When accessing [https://www.emberjs.com/builds/](https://www.emberjs.com/builds/), the page does not load. There is an error in console:

[2018-05-19 23:35] MelSumner commented on #3288
@Willibaur thanks for checking! That would be great- can you look at PR 3298 and help it over the finish line? Thank you!! :+1:

[2018-05-19 23:48] MelSumner commented on #3346
This is a duplicate of https://github.com/emberjs/website/issues/3134 - thank you! :+1:

[2018-05-19 23:48] #3346 closed

[2018-05-20 16:46] #3323 closed

[2018-05-22 21:31] Willibaur commented on #3273
@MelSumner  :point_up:  PR is in place for solving this issue

[2018-05-23 03:49] #3330 closed

[2018-05-23 20:27] ryanrishi opened #3358 "ember-data docs "Defined In" point to Travis build"
The "Defined In" section of all the DS classes point to the built project on Travis instead of the source code: https://emberjs.com/api/ember-data/release/classes/DS . These links end up 404ing since they don't exist on Github.

![screen shot 2018-05-23 at 1 26 38 pm](https://user-images.githubusercontent.com/5033038/40449313-fe02165a-5e8c-11e8-9d34-102d848390b9.png)

[2018-05-23 20:29] sivakumar-kailasam commented on #3358
Thanks for reporting this. It's tracked at https://github.com/ember-learn/ember-api-docs/issues/505 and should be fixed soon

[2018-05-23 20:29] #3358 closed

[2018-05-23 20:42] ryanrishi commented on #3358
Ah thanks, didn't think to look there.

[2018-05-23 20:43] sivakumar-kailasam commented on #3358
@ryanrishi no worries. Feel free to report issues and provide feedback anytime you come across something that could be better

[2018-05-25 09:25] CezaryH opened #3364 ""Defined in" links in API reference are broken"
Links to source are broken, like here
![image](https://user-images.githubusercontent.com/1262544/40537069-4026ad52-600e-11e8-9406-82a83e79a443.png)

[2018-05-25 10:10] sivakumar-kailasam commented on #3364
Thanks for reporting this, its tracked in https://github.com/ember-learn/ember-api-docs/issues/505

[2018-05-25 10:10] #3364 closed

[2018-06-01 02:12] localpcguy commented on #3288
this looks like it was fixed by #3354

[2018-06-01 04:04] localpcguy opened #3378 "Update copy for sponsors page, layout updates"
Copy is dated on the Sponsors page. Also the layout of the sponsors is not organized.

## Current Behavior
The text at the top of the Sponsors page says

## Expected Behavior
It should not say it's early in the life of the project

## Possible Solution
Update the copy, suggested:

Organize the sponsors into a more grid-like layout and normalize the sizing of the logo images

[2018-06-01 04:06] localpcguy commented on #3378
@MelSumner I took a stab at this, and will put a PR in shortly with both the copy updates and the pill box border styles and a grid-style layout

[2018-06-01 04:14] localpcguy commented on #3378
Just noticed there is already an issue and PR fix in for this: #3376. Feel free to check out the updates I made and let me know if you are interested in the PR. Otherwise feel free to close this. Should have searched better.

[2018-06-01 04:36] nummi commented on #3152
Are these still needed? I should have some time. Do we have a screenshot of where they will be used?

[2018-06-01 10:59] acorncom commented on #3288
Thanks @localpcguy it was

[2018-06-01 10:59] #3288 closed

[2018-06-01 11:58] MelSumner commented on #3378
@localpcguy I like yours better :+1:

[2018-06-01 13:54] #3378 closed

[2018-06-04 17:40] abdullah2891 opened #3382 ""Defined In" section of DS api is going 404"
## Current Behavior

Lot of the "Defined in" links in version 3.01 is going o 404 page

## Expected Behavior

It should go to the definition of the code

## Steps to Reproduce

1. Go to Sample link  [Adapter Documentation](https://www.emberjs.com/api/ember-data/3.1/classes/DS.Adapter/methods?show=inherited%2Cprotected%2Cprivate%2Cdeprecated)
2. Go to one of the documentation for example "createRec

[2018-06-04 17:41] abdullah2891 commented on #3382
Addendum
does the check boxes in the Index works ? I change them but they don't seem to work

[2018-06-11 08:49] mydea opened #3392 ""Who's using Ember" section is broken"
## Current Behavior
The "Who's using Ember" section carousel slider seems to be broken.

## Steps to Reproduce
1. visit emberjs.com
2. Scroll down - the carousel is broken

## Environment
Windows 10, Chrome

## Sources
![image](https://user-images.githubusercontent.com/2411343/41221664-0c1f7bc4-6d65-11e8-9752-4c9536aed6db.png)

[2018-06-12 13:15] andreavaghi opened #3399 "The 'More productive out of the box' section of the home page has duplicated content"
(I will gladly make a PR to fix this issue)

## Current Behavior

The 'More productive out of the box' section has duplicated content and is not displaying correctly

![screen shot 2018-06-12 at 15 06 19](https://user-images.githubusercontent.com/639934/41292303-74754148-6e52-11e8-9326-088e95adbc5a.png)

## Expected Behavior

![screen shot 2018-06-12 at 15 06 19](https://user-images.githubusercont

[2018-06-12 15:38] #3399 closed

[2018-06-15 10:30] jessica-jordan opened #3410 "Rename Ember.js Times to Ember Times"
## Current Behavior

Currently we are using both the terms `Ember Times` and `Ember.js Times` on the website and on the blog in particular. It would be good to unify the terms, not only to make the wording clearer, but also to improve SEO of the newsletter.

## Expected Behavior

All references to the `Ember.js Times` should be replaced with `Ember Times` instead.

## Steps to Reproduce

1. Go To

[2018-06-16 15:45] jithin1987 opened #3411 "Broken routing guide at EmberRouter class documentation"
## Current Behavior
Invalid link to routing guide from `EmberRouter` description.

## Expected Behavior

`routing guide` link should take me to Routing Guide documentation web page
## Steps to Reproduce

1. Visit https://www.emberjs.com/api/ember/release/classes/EmberRouter
2. See the text `The EmberRouter class manages the application state and URLs. Refer to the **routing guide** for documentati

[2018-06-17 16:29] #3392 closed

[2018-06-18 15:15] machty opened #3413 "Suggestion: move "Stubbing Services" to top-level page"
The docs on [Stubbing Services](https://guides.emberjs.com/release/testing/testing-components/#toc_stubbing-services) is a subsection in the Testing Components page, but given that stubbing services is useful in acceptance tests as well (and because it's a common question), I think it'd make more sense as a top-level page / link that can more easily be found in the TOC on the left. What do you thi

[2018-06-18 15:25] rwjblue commented on #3413
Totally agree, I do not think it is really related to component testing at all (other than that it is a useful thing to do across the board)...

I'm not sure it should be its own top level page, but perhaps we could make a "FAQ" type thing...

[2018-06-18 15:37] machty commented on #3413
I'd prefer it as a top level page for now unless it's contending with other common techniques that would clutter the sidebar TOC. Maybe we can make it sidebar TOC for now and refactor it into FAQ if these other things pop up.

[2018-06-20 07:50] kennethlarsen commented on #3411
This seems to have been fixed in the source (https://github.com/emberjs/ember.js/blob/master/packages/ember-routing/lib/system/router.js#L30) but not live yet.

[2018-06-20 07:55] kennethlarsen commented on #3348
@bogdansireteanu Are you still experiencing this? It seems to work now.

[2018-06-22 04:20] gabrielgrant opened #3422 "Naming conventions page"
A number of place on the web* link to a "naming conventions" page at https://emberjs.com/guides/concepts/naming-conventions/ however such a page doesn't exist. Searching for a current version of that doc doesn't seem to turn up anything -- the latest version that I've found comes from v1.13: https://guides.emberjs.com/v1.13.0/getting-started/naming-conventions/

Given Ember's emphasis on conventio

[2018-06-30 11:59] jessica-jordan opened #3432 "Include Ember Times Logo into the Blog for Ember Times Posts"
The Ember Times now has a cool new logo that we could use for related posts on the blog and the [Newsletter overview page](https://www.emberjs.com/blog/tags/newsletter.html).

## Expected Behavior

Please include the Ember Times logo in the header of the following pages
- posts, which are tagged as `Newsletter`
- the overview tag pages for the Newsletter: https://www.emberjs.com/blog/tags/newslett

[2018-07-02 11:31] akkshaychauhan opened #3434 "About SEO"
two main issues are there in SEO
1)The Document does not have meta description and
2)Document doesn't use legible font size

![screenshot 111](https://user-images.githubusercontent.com/26792528/42161682-7c179eec-7e19-11e8-97bb-ba50bd711cc8.png)

[2018-07-02 11:48] akkshaychauhan opened #3435 "Color contrast is not Satisfactory"
Background and foreground colors do not have a sufficient contrast ratio
Low-contrast text is difficult for many users to read.
failing elements

![screenshot 113](https://user-images.githubusercontent.com/26792528/42162330-eb359494-7e1b-11e8-9168-bc1e66aa5ba4.png)

[2018-07-02 16:13] #3410 closed

[2018-07-03 18:03] #3432 closed

[2018-07-09 13:39] kennethlarsen commented on #3215
There are possible solutions which need to be discussed:

1) Create an airtable form which triggers a bot to make a PR.
This can definitely be done (however, a bit tricky since airtable still doesn't support notify new submissions via the API). But, we might end up with duplicated info that might desync.

2) Create an airtable form and use the airtable API directly in the ember app.
There are a fe

[2018-07-09 14:00] sivakumar-kailasam commented on #3215
Another way to look at approach 1 is for us to run an app that can be run periodically that could look up the company's name from airtable on the yml file & then create the PR based on it.

[2018-07-11 05:48] bogdansireteanu commented on #3348
@kennethlarsen Everything is looking fine now.

[2018-07-11 06:05] #3348 closed

[2018-07-18 17:50] bracke opened #3462 "Quick start link on builds page leads to crashed site"
Hi Everybody

## Current Behavior
The "Getting Started Guide" button on the builds page (https://emberjs.com/builds/) leads to empty white page with javascript errors.

## Expected Behavior
It should show me the Quick Guide.

## Steps to Reproduce

1. Goto https://emberjs.com/builds/
2. Click on "Getting Started Guide" button
3. A white page is shown with javascript errors in the console.

## Envi

[2018-07-18 23:52] amyrlam commented on #3462
Made https://github.com/ember-learn/builds/pull/118 to fix, let me know if any feedback!

[2018-07-19 00:00] #3462 closed

[2018-07-19 15:43] sivakumar-kailasam commented on #3296
Update: The API search is functional but guides search setup is still in the works

[2018-07-23 06:44] skaterdav85 opened #3470 "Missing API documentation for Controllers on 3.3"
![screenshot 2018-07-22 23 38 07](https://user-images.githubusercontent.com/687449/43061205-2aecfff8-8e09-11e8-8aa1-39e440e3e4ee.png)

[2018-07-23 13:14] lancedikson commented on #3470
I'd even say a half of all the packages are missing 🤔

[2018-07-23 13:51] rwjblue commented on #3470
Yep, this is something we are working on.

@toddjordan already fixed the main issue in https://github.com/emberjs/ember.js/pull/16836.

[2018-08-09 08:58] mgol-sumo commented on #2870
@rwjblue has this been discussed?

[2018-08-09 08:58] mgol commented on #2870
@rwjblue has this been discussed?

[2018-08-10 19:40] btecu commented on #3470
This can be clossed

[2018-08-10 20:28] acorncom commented on #3470
Thanks @btecu

[2018-08-10 20:28] #3470 closed

[2018-08-13 19:01] jad359 opened #3504 "DS.EmbeddedRecordsMixin "defining relationships" link in API documentation leads to 404 page"
## Current Behavior
On https://emberjs.com/api/ember-data/release/classes/DS.EmbeddedRecordsMixin, clicking the link:

leads to a 404 page.

## Expected Behavior
The link should likely be changed to https://guides.emberjs.com/release/models/relationships/ (or equivalent)

[2018-08-23 14:55] camskene opened #3521 "Home page document title"
The home page title is currently 'Ember.js - Homepage'.

Perhaps the word 'Homepage' could be replaced with a short description?

It would be more descriptive for search results?

![image](https://user-images.githubusercontent.com/507499/44533229-0fe06d80-a6c3-11e8-85fc-e189516d3d8d.png)

[2018-08-23 17:31] patocallaghan commented on #3296
@sivakumar-kailasam was coming to open an issue with search but just wondering if it's the same one?

If I search for something from the API docs in the homepage search input, e.g. `Service`, and click a result it brings me to the 3.1 docs, e.g. https://guides.emberjs.com/v3.1.0/applications/services/#ember315515

[2018-08-23 17:37] sivakumar-kailasam commented on #3296
Oh. That's an isolated issue. Please open a separate issue and we'll track it down

[2018-08-24 09:09] patocallaghan opened #3528 "Homepage search redirects to non-latest version of Ember API docs"
## Current Behavior
Searching the API from the homepage's search box results in you being redirected to the 3.1 API docs

## Expected Behavior
I'd expect the search results to redirect to the latest version of the API docs

## Steps to Reproduce
1. Go to https://www.emberjs.com/
2. Type "Service" into the search input
3. Select the top "Services" result from the dropdown
4. The page redirects to h

[2018-08-28 03:52] acorncom commented on #3528
Thanks @patocallaghan. We've been busy reworking the guides app and missed one line that tied search to the latest version of the guides here (https://github.com/emberjs/website/blob/master/lib/versions.rb#L13). Should have a fix out for that shortly ...

[2018-08-28 04:13] #3528 closed

[2018-09-02 15:58] btecu commented on #3121
This can probably be closed.

[2018-09-02 20:39] btecu commented on #2615
This can be closed.

[2018-09-02 22:36] acorncom commented on #2615
Thanks

[2018-09-02 22:36] #2615 closed

[2018-09-03 15:39] #3121 closed

[2018-09-17 18:29] luketheobscure opened #3564 ""Defined In" links for DS.Model v3.4 are broken"
## Current Behavior
Clicking the link on any of the "Defined In" sections for DS.Model go to 404's. [Here's what 'belongsTo' is trying to link](https://github.com/emberjs/data/tree/v3.4.2/addon/-private/system/model/model.js#L854) to as an example. The same link for v3.3 is working.

## Expected Behavior
Clicking the link should go the correct definition.

## Steps to Reproduce
1. Click a "Defined

[2018-09-25 19:56] Kilowhisky opened #3579 "http://www.emberjs.com.cn/ is live and is waaaay outdated."
This comes up a lot when googling. Looks like there is a old ember site running at: http://www.emberjs.com.cn/

Maybe it should be updated or replaced with a cname?

[2018-09-27 10:10] locks commented on #3579
@Kilowhisky we do not control it or can do anything about it unfortunately :\

[2018-09-27 10:10] #3579 closed

[2018-09-27 10:16] locks commented on #3434
Thank you for reporting this!
I ran the audits myself and did not get the legible font size error. I also think those 35% are referring the footer, which is purposefully small so I don't know what the action here would be.

[2018-10-02 12:43] MelSumner commented on #3521
Resolved with the merge of #3591 :+1:

[2018-10-02 12:43] #3521 closed

[2018-10-02 12:46] MelSumner commented on #3435
This is a valid issue- we get around it in the navbar by making the font size large enough, but the button contrast does need work.
![image](https://user-images.githubusercontent.com/4587451/46349298-417c1b00-c617-11e8-9f70-fd4ac9046011.png)

[2018-10-02 12:50] MelSumner commented on #3413
@mansona this one should be moved to the guides app, yes?

[2018-10-02 12:52] MelSumner opened #3593 "Discord Links on Community Page"
## Current Behavior
![image](https://user-images.githubusercontent.com/4587451/46349569-03cbc200-c618-11e8-8e1b-b8c3f9498489.png)

## Expected Behavior
Links should be displayed correctly

## Solution
Use HTML instead of Markdown.

[2018-10-02 12:55] ftonato commented on #3593
I'll look into it!

[2018-10-02 12:56] MelSumner commented on #3290
Closing this issue since we went with the method of encouraging contributions to the Ember Times.

[2018-10-02 12:56] #3290 closed

[2018-10-02 12:57] MelSumner commented on #3435
@wifelette we'll need to work on the branding when Ember orange is used with font sizes smaller than 18px - the white text color doesn't work.

[2018-10-02 13:01] MelSumner opened #3594 "Update security policy page for new chat"
## Current Behavior
https://emberjs.com/security/ references IRC.

## Expected Behavior
Current chat should reference Discord.

![image](https://user-images.githubusercontent.com/4587451/46350068-61acd980-c619-11e8-947f-aa731caa2ed8.png)

[2018-10-02 13:02] jessica-jordan commented on #2212
Should this be included into the 1.13 blog post or rather into the 2.0 blog post as a deprecation? I saw that there already was an open PR for the deprecations Guide [here](https://github.com/emberjs/website/pull/2315/files) which referenced to the 2.0 release instead. What do you think @mixonic?

If this seems valid, I'd like to open another issue for this with additional information so it might

[2018-10-02 13:05] MelSumner commented on #3136
Closing this issue since we settled on something we liked (currently visible in the guides).

[2018-10-02 13:05] #3136 closed

[2018-10-02 13:06] RyanGee commented on #3594
Working on this!

[2018-10-02 13:16] jessica-jordan commented on #2488
Are you alright with closing this issue and addressing this in another one with a bit more description? Maybe a first-time contributor could pick it up during Hacktoberfest @acorncom

[2018-10-02 13:34] jessica-jordan opened #3597 "Adding Spell-Checking For the Website Blog"
## Current Behavior

When editors for the Ember blog are publishing blog posts, there is no check process for spelling errors involved. This means that oftentimes spelling errors still get through to the website and they have to be fixed afterwards in separate PRs.

## Expected Behavior

It would be great to have a spellchecking in place which prevents the build of the website to succeed if any sp

[2018-10-02 13:35] jessica-jordan commented on #2488
I transferred this over to #3597 - feel free to reopen this issue or mention if something is missing in the new one!

[2018-10-02 13:35] #2488 closed

[2018-10-02 13:39] jessica-jordan commented on #2766
It seems the link to the `tests` link has already been removed by now in the [way @acorncom suggested above](https://github.com/emberjs/website/issues/2766#issuecomment-279610030):

<img width="624" alt="capture d ecran 2018-10-02 a 15 37 12" src="https://user-images.githubusercontent.com/8811742/46352092-3d70ed00-c659-11e8-8055-13803835fa26.png">

This seems good to be closed :+1:

[2018-10-02 13:39] #2766 closed

[2018-10-02 13:43] jessica-jordan commented on #2833
In this particular example, I wouldn't even know how to update the code example while still being able to highlight how `compute` works. Do you have a suggestion @Gaurav0?

If not, I'd suggest that this issue could be closed for now

[2018-10-02 13:57] ftonato commented on #3593
@MelSumner I sent a [PR](https://github.com/emberjs/website/pull/3595) with possible solution :v:

[2018-10-02 14:31] #3593 closed

[2018-10-02 16:27] Gaurav0 commented on #2833
It may not be possible in this case. I opened the issue to highlight this usage.

[2018-10-02 16:27] #2833 closed

[2018-10-02 17:58] mercyg commented on #3597
@jessica-jordan I would like to pick this up if anyone is not working on it

[2018-10-02 21:19] jessica-jordan commented on #3597
@mercyg That sounds great! :sparkles:

[2018-10-05 02:12] mercyg commented on #3597
@jessica-jordan I am not familiar with ruby and I have a question. When I do "middleman spellcheck source/blog" I am getting " in `block (2 levels) in spellcheck': undefined method `sub' for nil:NilClass (NoMethodError)"  this error. Any idea why this might be happening?

[2018-10-05 12:18] jessica-jordan commented on #3597
@mercyg I wouldn't know right off the bat unfortunately, but If you like, we can pair on this step. Feel free to ping me here or on the [Ember Discord server as `@jessica`](https://discordapp.com/invite/zT3asNS) anytime if you're up for it!

[2018-10-05 14:17] mercyg commented on #3597
@jessica-jordan ok I will thanks!

[2018-10-08 11:46] kanongil commented on #3139
This does seem like a rather important information to share. For instance I'm looking into updating some backburner code to use `performance.now()`, but I don't know if iOS 8 support is expected.

[2018-10-11 11:39] arch-lord opened #3626 "Apple uses Ember!"
Apple uses Ember on parts of their website. I have already been able to find it in the source code of artist pages like [this](https://itunes.apple.com/artist/xeborch/1438352920).

I suggest updating the carousel on the home page to include Apple's logo, if that's possible.

[2018-10-11 11:51] sivakumar-kailasam commented on #3626
Thanks for opening this issue. We've noticed it over the years too 🙂

 We'd love for someone from Apple to open a PR to add themselves to the list of users. The guidelines can be found on https://emberjs.com/ember-users/.

We can't add them ourselves because of legal reasons.

[2018-10-11 11:51] #3626 closed

[2018-10-18 17:32] amyrlam commented on #3146
Let's put this improvement in https://github.com/ember-learn/ember-styleguide instead, per the conversation on https://github.com/emberjs/website/pull/3613. I updated the issue summary above.

Thanks @ctcpip for getting this started! 😄

[2018-10-20 22:43] #3134 closed

[2018-10-26 02:49] #2965 closed

[2018-10-27 14:12] prasannavijayan commented on #3133
@MelSumner I would like to work on this issue.

Can you please give me a gist would be really helpful.

[2018-10-28 00:50] jenweber commented on #3273
Closed, addressed by PRs to ember-styleguide. Thanks everyone for reporting!

[2018-10-28 00:50] #3273 closed

[2018-10-28 00:54] jenweber commented on #3125
Closed, we fixed this with the migration to the guides-source and guides-app

[2018-10-28 00:54] #3125 closed

[2018-10-28 00:56] jenweber commented on #3235
Closed by #3661 and #3299. Thanks!

[2018-10-28 00:56] #3235 closed

[2018-11-01 21:45] mileszim commented on #3119
What about trying for vector format? Or would that be too much due to the hdpi handlers you're referring to?

[2018-11-08 14:23] devifeoma commented on #2519
Hi everyone, I'm Judith and I will like to contribute to open source project right here but need a mentor so as to guide me.

Thanks

[2018-11-08 17:01] hakilebara commented on #2519
Hi @devifeoma , I would be glad to help. Just sent you an email.

[2018-11-12 09:38] kennethlarsen commented on #3564
Hi @luketheobscure - thanks for submitting this issue!

It looks like it works again. ✨

[2018-11-12 09:38] #3564 closed

[2018-11-12 09:39] kennethlarsen commented on #3411
It seems this is live now and fixed. Closing the issue.

[2018-11-12 09:39] #3411 closed

[2018-11-12 09:42] kennethlarsen commented on #3382
Hi @abdullah2891 - thanks for submitting this issue. It looks like it now works again ✨

Closing the issue. Feel free to re-open if you still face the issue.

[2018-11-12 09:42] #3382 closed

[2018-11-17 20:11] kennethlarsen commented on #3504
Thanks for submitting this issue @jad359 ✨

It looks like my former fix no longer works 🤔

The link has to be changed to https://guides.emberjs.com/release/models/relationships/ in https://github.com/emberjs/data/blob/master/addon/serializers/embedded-records-mixin.js#L80

[2018-11-18 06:41] akashjindal347 commented on #2519
Hey, I'm Akash and I will like to contribute to this open source project and this would be my first contribution so I need someone to guide me.

[2018-12-10 22:40] locks commented on #3338
Moved to depreciations app.

[2018-12-10 22:40] #3338 closed

[2018-12-20 18:17] lifeart commented on #3139
up

[2018-12-21 01:40] jenweber commented on #3139
I asked in the #dev-ember channel on Discord just now.

[2018-12-21 02:10] kategengler commented on #3139
The last RFC to pertain to Browser support is [here]( https://github.com/emberjs/rfcs/blob/master/text/0252-browser-support-changes.md), but it unfortunately only speaks to what was dropped.

Current Ember "for sure" supports, and is [tested] (https://github.com/emberjs/ember.js/blob/master/testem.browserstack.js) against:
- IE11
- The latest version of Chrome on Windows
- Chrome 41 on Windows (fo

[2018-12-21 05:52] lifeart commented on #3139
Any tested mobile browsers? (Safari on iOS 8-11)

[2018-12-21 19:47] lifeart commented on #3139
Refs to related stuff:
https://facebook.github.io/create-react-app/docs/supported-browsers-features https://angular.io/guide/browser-support
https://cli.vuejs.org/guide/browser-compatibility.html

[2018-12-26 15:17] simonihmig opened #3749 "Broken Google maps"
## Current Behavior

Google Map cannot be loaded. See below for a screenshot.

## Expected Behavior

Google Maps should load correctly.

## Steps to Reproduce

1. visit https://www.emberjs.com/community/meetups/

## Possible Solution

Seems GMaps is loaded without an API key, which does not work anymore.

## Sources

![image](https://user-images.githubusercontent.com/1325249/50449745-7c959e00-0929

[2018-12-28 12:44] mansona commented on #3749
Howdy folks 👋

I've just implemented leaflet in the new website here https://github.com/ember-learn/ember-website/pull/96/ but I don't know if we need to fix it on the old one before the new one is launched 🤔

@MelSumner any thoughts? do you think we can hold off and just release the new website to fix this?

[2019-01-08 10:36] mariogintili opened #3762 "Docs for Route don't open on 3.6"
A picture is worth more than a thousand words 😄

![image](https://user-images.githubusercontent.com/3522106/50825555-367d0900-1331-11e9-8683-b1a912163e26.png)

[2019-01-08 10:46] mansona commented on #3762
@mariogintili thanks for the issue report! Any chance you can open it in https://github.com/ember-learn/ember-api-docs? If you open it there then the people that can help fix it are more likely to notice the issue and respond (because they may not be monitoring this repo) 👍

[2019-01-08 10:50] mariogintili commented on #3762
https://github.com/ember-learn/ember-api-docs/issues/588

[2019-01-08 10:50] #3762 closed

[2019-01-08 11:39] mansona commented on #3762
thanks @mariogintili you're a ⭐️

[2019-01-09 12:08] #3504 closed

[2019-01-16 15:06] #2751 closed

[2019-01-16 15:07] locks commented on #2865
Addressed meanwhile.

[2019-01-16 15:07] #2865 closed

[2019-01-16 15:07] #2946 closed

[2019-01-16 15:09] locks commented on #3215
@sivakumar-kailasam we have done work in this area, what's the current status?

[2019-01-16 15:14] sivakumar-kailasam commented on #3215
I haven’t tried anything but I think @kennethlarsen did

[2019-01-16 16:01] mansona commented on #3215
There is a new system on the https://github.com/ember-learn/ember-website site that should significantly improve this situation. Each company has its own MD file (like most of our other data) and it currently works well with a generator approach

@kennethlarsen we should chat about this if you're still planning to look into it 👍

[2019-01-16 17:11] mansona commented on #2951
It seems to say that it ended on with the release of 2.15 https://emberjs.com/blog/2017/09/01/ember-2-15-released.html

I guess this is **after** 10 releases instead of **on** the 10th release. The only reason I'm even asking is because I'm working on https://github.com/ember-learn/builds/pull/202 which is trying to be more specific about all this 😂

[2019-01-17 07:35] kennethlarsen commented on #3215
@mansona I didn't get far with this because there didn't seem to be an agreement on the approach. The only thing there seemed to be a consensus about is that it would be neat with a form directly on the website to make it easier for everyone to add their company.

[2019-01-17 07:39] mansona commented on #3215
@kennethlarsen how about a form that created a PR? That seems like something within the realms of possibility with the new system 😂

[2019-01-17 08:07] kennethlarsen commented on #3215
@mansona That sounds just like the kind of wizardry we need! 🧙

[2019-01-17 09:39] mansona commented on #3215
🎉 I'll add it to the list so 😂 Let me know if you would like to pair on a solution to this.

Also if you (or anyone) could give me an indication of the priority of this that would be great. Do we have a feel for how much of a problem it is for people? We seem to get a steady stream as is 🤔

[2019-02-01 21:13] amyrlam opened #3796 "Markdown numbers not displaying correctly"
Relates to: https://github.com/emberjs/website/pull/3793

Maybe we fix this on https://github.com/ember-learn/ember-blog instead?

## Current Behavior
![image](https://user-images.githubusercontent.com/1372946/52149758-aa55bd00-2622-11e9-9158-84573b38253b.png)

## Expected Behavior
Numbers should display as 1. and 2. as typed

## Steps to Reproduce
1. Visit https://emberjs.com/blog/2019/01/26/embe

[2019-02-09 11:15] #2771 closed

[2019-02-13 06:32] MinThaMie commented on #3749
I think just the API key they recently introduced is missing: https://developers.google.com/maps/documentation/javascript/get-api-key

[2019-02-13 08:32] simonihmig commented on #3749
Yes, but that requires providing billing details, and costs could occur depending on the actual usage volume. So that's probably a blocker for an OSS project without a corporate backer willing to pay that!?

[2019-02-13 08:43] MinThaMie commented on #3749
True :( It's sad that they choose to do this...

[2019-02-13 09:15] mansona commented on #3749
I wouldn't worry about this issue too much as it is solved on the new website: https://ember-beta-website.netlify.com/community/meetups

I don't feel comfortable closing this issue until the swap-over has actually happened though 🤔

[2019-02-13 09:29] simonihmig commented on #3749
@mansona nice!

Had to file an issue though: https://github.com/ember-learn/ember-website/issues/152 🤷‍♂️

[2019-02-20 10:36] zsoldosp commented on #2870
this issue and #3139 seem to be duplicates, and #3139 has more recent comments (but still no definitive answer :( )

[2019-02-20 10:41] zsoldosp commented on #3139
https://guides.emberjs.com/release/configuring-ember/build-targets/ `config/targets.js` has an explicit list of browsers the given ember app supports.

Is my understanding correct that if my app uses some code that cannot be 'backported' to some browser (for whatever reason), then `ember build` will fail?

[2019-02-27 20:32] amyrlam opened #3839 "Fix styling of Ember Times icon"
## Steps to Reproduce
Go to https://emberjs.com/blog/2019/02/22/the-ember-times-issue-86.html

![image](https://user-images.githubusercontent.com/1372946/53520914-ab480600-3a8b-11e9-9914-371eb0af5730.png)

[2019-03-06 12:14] sonic1981 opened #3850 "Very confusing sentences around preventDefault"
## Current Behavior
On the page https://guides.emberjs.com/v3.8.0/templates/actions/ there is the following text:

This is extremely confusing. I actually had to knockup a test program to understand what it was trying to say. TBF, this functionality is very confusing also but lets park that

## Possible Solution
Illustrate this using examples:

[2019-03-09 14:43] locks commented on #3850
Tracking issue in PR, since it is not possible to transfer issues across organizations. Thanks for the help!

[2019-03-09 14:43] #3850 closed

[2019-03-12 15:16] mixonic opened #3859 "Raw survey data links dead"
At the bottom of these pages:

* https://emberjs.com/ember-community-survey-2016
* https://emberjs.com/ember-community-survey-2017
* https://emberjs.com/ember-community-survey-2018

There are links to the "raw survey results". Those links point at CSV files, the list of those link targets are:

* https://emberjs.com/ember-community-survey-2016/ember-community-survey-2016-results.csv
* https://embe

[2019-03-15 11:38] #3859 closed

[2019-03-19 02:02] mixonic opened #3861 "Should this repo be deprecated?"
Should this repo be deprecated and contributors forwarded to https://github.com/ember-learn/ember-website for participation in the project?

[2019-03-19 15:40] jenweber commented on #3861
Yes, that is correct. I will add a note to the readme if it’s not done already

[2019-03-20 16:05] fpauser opened #3862 "Missing svg image in "Who uses Ember.js""
I added our company lately with an svg image for the company logo. Directly after my pull-request was accepted it worked, but today I noticed a broken image src as shown:

[code]

I guess the image fingerprinting somehow shredders svg files...

[2019-03-21 23:44] acorncom commented on #3861
We're deprecating this repo, thanks @mixonic

[2019-03-21 23:44] #3861 closed

[2019-03-21 23:46] acorncom commented on #3172
This work has been finished, closing this issue 🎉

[2019-03-21 23:46] #3172 closed