[2015-04-05 11:55] #2115 closed

[2015-04-06 02:28] trek commented on #2113
@bsclifton can you add this to https://github.com/emberjs/api as well?

[2015-04-06 03:28] bsclifton commented on #2113
Done https://github.com/emberjs/api/pull/25
:smile:

[2015-04-06 11:30] igorT opened #2123 "Image for the CC license 404s"
At http://emberjs.com/legal/ near the bottom there is supposed to be a image for the CC license, but it is 404ing with a link to `src="images/legal/license-cc_by_nc_sa.png"`

[2015-04-06 22:16] kategengler opened #2124 "Search/autocomplete from site to a result from the guides goes to 1.10 version"
Search on emberjs.com for 'query' and then select the first result for 'Routing: Query Parameters', it will take you to that page on the 1.10 version of the guides. I would expect it to take me to the newest stable version.

The same exercise from guides.emberjs.com goes to the 1.11 version of the guides.

[2015-04-06 23:56] rwjblue commented on #2124
Yeah, this is intended I believe.  See https://github.com/emberjs/website/issues/2111#issuecomment-88454878.

[2015-04-07 00:46] kategengler commented on #2124
This feels like a bit of a different scenario, though: Going to the 1.10 guides was the result of clicking on something the emberjs.com site provided and the search that looks identical on the guides page behaves like I would expect (searches the version you have selected). I would expect the website to be returning links to the latest version in the search or not return guide results at all.

[2015-04-07 10:23] ohcibi opened #2125 "Component testing guides are wrong"
The component testing guides state that we would use "integration test helpers to interact with the component". However when setting up the component tests like normal unit tests there are no "integration test helpers" available... As far as I understand those helpers are only available if one calls `App.injectTestHelpers`, but there shouldn't be a `App` in unit tests.

So this section needs clari

[2015-04-07 10:25] ohcibi opened #2126 "Jsbin examples broken"
Almost all jsbin examples in the guides are broken. Sometimes because they require the "latest" ember version (which then fails because the example was made before one needed to also require the ember-static-template-compiler), sometimes there are some internal errors which are not that obvious. Examples should always require a fixed version of all libraries they are using.

[2015-04-07 11:53] vire commented on #2126
@ohcibi please see https://github.com/emberjs/guides/issues/72 for more info.

[2015-04-07 18:08] orochi235 commented on #2100
+1. This is atrocious UX. When you're browsing an ordered list, you want your vision to flow in a straight line, and not a sawtooth wave pattern.

[2015-04-09 01:02] trek commented on #2100
@terryroe this oddly didn't use to be the case. Can you figure out when it was introduced?

[2015-04-09 01:04] trek commented on #2124
The website uses Swiftype's "crawling" feature to search. I think eventually guides results will not appear in the website search, only in the guide's search. Nobody was really clear on how we can do sitewide search across libraries and versions of libraries in a sane way :-/

[2015-04-09 05:56] kategengler commented on #2124
I think that the results not appearing on the main site at least makes sense, it's at least much better than them being stuck at 1.10.

[2015-04-09 05:56] #2124 closed

[2015-04-17 23:36] wifelette commented on #1895
Closing this issue because we're (mostly @sandraor, and I'm helping!) getting to work on this! We'll get it into a PR once there's stuff to share :)

[2015-04-17 23:36] #1895 closed

[2015-04-21 11:24] changeweb opened #2144 "`keeping-templates-up-to-date` of `understanding-ember` of v-1.11.0 page not found"
`keeping-templates-up-to-date` of **v-1.11.0** page is showing **404 page not found error**. Is it intentional?

[2015-04-21 14:43] kpfefferle commented on #2144
I believe this is actually an issue with the Ember Guides and has been reported on the Guides repo here: https://github.com/emberjs/guides/issues/242

[2015-04-21 15:06] #2144 closed

[2015-04-23 17:35] #2123 closed

[2015-04-26 21:23] FractalizeR commented on #1480
How actual is this book? Is it regularly updated? There is no publishing date there.

[2015-04-26 21:28] JahlomP commented on #1480
I have started another version due to the changes made to the original guides. https://leanpub.com/emberjsguidesv111

[2015-04-27 12:24] FractalizeR commented on #1480
Yep, I see, thanks. In the meantime I read it in Evernote, pulling all the pages into the notepad ;)

[2015-04-29 21:57] pixelterra opened #2154 "bad link"
The promises link on this page http://guides.emberjs.com/v1.10.0/testing/testing-xhr/ is 404

http://emberjs.com/api/classes/Ember.RSVP.Promise.html

[2015-04-30 00:51] supairish commented on #1881
@trek Can you clarify (beginner here).  The v1.10.0 guides still have JSBins in them, for example http://guides.emberjs.com/v1.10.0/components/passing-properties-to-a-component/

Are you saying those are going away like they are in the v1.11 guide?  Or are the v1.10 guide JSBins just a no fix at this point?

[2015-04-30 09:20] eliotsykes opened #2155 "HTTPS for Ember family of sites"
It'd be great to see the Ember family of sites served securely over TLS/SSL.

[2015-04-30 13:07] trek commented on #1881
Each revision of the guides is stored as a snapshot. If external dependencies (like JSBin) for older snapshots stop working, we're unlikely to go back to all previous snapshots and fix them. We removed JSBins in v1.11.0 mostly in preparation for Ember 2.0 applications which cannot be written as a series of globals in one JS file (so cannot work with JSBin)

[2015-05-02 18:52] igorT commented on #2154
Thanks for reporting the issue. Do you want to submit a PR that fixes this?
Thanks

[2015-05-06 19:46] ksnyde opened #2165 "'needs' documentation"
I was struggling with a very basic `needs` use case where a nested route needs access to a parent and found the documentation missing some really important language nomenclature. I think the following SO post indicates the problem and solution very well:

I hope for the future sake of others that this can be incorporated into future documentation. BTW, if there is a more helpful way to get this ki

[2015-05-07 14:41] igorT commented on #2165
I feel this becomes much clearer once people stop using `resource` and moves over to `route`

[2015-05-07 15:32] ksnyde commented on #2165
No doubt you're right but the main point here is being clear about the syntax when using a nested `route`.  Maybe we could include a small "nudge" away from `resource` while we're at it.

[2015-05-07 15:33] mixonic commented on #2165
`needs` will be replaced by using `Ember.inject.controller`, or since controllers are going away even better would be a service.

I do not think we will be adding fresh documentation about how to use controllers to solve problems.

[2015-05-07 15:42] ksnyde commented on #2165
@mixonic I understand that everything must be prioritized (and the list is always long) but "needs" will be used for a some time to come in existing Ember apps (as will controllers). What we're talking about is a few lines of documentation, right? I'd just be careful about supporting the greater community rather than the front of the train (which I admit is a much nicer place to sit). ;)

[2015-05-07 15:43] ksnyde commented on #2165
If there's no interest then just close this issue but I'd vote for adding the documentation. I'll step out of this conversation at this point. My "needs" have been met.

[2015-05-07 16:35] jgwhite commented on #2165
@ksnyde I knew you wouldn’t be able to resist closing with a pun :grin:

[2015-05-07 17:18] ksnyde commented on #2165
@jgwhite I guess I'm predictable which is only a half step down from reliable

[2015-05-07 17:59] mixonic commented on #2165
Yeah sorry if I confused the matter. If there is a suggestion the documentation be tweaked here a PR is 100% welcome. Definitely want to guide people to the right place. Happy to review and make sure it gets in.

[2015-05-19 18:18] protonate opened #2178 "Notes on bound attribute syntax need clarification"
HTMLBars bound attribute syntax differs from Handlebars with respect to how booleans are handled. I understand there is a planned {{boolean-attribute}} helper but until then the release notes for Ember 1.11 are misleading when migrating a Handlebars app.

From [EMBER.JS 1.11.0 AND 1.12 BETA RELEASED](http://emberjs.com/blog/2015/03/27/ember-1-11-0-released.html)
[code]
In Handlebars this will work

[2015-05-21 03:03] erichonkanen opened #2181 "Mention namespacing for Mixin's that need separation"
Hello,

Recently I ran into an issue where I had a mixin that was used in more than once view which resulted in a conflict when one of the views was destroyed, a binding to window.scrollTop was destroyed for both views...

I was able to resolve this using jquery's bind namespacing and thought maybe a mention in the docs would help the next guy...

Here is the mixin code:

[code]

Here is the jquer

[2015-05-21 21:16] igorT commented on #2181
Wouldn't you usually bind to your own element?

[2015-05-22 01:48] erichonkanen commented on #2181
@igorT what do you mean by that? the code is binding the scrolled() method in whatever view uses the mixin to window.scroll/touchmove. If you have suggestion on better way let me know! the namespacing is what made it work for multiple component/views

[2015-05-23 13:26] sbayar opened #2186 "How to pre-compile???"
is there any way to precompile handlebars using gulp?? because the example showed in gulp-ember-template-compiler (npmjs) doesn work with Ember v. 1.12.0.94b8cb6c

Chrome error: "Uncaught Error: Assertion Failed: template must be a function. Did you mean to call Ember.Handlebars.compile("...") or specify templateName instead?"

[2015-05-28 09:12] Iftahh opened #2189 "tabs in examples in emberjs.com have no title text"
See for example screenshot of the Gravatar example (but the same issue exists at all tabs)
![screen shot 2015-05-28 at 12 08 14 pm](https://cloud.githubusercontent.com/assets/798544/7856542/a6b1c8f2-0532-11e5-9981-c951eb90c57d.png)

[2015-06-09 12:26] pavell-hyuna commented on #629
Thank you @jaromirmuller

[2015-06-15 03:19] mixonic opened #2212 "1.13 blog post: Add breaking change message for observable.set"
re: https://github.com/emberjs/ember.js/pull/11213

[2015-06-15 09:43] szimek opened #2213 "Improve search results by displaying results from api, blog posts and guides separately"
I'm not sure if it's possible with Swiftype, but it would be really great.

I was looking for a way to scroll page to the top on route transition, but only if the previous and the next route are not from the same "section". I found info about `Route` and its `willTransition` event and that `Transition` object is passed to the handler. However, finding any info about `Transition` object itself in d

[2015-06-17 05:50] acorncom commented on #2186
Seems like this would be better asked on Stack Overflow or Slack?

[2015-06-17 06:52] rwjblue commented on #2186
Agreed.

[2015-06-17 06:52] #2186 closed

[2015-06-18 08:52] eccegordo commented on #2213
yes, this would be very nice. Most of the time search is basically useless for me because I am trying to find something in a specific context such as API docs, and results from other contexts get in the way.

Breaking apart where the search results come from or even where you want to search would be very handy.

I am wondering if you could do something with keywords kind of like the old google sea

[2015-06-19 03:03] crazyboy867 commented on #1912
im having the same problem....any solutions?

[2015-06-22 21:00] acorncom commented on #2189
@Iftahh I'm assuming you are primarily talking about on the home page of the site?

[2015-06-22 21:10] acorncom commented on #2189
Fixed in #2218

[2015-06-24 21:05] mixonic opened #2222 "1.13 blog post: Add breaking change message for Safari's 'double finally on error bug'""
- [ ] https://github.com/emberjs/ember.js/pull/11547

[2015-06-26 07:21] mike1o1 opened #2225 "Add link to Deprecations page on Guides or API page"
When a developer uses a deprecated API or functionality, or receives a warning, the console logs the information with a link to the [deprecations page](http://emberjs.com/guides/deprecations). However, from what I can tell this deprecations page is never linked to anywhere in the guides.

[2015-06-26 13:38] rwjblue commented on #2225
That is correct, it is not linked from the website or the guides.  Not sure where that link should live, but I agree we should generally have one....

[2015-06-26 17:43] igorT commented on #2225
This will complicate things if we decide to host ED deprecations on a separate page

[2015-06-26 21:17] mixonic commented on #2225
Any link should likely go to http://emberjs.com/deprecations/, which could link to Ember 1.x, 2.x, Ember-Data etc.

[2015-07-04 23:19] typeoneerror commented on #2225
Submitted a PR related to this just a few days easlier: https://github.com/emberjs/website/pull/2219

[2015-07-06 13:20] Frozenfire92 opened #2243 "API Component missing reference to targetObject"
I believe it is a common paradigm to want to access the parent's controller from within a component (especially now that views are changing over to components)

This is the only reference I found to it (which works as expected) http://stackoverflow.com/a/28663571/4330669 however the link to the ember API docs in that SO is gone, did this get removed by mistake?

[2015-07-06 15:20] mixonic commented on #2225
I'm closing this as resolved, but let me know if I've missed anything.

[2015-07-06 15:20] #2225 closed

[2015-07-08 09:32] kitsunde commented on #2155
Adding on. We can't use the CDN versions to create JSFiddles unless `build.emberjs.com` uses HTTPS. It gets blocked by chrome. I.e. this should work: https://builds.emberjs.com/release/ember-data.js

[2015-07-08 17:40] krzkrzkrz opened #2247 "Bad link pointing to the ember data filter repo"
http://emberjs.com/blog/2015/06/18/ember-data-1-13-released.html#toc_ds-store-filter-moved-to-an-addon mentions a link: https://github.com/ember-data/ember-data-filter

Clicking on https://github.com/ember-data/ember-data-filter redirects the user to http://emberjs.com/blog/2015/06/18/ember-data-1-13-released.html instead

[2015-07-15 23:45] Gaurav0 opened #2256 "Missing Deprecations in Deprecations Guide"
Please add to the deprecations guide here: http://emberjs.com/deprecations/v1.x/.

These are all of the deprecations in 1.13.x that need to be covered:

- http://emberjs.com/blog/2015/06/12/ember-1-13-0-released.html
  - [x] `Ember.CoreView` (63deb39ca7db138fe019765af79289131f18556f)
  - [x] `Ember.View` (#2195)
  - [x] `Ember.CollectionView` (#2265)
  - [x] `Ember.ContainerView` (#2265)
  - [x] `

[2015-07-17 20:27] pdud commented on #2247
This was fixed with #2257

[2015-07-17 20:45] rwjblue commented on #2247
Thanks @pdud, closing...

[2015-07-17 20:45] #2247 closed

[2015-07-19 19:51] szimek opened #2260 "Deprectation of ArrayController is not documented anywhere"
In http://emberjs.com/deprecations/v1.x/ docs `ArrayController` is not mentioned at all. The only information I get when running my app is: `Ember.ArrayController is deprecated.`. There're no docs describing how to migrate `ArrayController` to plain `Controller` if one uses methods from `Ember.MutableArray` class. Even if it just said something like: "set your model to an instance of `Ember.Array`

[2015-07-19 19:55] stefanpenner commented on #2260
Ember.Set wasn't public ever, and ES6 Set is not observable you are correct. But this is not at all related to ArrayController issue that i believe is the primary issue.

yup, seems like an omission. cc @locks @cibernox @trek

[2015-07-19 20:16] szimek commented on #2260
@stefanpenner Yeah, the issue is mainly regarding `ArrayController`. I mentioned `Ember.Set`, because I was thinking about creating a separate issue for that as well, but if it was private then I agree that it's not really a bug.

[2015-07-19 20:29] rwjblue commented on #2260
https://github.com/emberjs/website/pull/2258 addresses this, but needs review.

[2015-07-19 20:36] szimek commented on #2260
In this case I think this issue can be closed as a duplicate. I'll add a comment to #2258.

[2015-07-19 20:36] #2260 closed

[2015-07-20 11:36] xlfe commented on #2178
Yeah this got me too & took a while to figure out what was going on

For example:
http://emberjs.jsbin.com/kaxicarufe/1/

[2015-07-20 16:42] martndemus opened #2261 "Add to deprecation guide for Ember.ContainerView"
`ContainerView` will become deprecated. See emberjs/ember.js#11818 and emberjs/ember.js#11826.
I'd liked to do it myself but I have very little experience with it myself. Therefore I think someone with better experience with `ContainerView` should write it.

The deprecation message will point to the url `http://emberjs.com/deprecations/v1.x/#toc_ember-containerview`

[2015-07-24 14:50] adam-knights opened #2262 "Testing components section needs updating to reflect integration test as default"
http://guides.emberjs.com/v1.13.0/testing/testing-components/

The setup section suggests that `ember generate component pretty-color` would generate a unit style test whereas now it generates an integration test by default.

The integration style examples lower down the page could all do with a refresh to match latest blueprints at the same time.

[2015-07-24 22:35] AaronSikes opened #2263 "Methods/properties layout order"
Currently the docs list properties like this:
[code]
I find this very difficult to find a result in.
I'd prefer:
[code]
![screen shot 2015-07-24 at 6 33 17 pm](https://cloud.githubusercontent.com/assets/1588273/8886014/ccb39eea-3232-11e5-8e80-1abb95b906c5.png)

[2015-07-25 01:19] petey opened #2264 "It appears that toggling inherited checkbox enables private members in api docs"
Here's a test case for you:

* Navigate to http://emberjs.com/api/classes/Ember.ArrayProxy.html
* Click on the checkbox labeled inherited
   * All methods disappear
* Click on checkbox labeled inherited
   * More methods appear than existed before (includes private methods)

[2015-07-25 18:53] stefanpenner commented on #2264
relevant HTML: https://github.com/emberjs/website/blob/master/source/_api_options.html.erb
relevant JS: https://github.com/emberjs/website/blob/59837b08c5bbcbe6579094e78c4f0d15d0139a17/source/javascripts/app/api/api.js

[2015-07-25 19:21] chriskrycho commented on #2264
This comes up because of an overlap between the types. Some elements are *both* `inherited` and `private`. The toggle behavior does not distinguish between them; it just toggles the value for *every* `inherited` member, and that includes some `private` members. (Notably, not all: if you go ahead and click the Private checkbox, you'll see that the non-inherited private members appear.)

Where is th

[2015-07-25 20:06] ATMartin commented on #2264
I may have a fix for this but I'm juggling an old bad commit upstream of my fix. Will be just a few on the PR for review.

[2015-07-27 15:29] EndangeredMassa commented on #2262
The navigation should also probably include a section for Integration Tests. That's where I looked first to find more info on how these work.

[2015-07-28 15:57] stevehanson opened #2270 "Search isn't working in Ember guides"
When I try to enter a search on http://guides.emberjs.com/v1.13.0/, nothing happens (no typeahead results, and nothing when I hit enter either), and I see the following in my console:

![image](https://cloud.githubusercontent.com/assets/1691324/8936284/f4f05038-3516-11e5-8fcb-c8d217499b34.png)

Tested on the latest Chrome and Safari 8.0.7.

[2015-07-28 18:19] #2263 closed

[2015-07-29 14:08] frontend-london opened #2271 "Examples on Routing -> Query parameters are not working"
http://guides.emberjs.com/v1.13.0/routing/query-params/

All examples try to use library http://builds.emberjs.com/ember-latest.js which doesn't exists.

[2015-07-29 14:37] stevehanson commented on #2270
This looks like it's working this morning.

[2015-07-29 14:37] #2270 closed

[2015-07-30 21:33] #2154 closed

[2015-07-31 00:09] acorncom opened #2275 "Make the Tomsters page easier to find"
Right now, in order to get to it, you have to click the Legal link in the footer and then the "view the official Tomsters" link in the middle of the page.

Possible location would be on the Community page (or even nicer, add a tiny Tomster head instead of a map icon on the Meetup page and show it on hover).

Definitely not urgent, so if this is better to close in the interests of focusing on other

[2015-07-31 16:23] wifelette commented on #2275
You are indeed correct; I forgot we even put the link in Legal and thought it was even worse. Easter Egg Style, you only get to see it if you already know to go to the direct URL :stuck_out_tongue_winking_eye:

So I thought about this when I started adding the pages. The main reason I didn't think through a more prominent path was that at that time we were jumping into the optimistic site-wide red

[2015-07-31 16:36] wifelette commented on #2275
Chat complete, fix live :smile:

http://emberjs.com/community/

[2015-07-31 16:36] #2275 closed

[2015-08-03 12:37] maxcal opened #2276 "Don't uppercase API headers."
![image](https://cloud.githubusercontent.com/assets/765647/9037466/ffbaf660-39eb-11e5-8f5e-ef725edbc57e.png)

*Now is it JSONApiSerializer or JSONAPISerializer  or ...*

While the uppercase headers might look nice they are a usability disaster as it makes it difficult to figure out what the components are actually named - which is pretty dang important for an API in a case sensitive language!

Rem

[2015-08-03 22:43] jacobbridges opened #2278 "Broken link in guide: v1.13.0/models/"
Hi guys, found a broken link in the guide on the models page.

In this [section](http://guides.emberjs.com/v1.13.0/models/#toc_convention-over-configuration-with-json-api) you will find a paragraph:

The bolded text links to http://guides.emberjs.com/v1.13.0/models/jsonapi.org which does not exist.

Thanks so much for everything you guys do!

[2015-08-06 15:15] acorncom commented on #2278
Pull request for the change made at https://github.com/emberjs/guides/pull/550

@jacobbridges, in the future, there is a pencil icon up at the top of each guides page (I just learned about it myself last week). It will take you to the right place and make it super easy to send in a patch :-)

[2015-08-06 20:25] trek commented on #2276
handled by https://github.com/emberjs/website/pull/2277

[2015-08-06 20:25] #2276 closed

[2015-08-06 21:40] locks commented on #2278
@rwjblue please to close, as emberjs/guides#550 has been merged

[2015-08-07 21:38] eaglevision20 opened #2280 "Adding sites to "Users""
I was able to pull down the repo, followed the instructions for adding an image and link to the users page. But when I go to push my branch up I do not have permissions. I did not see anything in the docs on who I needed to contact for permissions?

What is the proper channel to go through to get permissions?

Thanks!

[2015-08-07 22:23] #2280 closed

[2015-08-10 05:41] wifelette commented on #2256
I just went through all the minutes, added the weeks that were missing (as in, happened after this initial issue was filed) and pulled in all the specific details of the deprecations in each, as sublists. People have been fixing them piecemeal, so I wanted to be able to track exactly what was and wasn't done.

Also, breaking it down like this hopefully makes these smaller tasks, so more people can

[2015-08-10 12:25] kitsunde opened #2291 "API docs for DS.ManyArray doesn't show all inherited methods."
See: http://emberjs.com/api/data/classes/DS.ManyArray.html

It doesn't list down import methods like `removeObject` et. al. from `Ember.MutableArray`.

[2015-08-10 13:45] trek commented on #2256
I think @dstaley is working on a much larger version of this: https://github.com/dstaley/ember.js/issues/1

Although I don't understand why he's tracking the issue on his branch vs mainline

[2015-08-10 13:46] #2278 closed

[2015-08-10 13:48] trek commented on #2256
Could the two of you work together to flesh out the full list please? Thanks.

[2015-08-10 13:48] trek commented on #2261
Closing in favor of #2265

[2015-08-10 13:48] #2261 closed

[2015-08-10 13:54] trek commented on #2165
Closing since `needs` is going away.

[2015-08-10 13:54] #2165 closed

[2015-08-10 13:55] trek commented on #2125
This is likely fixed on latest? The [guides project](https://github.com/emberjs/guides) has changed significantly since April

[2015-08-10 13:55] #2125 closed

[2015-08-10 13:56] trek commented on #2271
We're removing links to JSBins (and other resources outside our control) since they tend to be brittle.

[2015-08-10 13:56] #2271 closed

[2015-08-10 13:58] trek commented on #1054
I don't think we have the bandwidth for this currently. In the 2.x series feature authors will be required to submit to a beta features guide and will be required to audit and update guides before we merge their feature.

[2015-08-10 13:58] #1054 closed

[2015-08-10 16:46] ohcibi commented on #2125
@trek the stuff here: https://github.com/emberjs/guides/blob/master/source/testing/testing-components.md still shows unit testing code like `var component = this.subject();`. In current blueprints component-tests are integration tests and the test code in the blueprint looks completely different (i.e. there is no `this.subject` and `this.render` actually needs a handle bars template as parameter).

[2015-08-10 16:58] wifelette commented on #2256
I commented there. Hopefully he'll jump in here and help :)

[2015-08-10 17:03] dstaley commented on #2256
@wifelette Definitely up for helping out! Just let me know what makes the most sense as far as where to put tracking issues, where to send PRs, etc. My original idea was to track the issues on my branches as PRs are sent to the branch, and then send on one big PR to mainline when it was done. If it makes more sense to track here and send PRs to a branch or something else just let me know.

[2015-08-10 17:09] wifelette commented on #2256
Howdy @dstaley! I think my thought was mostly the usual—PRs submitted to the website repo, added as a reference here, checked off when merged :)

I can't help _write_ much of this content, but I _can_ keep on top of it and get the PRs merged as quickly as possible, which has been part of the issue in the past. As in, sometimes people try helping with this, but then the PRs just sit around and wast

[2015-08-10 18:29] wifelette commented on #2256
Update: a bunch of helpful folk are hanging in the #documentation channel on the [Ember Community Slack](https://ember-community-slackin.herokuapp.com/), interested in this very topic :)

[2015-08-11 23:46] jameshsi opened #2301 "Documentation Request for Ember"
Hi there!

There seem to be some reserved keywords in Ember Components that could use some documentation.

Beyond `classNames`, `attributeBindings` etc. there are others like `states` and `currentState`. Are there any more?

e.g. http://discuss.emberjs.com/t/why-is-having-a-computed-property-breaking-all-my-tests/7805

Thanks :+1:

[2015-08-13 02:34] #2119 closed

[2015-08-13 05:42] Gaurav0 opened #2306 "Instance initializer deprecation guide link is broken"
There is a link in http://emberjs.com/deprecations/v1.x/#toc_access-to-instances-in-initializers
to http://emberjs.com/deprecations/v1.x/deprecations/1.11/instance-initializers which results in 404

[2015-08-13 05:53] Gaurav0 opened #2307 "Please add reasons for deprecations to deprecation guides"
As per conversation with @wycats in context of https://github.com/emberjs/rfcs/pull/84, documenting the reason(s) for a deprecation will be mandatory in future deprecation guides.

Could we please also add these to the 1.x deprecation guides? This will be helpful in explaining to coworkers and management why so many changes to Ember have been necessary. Thank you.

[2015-08-13 05:57] wycats commented on #2307
@Gaurav0 We're still pretty behind on just documenting all of the deprecations, but I'll try to fill in the rationale that I remember for the most recent deprecations once we're closer to full coverage on transition guidance.

[2015-08-13 11:31] corrspt commented on #2307
Sorry If I'm placing my comment in the wrong place, but it seemed like a good place/opportunity.

What would be the best way to help on with the documentation process? I know it's always a lot of work (and not the 'cool work') but it has to be done. I'm a fairly new developer to ember (picked an app on 1.7 and took it through 1.11/1.12) and I'm planning on starting an Ember 2.0 app. Having felt (s

[2015-08-13 14:07] Gaurav0 commented on #2307
@corrspt #2256 has the list of deprecation guides that still need to be written.

[2015-08-13 14:19] trek commented on #2125
Can you reopen on the guides repo. I suspect this will just got lost on this repo.

[2015-08-13 14:44] corrspt commented on #2307
Thanks for pointing it out. I'll look at it and try to figure out If I know enough to do something about it right away, or if I need to learn the stuff first before being able to help.

[2015-08-13 14:49] Gaurav0 commented on #2307
@corrspt For what you don't know, just ask on the documentation channel in the Ember Slack community.

[2015-08-13 17:46] locks opened #2310 ""Writing Helpers" link goes to v1.10"
"Writing Helpers" link at https://github.com/emberjs/website/blob/master/source/deprecations/v1.x.html.md#L352 is default to `v1.10`.

[2015-08-13 18:57] #2301 closed

[2015-08-13 20:47] wifelette commented on #2256
So we made a _bunch_ of progress on this these last few day. Thanks so much to everyone who stepped up!

I've heard a couple of people say that they don't feel confident enough to jump in and try and help, or that while they understood 80% of the reason for a particular deprecation, they weren't jumping in because of the bits they _didn't_ understand.

To be clear, it's _totally_ great to open a P

[2015-08-13 20:58] wycats opened #2311 "Feature Flag Infrastructure for Guides"
To make it possible to do documentation work for features that have not yet landed, we should have a feature-flag infrastructure in guides.

For example, you could imagine:

[code]

We would then use the `features.json` in Ember to build release-specific versions of the documentation. This would allow us to begin active work on documentation at the same time as active work on features, with the sa

[2015-08-13 21:39] wycats commented on #2311
An alternative approach would be to preprocess the guides with Handlebars, and do something like:

[code]

Might be nicer.

[2015-08-13 22:39] eccegordo commented on #2311
:+1:  Seems useful.

Given that this potentially opens some of the build infrastructure couple thoughts/questions

#### 1.) Emberify the docs and guides (e.g. remove middleman and have markdown content be pure API)

Pros:
- could be marketing benefit "Docs Built with Ember"
- could work well with handlebars format proposed above
- streamline publishing process, markdown content moved into API and

[2015-08-13 23:10] pzuraq commented on #2311
@eccegordo how would converting the docs to an Ember app play with documentation applications like Dash? The ability to quickly search the docs offline is very useful to our workflow, would like to keep that. Not sure if Dash simply crawls web pages and saves rendered HTML, or something else.

[2015-08-13 23:17] eccegordo commented on #2311
@pzuraq I am not saying that ember app would necessarily enable Dash itself. But could provide a useful and similar user experience in its own right.

If dash needed to screen scrape some basic HTML perhaps this theoretical docs API could provide a plain unstyled HTML format output somewhere to serve as screen scrape target for tools like Dash.

[2015-08-14 09:16] dlmccoy opened #2314 "API links to github broken for RSVP"
Specific link I found was for RSVP, not sure if any other classes are affected.

Specific function I was looking at:
http://emberjs.com/api/classes/RSVP.html#method_all

Text:
"Inherited from RSVP but overwritten in bower_components/rsvp/lib/rsvp/all.js:3"

[2015-08-14 21:18] ameliadowns opened #2316 "Ember 2.1 beta 1 is on builds page but does not exist"
At emberjs.com/builds, the newest build listed 2.1 beta 1, but every single link (including "Download", "Debug", "Live Tests", and "Changelog") returns a 404.

[2015-08-14 21:25] rwjblue commented on #2316
yeah, thats my fault. Sorry about that.  I'm still working on publishing 2.1.0-beta.1.

[2015-08-17 17:33] mike-post opened #2321 "API for Component is missing new lifecycle hooks"
None of the [lifecycle hooks that were added in 1.13](http://emberjs.com/blog/2015/06/12/ember-1-13-0-released.html#toc_component-lifecycle-hooks) are documented in the Ember.Component API. Looking at  [component.js](https://github.com/emberjs/ember.js/blob/v2.0.0/packages/ember-views/lib/views/component.js) I'm not surprised because the hooks aren't even defined in that class; I'm guessing their

[2015-08-17 18:02] rwjblue commented on #2321
They definitely do need to be documented (I know that @wycats is planning on working on that at some point), but they are generally considered "in development" at this point.  They work and are relatively stable, but may still be tweaked / adjusted once angle bracket components are enabled by default (hopefully by 2.2).

[2015-08-17 20:52] balupton opened #2323 "Should code examples be updated for ES6+"
Using module imports/exports, classes, arrow functions, etc.

[2015-08-17 23:43] poeticninja opened #2325 "https://ember-community-slackin.herokuapp.com/ doesnt work"
I was not sure where to post this but I have tried to setup myself as an ember slack user at https://ember-community-slackin.herokuapp.com/ based on the community page but I never receive an email. I have tried a few times over the past month and no email notification to login.

[2015-08-17 23:59] acorncom opened #2326 "Setup some way to share core "Ember design" CSS files between projects"
I'm starting to help on an integration of LiquidFire with the guides at https://github.com/emberjs/guides/issues/448.  Both there and on the Ember-Twiddle repo (https://github.com/ember-cli/ember-twiddle/pull/96) it's come up that we're trying to apply an Ember feel to the various sites.

Seems like it'd be helpful to start using a core SASS include of some sort across these various projects that

[2015-08-18 00:00] mateuspv commented on #2325
Hi, I think is https://embercommunity.slack.com/...not sure about the docs.

[2015-08-18 00:07] poeticninja commented on #2325
Perfect, i just reset my password from https://embercommunity.slack.com and it worked. Thanks!

[2015-08-18 00:07] #2325 closed

[2015-08-19 06:25] martndemus commented on #2256
`{{#each foo in bar}}{{/each}}` is already documented here: http://emberjs.com/deprecations/v1.x/#toc_code-in-code-syntax-for-code-each-code

[2015-08-19 18:57] josenberg opened #2332 ""Understanding Ember.js" Broken Link"
There is a broken link on the page (http://guides.emberjs.com/v1.13.0/).

Is the first link in the text, the broken page is http://guides.emberjs.com/v1.13.0/understanding-ember

[2015-08-20 18:06] Gaurav0 opened #2335 "Google searches return 1.10 versioned guides"
When searching for issues in Google, search results prioritize pages from the 1.10 guides over more recent versions.

[2015-08-20 18:25] Gaurav0 opened #2337 "Testing section still refers to controller#needs"
http://guides.emberjs.com/v2.0.0/testing/testing-controllers/#toc_testing-controller-needs still refers to the now removed "needs" in controllers.

[2015-08-20 19:41] alexdiliberto commented on #2335
ping @trek

[2015-08-20 20:42] wycats opened #2339 "Module Transition"
At some point in the future, we are going to want to support:

[code]

in addition to the current:

[code]

We need the API docs to organize code around modules, but we also want to make sure that we keep around an up-to-date version of the docs (for 2.x) that organizes things around `Ember.*`.

The important thing is that people do not feel the ground shift out from under them when we start suppo

[2015-08-21 14:18] aexmachina commented on #2306
Yes, this is still broken.

[2015-08-21 18:16] mixonic opened #2342 "Sidebar should not include private items"
In the API docs, the left sidebar should not include private namespaced items. Private APIs can still show up when looking at a class's methods etc, but should not be included in the main navigation.

![](https://api.monosnap.com/rpc/file/download?id=AWjFoACs8wbeG6jJsG3nW1z8prFQtL)

[2015-08-22 06:17] eccegordo opened #2343 "How to access 1.13 version of API docs?"
It is really inconvenient that there appears to be no path to view 1.13 version of API docs.

Is there a separate versioned set of API docs for 1.13?

If not, can an immutable, static snapshot be created? This is really bad and creates massive confusion for people who have not updated to 2.0 yet.

[2015-08-22 11:20] rwjblue commented on #2343
You can:

* use a YUIDoc viewer and view any published build's ember-docs.json file
* checkout the commit from this repo just prior to updating 2.0.0 docs, and run 'middleman'
* help out with the emberjs/api project to bring versioned API docs to fruition faster
* use a tool that provides versioned docs out of the box (Dash is a great example)

Hopefully it is bad enough for people to be willing t

[2015-08-22 11:20] #2343 closed

[2015-08-23 17:12] wifelette commented on #2256
Thanks @martndemus, updated and linked to commit :)

[2015-08-23 17:15] wifelette commented on #2326
Seems good :)

Do you have thoughts yet on how you'd want to structure it?

/ cc @wycats @rwjblue

[2015-08-24 17:17] acorncom commented on #2326
It looks like it's possible to export SASS files using Bower (https://github.com/twbs/bootstrap-sass/blob/master/bower.json#L13).  I think I'd export one main `_ember.scss` file, which in turn referenced two SASS files:

- `_generic.scss` (default heading, paragraph, link styles, sidebar / menu styling, drop down styles, etc)
- `_header.scss` (a more complete implementation, including background i

[2015-08-24 19:18] SaladFork opened #2346 "Slack link points to slack invitation app"
http://emberjs.com/community/

In the sentence:

The first link (bolded above) used to point to the Slack community itself with the latter (italicized above) pointing to the invite app. A [recent commit](https://github.com/emberjs/website/commit/95605399c9d3d1c3851ad15cc3fcde84393e1283) made both links point to the invite app. cc @wifelette

[2015-08-24 19:23] SaladFork commented on #2339
Related, easing the transition by automating as much of it as possible: https://github.com/abuiles/ember-watson/issues/13

[2015-08-24 19:28] wifelette commented on #2346
Thanks for noticing, removed the link here: 628d47a03216e5b30287a8a2f006c4441ed1ffe6.

To be clear, I wanted to remove the direct link to the community _entirely_, because it led to getting numerous emails from people who clicked on it, never read the SlackIn part of the sentence, and were complaining that they couldn't figure out how to gain access :p

[2015-08-24 19:28] #2346 closed

[2015-08-24 19:34] pzenger commented on #2346
@wifelette
How can someone find the community domain name if they already have an account?
Earlier I was trying to find the community name to login, but it's not anywhere on the community website.

[2015-08-24 19:37] wifelette commented on #2346
https://slack.com
https://slack.com/signin
https://slack.com/signin/find

If you go directly to Slack, there's a natural chain of links to follow: if you know the name of the community, if you don't, etc. It might be worth adding a footnote/tooltip or something with the name of the community, but again, wanting to avoid the link.

We have little to no bandwidth for email support, and people at lar

[2015-08-24 19:42] wifelette commented on #2346
Thinking that might do the trick and scratch both itches :) I'll hold on updating for any feedback on better wording!

[2015-08-24 19:55] SaladFork commented on #2346
Is there a way to link to the community itself from the invite app (which _is_ linked to)? Would that just be more confusing?

[2015-08-24 20:04] wifelette commented on #2346
It's possible, and might be a better idea! I don't manage that though, so I don't know. Not sure offhand who manages our instance of the Slackin app...

[2015-08-24 20:24] wifelette commented on #2346
cc @cromwellryan

[2015-08-25 03:02] cromwellryan commented on #2346
This what you were thinking?

![image](https://cloud.githubusercontent.com/assets/129756/9457717/3ceb295a-4ab4-11e5-9113-22d22208f45f.png)

[2015-08-25 03:27] wifelette commented on #2346
+1!

[2015-08-26 03:00] cromwellryan commented on #2346
This has been merged and [deployed](https://ember-community-slackin.herokuapp.com).  Thanks for the idea all!

[2015-08-26 13:04] workmanw commented on #2256
`Ember.SortableMixin` seems to be gone in 2.0. I briefly looked around, but found no mention of it's deprecation or disappearance.

[2015-08-26 13:39] trek commented on #2335
This appears to be a common problem for api and guides that are versioned. I hit wrong version of docs for Rails, rspec, and other all day long. Not sure how to fix on our end since it depends, partly, on what has been linked to frequently and that was the the non-versioned (1.10) guides.

[2015-08-26 13:39] #2335 closed

[2015-08-26 13:40] trek commented on #2323
Which code examples, specifically?

[2015-08-26 13:41] trek commented on #2321
Closing because these APIs are still private.

[2015-08-26 13:41] #2321 closed

[2015-08-28 14:05] acorncom commented on #2332
Could you post this to the guides repo instead?

[2015-08-28 16:39] josenberg commented on #2332
Yep.

[2015-08-28 18:30] #2332 closed

[2015-08-29 11:26] greyhwndz commented on #2243
@Frozenfire92: checked on this and the documentation is in the source but is not being generated. @wifelette: is there anybody we could poke regarding this?

[2015-08-31 16:04] mollerhoj opened #2353 "Broken link to ActiveModelAdapter in guides"
Link to ActiveModelAdapter goes nowhere:
http://guides.emberjs.com/v2.0.0/models/customizing-adapters/

[2015-08-31 17:01] Gaurav0 opened #2355 "Provide a step by step upgrade guide for Ember Data 1.13"
The blog post here: http://emberjs.com/blog/2015/06/18/ember-data-1-13-released.html promises a detailed, step by step upgrade guide to Ember Data 1.13. Despite the fact that Ember Data 2.0 is out, this has not been published.

What is most desperately needed:

* An explanation of the JSON-API data structure's differences from REST
* A more detailed guide to upgrading to new serializer api, this i

[2015-08-31 17:05] wecc commented on #2355
Following the steps outlined in the blog post, what was the biggest pain when upgrading to the new Serializer API?

[2015-08-31 18:15] Gaurav0 commented on #2355
Things are really tied together here. For me, I am just so unfamiliar with the new JSON API format, and all I get is a link to the huge json api doc. Based on the blog post, I renamed some methods, set the new serializer flag, and then wondered what to do after everything broke with basic js errors like "undefined is not a function", so I just reverted for now.

My guess is my returned payloads ar

[2015-09-02 02:08] greyhwndz commented on #2311
The idea of @eccegordo is great! :+1:
Consider the multiplier effect brought about by making it easy for the community and would-be contributors to engage in the project and bringing it faster to new heights. I think it's way worth it.

[2015-09-02 14:58] michaelrkn commented on #2335
See https://github.com/emberjs/guides/issues/604.

[2015-09-04 17:14] camoore1979 opened #2359 "Is search on the Ember website / guide broken?"
I'm trying to use the search bar on the Emberjs.com website for the guide, and it is broken.

The url is:  http://guides.emberjs.com/v1.13.0/#stq=array&stp=1

Here's the error in the console.log:
![image](https://cloud.githubusercontent.com/assets/4583280/9689863/d56ab588-5306-11e5-896f-8d33bc66a998.png)

[2015-09-11 18:07] mcantor opened #2364 "Search results link to a nonexistant page."
Steps:
1. Navigate to <http://guides.emberjs.com/>
2. Enter `debugging` in the search bar and hit Enter.
3. Click on the first result, which links to <http://guides.emberjs.com/configuring-ember/debugging/>.

What I expected:
- The search results should link to <http://guides.emberjs.com/v2.0.0/configuring-ember/debugging/>, or the page that is currently 404ing should redirect to it.

What happene

[2015-09-14 06:05] MaximAbramchuck commented on #2264
@stefanpenner need to close this one.

[2015-09-14 11:01] #2264 closed

[2015-09-19 04:38] davidpett commented on #2353
fix is here: https://github.com/emberjs/guides/pull/767

[2015-09-19 18:08] locks commented on #2353
Closed as per https://github.com/emberjs/guides/pull/768#issuecomment-141693126

[2015-09-20 12:49] tonylukasavage opened #2367 "2.0.0 "Getting Started" section is inaccurate"
If you follow the instructions as printed for getting started in the 2.0.0 section of the guides, you will end up with a project built for ember 1.13.7 (at the time of this issue). Specifically, after you create the app in the "your first ember app" section. To fix it I had to manually set the `ember` and `ember-data` versions in the `bower.json` file.

[code]

In lieu of `ember-cli` creating this

[2015-09-22 16:19] Gaurav0 opened #2369 "Homepage examples don't work with ember-cli"
Users trying to use examples on About page get Uncaught ReferenceError: App is not defined in ember-cli

[2015-09-22 16:39] locks commented on #2367
That's because Ember CLI hasn't come out yet, so this is expected. We prefer to wait until it does than patch the guides.
We are also trying to figure out a way to make that guide more version-agnostic.

[2015-09-25 01:57] ultimatemonty commented on #2256
Request to add https://github.com/emberjs/ember.js/issues/11493 to the deprecations guide along with the reasoning behind it and acceptable alternatives. There are only 2 events that run on component first run (`didInitAttrs` and `didInsertElement`) and the only place to init something like a jquery plugin wrapper is `didInsertElement`.

Thanks for all you folks do!

[2015-09-30 12:51] maxkwallace opened #2372 "Deprecation Guide example for Ember.Select (1.13) works in a Controller but not in a Component"
Having just attempted to use it myself, I discovered that the example given in the deprecation guide with `{{! app/templates/components/my-select.hbs}}`, `// app/components/my-select.js`, etc. doesn't work within a Component, only within a Controller.

I'm not asking that it be "fixed", but *please* update the documentation to reflect this. Otherwise, this issue will continue to cause confusion /

[2015-10-01 15:01] gpt559 opened #2373 "Add Maintenance Policy"
Your security policy page ( http://emberjs.com/security/ ) states:

"Fixes are prepared for all releases which are still under maintenance."

I don't see any place describing which versions are still under maintenance. Is it an explicit set like "1.13.x, 2.0.x", last X versions, or code released in the past X time?

My client needs this information in order to adopt Ember.

Thanks!

[2015-10-02 12:08] donovan-graham opened #2374 "Initializer vs Instance initializers"
How do you defer readiness when you're dependant on a service, in Ember 2.  I have the same use case and would have solved in similar to how is describe in the old docs.  Now in ember 2 it throws deprecation errors.

This is the use case: http://guides.emberjs.com/v2.0.0/services-and-initializers/initializers/#toc_pausing-the-boot-process

[2015-10-02 20:40] rwjblue commented on #2374
You can use `deferReadiness` in an initializer, but not in an instance-initializer.

This sort of howto question is almost definitely going to get a better set of answers on StackOverflow or the Ember community slack...

[2015-10-03 21:22] #2374 closed

[2015-10-04 17:00] wifelette commented on #2256
@ultimatemonty Added to the list, thanks!

[2015-10-04 17:06] wifelette commented on #2256
@workmanw `SortableMixin` was part of the controller feature in 1.13, and it was removed (along with many other controller deprecations). However, it's still available in the [Legacy Controller Addon](https://github.com/emberjs/ember-legacy-controllers) (at https://github.com/emberjs/ember-legacy-controllers/blob/master/addon/utils/sortable-mixin.js), and it would great to get a PR pointing people

[2015-10-04 17:13] wifelette commented on #2372
Can you submit a PR helping to explain the issue you've experienced to other people? I agree that it could be really helpful to others who might be similarly frustrated.

[2015-10-05 12:50] maxkwallace commented on #2372
@wifelette Thanks for the reply! I'd be happy to. But the ideal improvement would be to fix the example so it works in Components as well as Controllers (or at least explain why it doesn't work in both places) -- I will contact the person who originally wrote the example to see if this is possible.

I'll follow up with this in a few days.

[2015-10-09 19:13] workmanw commented on #2256
@wifelette et al -- I'd be happy to submit a pull for `SortableMixin` ... but it wasn't actually deprecated in a literal sense, it was just kind of removed without warning. So it doesn't fit within the literal sense of "DEPRECATIONS ADDED IN 1.13". But if that seems okay, I'll open a PR.

[2015-10-14 13:20] maxkwallace commented on #2372
@wifelette So, I just attempted to replicate the issue again-- it turns out the error was on my end-- I forgot to call `this._super(...arguments);` in my Component. I'm going to close this issue. Sorry for the noise!

[2015-10-14 13:20] #2372 closed

[2015-10-14 13:39] rwjblue commented on #2372
@maxkwallace - This was such a common issue that we figured out a way to throw a nice and useful error when they forget to call `_super` in a component.  This was added in https://github.com/emberjs/ember.js/pull/12396 and is included in 2.1.0.

[2015-10-16 02:34] acorncom commented on #2359
Yes, it was, it should be fixed now (though only for newer docs sadly :-/)

[2015-10-21 15:00] jblotus opened #2394 "Broken "unit test helpers" link on 2.0+ guides"
Hi there. There is a broken link / missing article in the guides for 2.0.

If you go here:
http://guides.emberjs.com/v2.1.0/testing/unit-testing-basics/

or here:

http://guides.emberjs.com/v2.0.0/testing/unit-testing-basics/

and click the "unit-test helpers" link, which you will get a 404 at http://guides.emberjs.com/{version}/testing/unit-test-helpers

It does appear this section works in some

[2015-10-21 15:01] jblotus commented on #2394
![image](https://cloud.githubusercontent.com/assets/382230/10640520/0bcc37d6-77e3-11e5-94ce-a75cecaf9461.png)

forgot to enclose screenshot

[2015-10-28 03:08] slindberg commented on #2212
Just got burned by the return value of `Ember.setProperties`, and didn't remember seeing it in the breaking changes.

Is [this](https://github.com/emberjs/website/blob/master/source/blog/2015-08-13-ember-2-0-released.md) the blog post you wanted to put it into? Is an old blog post the best place for this now anyway?

[2015-10-28 19:04] rgbchris commented on #2306
Link still appears to be broken - is there any update on this?

[2015-10-29 20:20] michaelrkn commented on #1994
This should be closed.

[2015-10-29 20:36] acorncom commented on #2262
This should either be moved to the guides repo or closed.  We've got integration testing info under guides at this point ...

[2015-10-29 21:07] #1994 closed

[2015-10-30 08:09] adam-knights commented on #2262
This is resolved in the 2.1 docs.

[2015-10-30 08:09] #2262 closed

[2015-11-06 15:08] workmanw commented on #2256
@wifelette Now that Ember.SortableMixin has been deprecated in Ember 1.x. I've added #2405.

[2015-11-12 22:00] andrew-dixon commented on #2343
@eccegordo FYI, you can view it here:

http://web.archive.org/web/20150513220302/http://emberjs.com/api/

[2015-11-14 00:09] chriskrycho opened #2407 "Ember beta builds page out of date"
Looks like @rwjblue shipped the 2.2.0-beta-2 release [a couple weeks ago](https://github.com/emberjs/ember.js/commit/d519881b2dfce5532938ca69b7b7c5044b158cbd) but the builds page didn't get updated.

If someone wants to tell me what needs to change, I'll (a) make that update today and (b) track it and help keep it up to date going forward. (I started scanning the source but it wasn't obvious what

[2015-11-14 00:12] chriskrycho opened #2408 "Ember builds "quick copy" is broken"
The links to quickly download the builds from the builds pages are broken; the `<script>` tag is getting rendered inline (maybe because of something being escaped when it shouldn't be?):

![ember-builds](https://cloud.githubusercontent.com/assets/2403023/11160624/340952b0-8a3a-11e5-8efd-c09ddf2e7c71.png)

As with #2407, I'm happy to submit a PR with a fix if someone points me in the right directio

[2015-11-18 19:44] eccegordo opened #2417 "Ember Data 2.2 blog post confusing"
I would suggest that you refrain from talking about the Ember and Ember Data in the same blog post causes too much confusion.

The blog post here is really confusing. Maybe it is just the changelog reference that is wrong?

http://emberjs.com/blog/2015/11/17/ember-data-2-2-released.html

<img width="1128" alt="ember_js_-_ember_data_2_2_and_2_3_beta_released" src="https://cloud.githubusercontent.co

[2015-11-20 19:41] toddjordan commented on #2256
I can start gradually working through the some of the rest of these.  I'll start at the batch from 1.13.7 and start working my way back.  Starting with TrackedArray and SubArray...

[2015-11-25 09:47] keith-g opened #2422 "Ember Data download links 404s"
On the releases page (http://emberjs.com/builds/#/release) Clicking any of the tagged links for Ember-Data on the release page gives a 404.

Eg:

http://builds.emberjs.com/tags/v2.2.0/ember-data.min.js
http://builds.emberjs.com/tags/v2.2.0/ember-data.js

I had to use the release builds.

[2015-11-25 14:44] rwjblue commented on #2422
@bmac - Would you mind looking into this when you have a minute?

[2015-11-25 18:37] bmac commented on #2422
Looking into this now.

[2015-11-25 22:36] bmac commented on #2422
Looks like there was a travis error that prevented the 2.2.0 file from being uploaded to s3. I don't have the credentials to re-upload the 2.2.0 file however I have published a new version of Ember Data (that includes this fix https://github.com/emberjs/data/pull/3866) and updated the builds page so it now points to a working `v2.2.1` file.

[2015-11-25 22:36] #2422 closed

[2015-12-03 02:16] toddjordan commented on #2256
ok, this week I'll move on to the `@guid` and `@item` deprecations from 1.13.2

[2015-12-03 15:10] toddjordan commented on #2256
Moving on to the remaining 1.13.5 deprecations

[2015-12-05 06:30] jasonmit opened #2427 "Ember.Component missing all lifecycle hook docs"
didInsertElement, willDestroyElement, etc. are currently not displayed.

http://emberjs.com/api/classes/Ember.Component.html

[2015-12-09 01:34] jrhorn424 commented on #2126
@vire @trek Can I help with this? Is the idea to move to Ember Twiddle? If you just need someone to update script tags, I can do that, too. 😄

[2015-12-09 19:04] JonForest opened #2430 "Tutorial -> Ember Data -> Incorrect usage of Mirage"
The documentation in this talks about:

This is actually located at ```app/mirage/config.js```

In addition (apologies if this should be a separate issue), the content of ```config.js``` is shown as:
[code]

When I use this, I get the following output in my Chrome console:

I changed ```data``` to ```rentals``` in the rentals array. I.e.
[code]

This hasn't solved the issue in that the data is sti

[2015-12-09 19:36] JonForest commented on #2430
In the sample data used in the config.js, the data required is organised like this:

[code]
type: "rentals",
id: 2,
title: "Urban Living",
 ....
}
[code]

[2015-12-10 22:08] acorncom commented on #2408
@chriskrycho I've poked at this a bit, so have a bit of reference on what is going on.

The builds page is an Ember globals app that's built using the Rails asset pipeline.  A few key files to get you going are:

- https://github.com/emberjs/website/blob/master/source/javascripts/builds.js
- https://github.com/emberjs/website/blob/master/source/javascripts/app/builds/app.js

Ping me if you need an

[2015-12-10 22:08] acorncom commented on #2407
Sent over a few notes on your other issue

[2015-12-10 22:09] chriskrycho commented on #2408
👍🏼 I’ll try to take a gander again in the next week or three.

[2015-12-10 22:09] acorncom commented on #2430
@JonForest Could you open this issue on the Guides repo instead?  That is more actively watched than this repo ... https://github.com/emberjs/guides/issues :+1:

[2015-12-13 07:25] JonForest commented on #2430
Cool.  Will do.  Cheers.

[2015-12-13 07:29] #2430 closed

[2015-12-17 22:06] #2353 closed

[2015-12-17 22:10] wifelette commented on #2364
Thanks so much for this. Alas, wrong repo :p This belongs here: https://github.com/emberjs/ember.js/issues

[2015-12-17 22:10] #2364 closed

[2015-12-17 22:11] locks commented on #2427
This issue should be opened in https://github.com/emberjs/ember.js instead, since it's a YUIDoc thing.

[2015-12-17 22:11] #2427 closed

[2015-12-17 22:12] wifelette commented on #2394
Thanks so much for this, and apologies for the delay. Alas, wrong repo :p If it's still broken, this belongs here: https://github.com/emberjs/guides/issues

[2015-12-17 22:12] #2394 closed

[2015-12-17 22:12] wifelette commented on #2339
Thanks so much for this. Alas, wrong repo :p This belongs here: https://github.com/emberjs/ember.js/issues

[2015-12-17 22:12] #2339 closed

[2015-12-17 22:13] wifelette commented on #2342
Thanks so much for this. Alas, wrong repo :p If this is still an issue, it belongs here: https://github.com/emberjs/ember.js/issues

[2015-12-17 22:13] #2342 closed

[2015-12-17 22:13] wifelette commented on #2314
Thanks so much for this. Alas, wrong repo :p If this is still an issue, it belongs here: https://github.com/emberjs/ember.js/issues

[2015-12-17 22:13] #2314 closed

[2015-12-17 22:14] wifelette commented on #2311
@wycats This belongs in the Guides repo. Is there an issue there so we can close this? Or is this even an issue anymore?

[2015-12-17 22:15] wifelette commented on #2323
Closing due to inactivity.

[2015-12-17 22:15] #2323 closed

[2015-12-17 22:17] wifelette commented on #2291
Thanks so much for this. Alas, wrong repo :p If this is still an issue, it belongs here: https://github.com/emberjs/ember.js/issues

[2015-12-17 22:17] #2291 closed

[2015-12-17 22:17] wifelette commented on #2181
Closing due to inactivity. If this needs to be reopened it likely belongs here: https://github.com/emberjs/ember.js/issues

[2015-12-17 22:17] #2181 closed

[2015-12-17 22:18] wifelette commented on #1971
Thanks so much for this. Alas, wrong repo, at least by now :p If this is still an issue, it belongs here: https://github.com/emberjs/ember.js/issues

[2015-12-17 22:18] #1971 closed

[2015-12-17 22:18] wifelette commented on #2100
Thanks so much for this folks. Alas, wrong repo :p If this is still an issue, it belongs here: https://github.com/emberjs/ember.js/issues

[2015-12-17 22:18] #2100 closed

[2015-12-17 22:20] wifelette commented on #2367
Closing, to be reopened in the right place if it's still an issue.

[2015-12-17 22:20] #2367 closed

[2015-12-17 22:20] wifelette commented on #2337
If this is still an issue, it belongs here: https://github.com/emberjs/guides/issues

[2015-12-17 22:20] #2337 closed

[2015-12-17 22:39] acorncom commented on #2364
Actually, this one would probably need to go to https://github.com/emberjs/guides/issues if it's still an issue, but I believe we got that fixed a few months ago.

[2015-12-17 22:43] acorncom commented on #2126
This issue was addressed in the guides repo a few months back, closing now.  @jrhorn424 if you're interested in helping out, we'd love to get your help over there :+1:  We've been trying to avoid putting in Ember Twiddle links in the guides though, as maintenance of them gets really complicated in the long-run ...

[2015-12-17 22:43] #2126 closed

[2015-12-17 22:44] acorncom commented on #2189
Closing this issue now ...

[2015-12-17 22:44] #2189 closed

[2015-12-17 22:46] acorncom commented on #2213
I like this idea.  The guides repo is currently getting far more attention, so I'll move this over there for further discussion.

[2015-12-17 22:47] #2213 closed

[2015-12-17 22:48] acorncom commented on #2306
If someone wants to open a pull request, we should be able to get this merged in ...

[2015-12-17 22:49] acorncom commented on #2359
Sadly, due to the way our current infrastructure is setup, we may not be able to get this fixed for older 1.13 guides.  This should be resolved in the newer guides, so closing it now.  Please re-open if you're still seeing issues ...

[2015-12-17 22:49] #2359 closed

[2015-12-17 22:50] acorncom commented on #2323
Possibly related to #2369

[2015-12-18 05:27] michaelrkn commented on #2311
Moved to https://github.com/emberjs/guides/issues/1101.

[2015-12-18 05:27] #2311 closed

[2015-12-18 05:29] michaelrkn commented on #2310
This will be fixed when we have `/current` in the Guides.

[2015-12-18 05:29] #2310 closed

[2015-12-18 05:37] michaelrkn commented on #2178
I believe this is covered in https://guides.emberjs.com/v2.2.0/templates/binding-element-attributes/.

[2015-12-18 05:37] #2178 closed

[2015-12-18 05:38] michaelrkn commented on #1942
It appears emberjs.cn does not exist any more.

[2015-12-18 05:38] #1942 closed

[2015-12-18 05:44] michaelrkn commented on #1399
Is this still an issue? cc @acorncom @locks since you two have been working on API docs related stuff recently

[2015-12-18 06:05] michaelrkn commented on #2155
The Guides support SSL, as they are hosted on Firebase. The naked emberjs.com website does not, as it is hosted on Github pages. There are two solutions:

1. Switch DNS to Cloudflare.
2. Switch hosting elsewhere.

If we switch hosting, I'm personally not super excited about Firebase hosting. It does the job, but it's really tooled around Firebase apps, most of which we don't need. It only lets app

[2015-12-18 15:15] locks commented on #2155
@michaelrkn https://www.pagefronthq.com/ is the most like divshot, I think. They even have the different environments, and it seems to support SSL https://docs.pagefronthq.com/guide/ssl.html.

[2015-12-18 15:27] mixonic commented on #2155
Fastly has offered to sponsor an account with their service.

I worry about Pagefront being so young, and liable to shut down ala divshot. Surge has been around a bit longer I believe. :-/

[2015-12-18 16:26] stefanpenner commented on #2155
@mixonic ooo, we should take them up on this. (assuming everything checks out)

[2015-12-18 16:39] michaelrkn commented on #2155
I didn't realize Fastly now offers reverse proxy like CloudFlare - nice! If we can use them, then we don't have to update infrastructure and can stick with GH pages.

[2015-12-18 19:24] acorncom commented on #2155
:+1: On Fastly  Who do we need to help with this, @rwjblue ?

[2015-12-18 19:26] rwjblue commented on #2155
Yes, the delay has been 100% my fault. I need to gather a bit of info and get it back to them (they have been super responsive so far).

[2015-12-18 19:33] acorncom commented on #2155
4 hrs doesn't seem like a major delay :stuck_out_tongue_winking_eye:

[2015-12-18 22:12] jasonkriss commented on #2155
[Speaking for Pagefront] @locks Thanks for the heads up. We'd love to do everything we can to help out with all things Ember related. We do have multiple environments and SSL support. That being said, Pagefront is currently ember-specific, meaning that hosting other types of static sites might require more work than it is worth at this point.

Again though, anything we can do to help (free hosting

[2015-12-21 10:51] jprassanakumar commented on #2430
@JonForest  change ember-data version to 2.0 in bower.json and install bower again.version incompatibility between ember and ember-data

[2015-12-22 02:35] #2417 closed

[2015-12-23 21:25] TifPun commented on #2430
@jprassanakumar I was running into the same problem when doing an ember cli tutorial (http://www.thetechcofounder.com/getting-started-with-ember-js-using-ember-cli/). Your suggestion works perfectly for me :+1:

[2015-12-23 23:16] locks commented on #2430
@jprassanakumar @TifPun there's a whole paragraph about making sure you have the proper dependencies. I'll try making it more noticeable.

[2015-12-25 12:20] tkemperman opened #2434 "404 for http://emberjs.com/api/classes/Ember.ArrayController.html"
The link at https://guides.emberjs.com/v1.10.0/controllers/representing-multiple-models-with-arraycontroller leads to http://emberjs.com/api/classes/Ember.ArrayController.html which renders a 404.

[2015-12-25 16:44] rwjblue commented on #2434
The ArrayController API docs are no longer available (since Ember 2.x does not include ArrayController). The 1.10 guide link was correct, but now is not. I'm not sure what we can do about this (the past guide versions are essentially static).

[2015-12-25 17:32] locks commented on #2434
Like @rwjblue said, old versions of the guides are basically immutable, and since versioned API documentation viewer is still upcoming there would be no way to link to older API docs.

I'm closing this for now and when versioned API docs land we'll revisit the issue at https://github.com/emberjs/guides.

[2015-12-25 17:32] #2434 closed

[2015-12-27 22:35] JasperKamp opened #2436 "config.js example not working"
Hello. I could not get the mirage example to work, neither on a mac nor on a linux setup.
The website url is: https://guides.emberjs.com/v2.2.0/tutorial/ember-data/

I ended up looking at other examples on the internet which caused me to change the content of the config.js to [config.js.txt](https://github.com/emberjs/website/files/72839/config.js.txt)

[2015-12-28 21:54] trek commented on #2436
Hi @JasperKamp, you're probably looking to open an Issue on the https://github.com/emberjs/guides repo instead of here. This repo is just for homepage and blog.

[2015-12-28 21:54] #2436 closed

[2015-12-31 07:05] mozeryansky opened #2438 "Redirect /guides to the most recent version number"
Within the `emberjs/guides` project there is a current open issue working to implement a /current url pattern. Right now the layout in `emberjs/website/source/layouts/guide.erb` redirects to a hard coded version number. The current released version of the website will redirect to v1.13.0 guide, which is very old.

I want to open this issue and solve it when issue emberjs/guides#604 is solved.

[2016-01-07 13:57] fguillen commented on #290
What about the:

* file name?: `big_mac.js` or `bigMac.js` or `big-mac.js`?
* DS relations: `DS:hasMany('bigMac')` or `DS:hasMany('big_mac')` ...?
* DS.store: `store.findRecord('bigMac')` or `store.findRecord('big_mac')` ...?

?

[2016-01-08 18:11] acorncom commented on #2355
I believe this probably belongs in the guides long-term.  We haven't yet got an "upgrading" section built there, but need the help.  If anyone wants to come add umph on that front, you're more than welcome

[2016-01-08 18:12] acorncom commented on #2326
Going to close this for now

[2016-01-08 18:12] #2326 closed

[2016-01-08 18:12] acorncom commented on #2408
@chriskrycho any updates here?

[2016-01-08 18:18] chriskrycho commented on #2408
Alas, not yet. In the middle of a job transition, do I've been busier than expected!

[2016-01-08 18:20] acorncom commented on #2256
@wifelette @toddjordan #2428 was just merged.  I just updated the checkboxes above to reflect that, which means at this point, I believe all deprecations are documented.  Is that true?

@wifelette I'll leave the pleasure of closing this issue to you :-)

[2016-01-08 18:21] acorncom commented on #2307
@Gaurav0 In addition to #2256 is there other work here that is needed as well or can we close this issue?

[2016-01-08 20:45] wifelette commented on #2256
Hah! I'm out this week and was legit sad that someone else would get to close it ;) Thanks everyone for helping make this happen!

[2016-01-08 20:45] #2256 closed

[2016-01-08 20:50] Gaurav0 commented on #2256
Thank you all for your hard work on this.

[2016-01-16 16:47] stefanpenner opened #2452 "Left-side API list, contains private classes"

[2016-01-18 09:32] cbou opened #2453 "Ember-Data download does not work"
All the link for downloading EmberJS Data are broken on this page: http://emberjs.com/builds/#/release

http://builds.emberjs.com/tags/v2.3.0/ember-data.prod.js
http://builds.emberjs.com/tags/v2.3.0/ember-data.min.js
http://builds.emberjs.com/tags/v2.3.0/ember-data.js

Beta and Canary are working.

[2016-01-18 18:10] bmac commented on #2453
I've fixed the build issue that was preventing tagged builds from being published to s3 by cherry-picking https://github.com/emberjs/website/issues/2453 to the released branch. They should be published again with Ember Data `v2.3.2`.

However, I don't have the the access keys needed to manually republish the v2.3.0 builds to s3. If @rwjblue or @fivetanley have time maybe they can manually publish

[2016-01-18 23:14] bmac commented on #2453
`v2.3.0` has been republished to S3.

[2016-01-18 23:14] #2453 closed

[2016-01-19 13:39] nicholaswagner commented on #2430
@JonForest Thank you for posting those fixes.  I slammed into these today.

[2016-01-21 05:47] #2307 closed

[2016-01-21 05:48] acorncom commented on #290
If there are further tweaks needed on the guides, please open an issue in the guides repo: https://github.com/emberjs/guides/issues

[2016-01-21 16:12] cbou opened #2455 "Code links are broken"
On the API doc (e.g. http://emberjs.com/api/classes/RSVP.html#method_all) the links to the rsvp library are broken (e.g. [bower_components/rsvp/lib/rsvp/all.js:3!](https://github.com/emberjs/ember.js/tree/v2.3.0/bower_components/rsvp/lib/rsvp/all.js#L3))

[2016-01-21 18:11] dlee commented on #290
@acorncom This issue is still not fixed. Do you want me to open a duplicate issue?

[2016-01-21 20:22] locks commented on #290
@dlee yup, in the linked repository

[2016-01-21 23:19] acorncom commented on #2455
@cbou Could you open this issue on https://github.com/emberjs/ember.js?  API docs are generated over there.  Closing this now

[2016-01-21 23:19] #2455 closed

[2016-02-01 23:29] jeremygehrshg commented on #2430
Thanks, fixed the problem for me

[2016-02-02 18:22] ebryn opened #2460 "Ideas for topics we can talk more about on the website"
_Just a few thoughts... feel free to suggest modifications to this list_

- Status updates of publicly visible features/initiatives, for example:
  - Routable components
  - Ember CLI 2.x stable release
  - The move to NPM for client side dependencies
  - Engines / lazy loading

- Architectural decisions made by the framework and build tooling, for example:
  - Why doesn't Ember CLI use Webpack?

[2016-02-02 18:29] mmun commented on #2460
- Why does Ember CLI use Broccoli?
- Why are the Ember CLI upgrade instructions as complicated as they are? [(link)](https://github.com/ember-cli/ember-cli/releases/tag/v1.13.15)
- Why does Ember CLI use QUnit by default?

[2016-02-02 18:31] runspired commented on #2460
+1 Advantage of having it in a structured way over blog posts is this information does change, blog posts tend not to.

[2016-02-02 19:07] rtablada commented on #2460
* Dedicated page (not just API and blog post) covering Ember Data store methods (findAll, findRecord, etc)

I think this could be a transplant of the 1.13 section from the blog

[2016-02-02 20:16] grapho commented on #2460
Comminity Page should be retooled/updated to include emberobserver.com, and other stuff, like the emberweekend podcast.. emberwatch.com.. and maybe links to different ember books and other things made by the commuity

[2016-02-02 21:17] samchrisinger commented on #2359
Getting:
[code]
On the latest docs: https://guides.emberjs.com/v2.3.0/#stq=class

[2016-02-03 00:22] juliankmazo commented on #2460
I think it would be awesome if we talk about [ember-browserify](https://github.com/ef4/ember-browserify) for managing some commun modules like lodash, moment, sweetalert...
I found out about it so late, and I think it works awesome. Just thinking ;)

Also covering the `component life cycle hooks` introduced in [1.13](http://emberjs.com/blog/2015/06/12/ember-1-13-0-released.html#toc_component-lifec

[2016-02-03 00:27] locks commented on #2460
@juliankmazo [The Component Lifecycle](https://guides.emberjs.com/v2.3.0/components/the-component-lifecycle/)

[2016-02-03 00:47] juliankmazo commented on #2460
@locks  :sweat_smile:

[2016-02-03 03:43] jamilabreu commented on #2460
Deployment services / options, i.e: prior to being acquired Divshot was a good choice, recently I saw a video where Yehuda used [Surge](https://surge.sh/)

[2016-02-03 15:36] acorncom commented on #2359
Confirmed, we've got an issue open about it: https://github.com/emberjs/guides/issues/1183

[2016-02-05 06:32] SuperManEver commented on #2460
I'd like to know about overall Ember.js architecture, design decisions that were made and why they were made in this way.How all pieces fit together, what design pattern each component uses.

Especially I'd like to have a overview of data layer of ember.js filled with details and snippets of code from  source code after which I can start hacking on Ember-Data.

Essentially what really want to have

[2016-02-05 06:37] SuperManEver commented on #2460
@jamilabreu could you post a link where Yehuda uses Surge?

[2016-02-05 07:48] jamilabreu commented on #2460
@SuperManEver https://youtu.be/gk-xyLM7R4g?t=33m2s :)

[2016-02-05 11:54] SuperManEver commented on #2460
@jamilabreu thanks :+1:

[2016-02-11 18:09] voodoo commented on #2430
Thanks @jprassanakumar, fixed the problem for me

[2016-02-15 22:38] wifelette commented on #2460
Lots of good ideas here, thanks all!

As these are long-term wishlist items, I'm going to close (though not lock for now) the issue. In truth there is no perfectly appropriate spot for something like this right now :p I don't want to give anyone the false impression that these are things the team is currently working on; there are just very few volunteers working on docs and content stuff, so prog

[2016-02-15 22:38] #2460 closed

[2016-02-18 09:50] bhje opened #2467 "Typo in Example Code - Customizing Serializers - EmbeddedRecordMixin"
The code example for app/serializers/post.js should be **authors** not **author**.

Occurrence #1
export default DS.JSONSerializer.extend(DS.EmbeddedRecordsMixin, {
  attrs: {
    **author**: {
      serialize: 'records',
      deserialize: 'records'
    }
  }
});

Occurrence #2
export default DS.JSONSerializer.extend(DS.EmbeddedRecordsMixin, {
  attrs: {
    **author**: { embedded: 'always' }
  }

[2016-02-18 13:13] #2467 closed

[2016-02-18 13:14] locks commented on #2467
Hi @bhje, since this is an issue with the guides the proper repository to file the bug is emberjs/guides.
I went ahead and fixed it so you don't need to open it there :)
Thanks for reporting!

[2016-02-18 23:41] #2306 closed

[2016-02-22 21:04] ef4 opened #2470 "Silicon Valley Meetup has broken link"
The link from emberjs.com to the Silicon Valley meetup is dead.

cc @ebryn

[2016-02-22 23:50] wifelette commented on #2470
Unsure if it's just the site that's not maintained, or the _group_. If it's just the site, we can link to here: http://www.meetup.com/Silicon-Valley-EmberJS-Meetup/

[2016-02-24 01:07] #2470 closed

[2016-02-24 04:42] acorncom commented on #2452
Per a discussion of this at last week's docs team meeting @toddjordan was going to look into fixing this ...

[2016-02-24 04:43] acorncom commented on #1399
Closing this due to it being so stale.  If it's still an issue that folks are having, please comment and we can re-open.

[2016-02-24 04:43] #1399 closed

[2016-02-24 13:28] toddjordan commented on #2452
This week all take a look and try to list here the actual classes that need removal.  Feel free if anyone knows of specific classes that shouldn't be documented to comment.

[2016-02-24 23:08] stefanpenner commented on #2452
unfortunately likely checking each link, and seeing if PRIVATE is mentioned in the corresponding page description.

example: http://emberjs.com/api/classes/ContainerProxyMixin.html contains PRIVATE, but still exists in Classes.

If required, I can go through this manually, feel free to let me know.

[2016-02-24 23:10] toddjordan commented on #2452
np, I can do it.

[2016-02-27 01:38] rwjblue commented on #2452
We should also suppress deprecated classes.

[2016-02-28 22:44] toddjordan commented on #2452
Alright, compiled a list of what needs to be trimmed. The only way I know to remove so yuidoc doesn't put it in the left nav is to remove the doc comments for the class on each of the files.  Is this right, or is there a better way?

Also, the following classes have no documentation and no private/public indication.  Should I also remove?
HTMLBars
RSVP.EventTarget
String

[2016-02-29 02:24] locks commented on #2373
This is now addressed by http://emberjs.com/blog/2016/02/25/announcing-embers-first-lts.html.

[2016-02-29 02:24] #2373 closed

[2016-02-29 03:42] toddjordan commented on #2452
looks like @krisselden took this up on the ruby side of things...  I'll move on to then next thing on the list then.

[2016-02-29 03:52] toddjordan commented on #2452
I was looking on the other side of things - trying out some things on the yuidoc side to limit the output to exclude the privates/deprecations.  I might just round out some of what I was trying there before completely moving on, but it may be that the approach here is the way to go.

[2016-02-29 15:25] locks commented on #2155
@rwjblue @mixonic @fivetanley were are we at with this?

[2016-03-02 05:43] toddjordan commented on #2452
So I did verify that removing the @class line for each private/deprecated class also will keep the classes from showing in docs.  So taking this approach will just be deleting a line for each private and deprecated class.  I don't know if we want to go this route or continuing to generate docs for everything.

One argument for removing @class would be that I don't think we want private classes sho

[2016-03-04 22:22] acorncom opened #2488 "Add spellchecker to the website build system"
We have occasional misspellings slip through on the Ember website.  It would be nice to have a spell checker build step setup like we have for the guides to help alleviate this issue in the future.  Please reference https://github.com/emberjs/guides/pull/998 for more details about how it was setup there ...

[2016-03-04 22:25] acorncom commented on #2438
Looks like this was fixed by #2486

[2016-03-04 22:25] #2438 closed

[2016-03-06 03:46] lordKnighton opened #2489 "trying to get this running locally"
**bundle exec middleman**  command not working. I ran the commands as the readme.md instructed

`git clone git://github.com/emberjs/website.git`
`cd website`
`bundle`
`bundle exec middleman`

this is my result
![screen shot 2016-03-05 at 7 43 30 pm](https://cloud.githubusercontent.com/assets/1773260/13552155/faa3afbe-e30a-11e5-94d0-155eca084bd9.png)

[2016-03-06 12:19] locks commented on #2489
Can you tell us your Ruby version?

[2016-03-06 19:26] kelthenoble commented on #2489
sure ☁  website [master] ruby -v
ruby 2.0.0p481 (2014-05-08 revision 45883) [universal.x86_64-darwin14]

[2016-03-08 20:25] carlbennettnz opened #2492 "Dead link in the deprecation guide"
In the [Access to Instance Initializers section](http://emberjs.com/deprecations/v1.x/#toc_access-to-instances-in-initializers) of the 1.x deprecation guide, the final line ("For more information, see the instance initializer deprecation guide.") links to a [404 page](http://emberjs.com/deprecations/v1.x/instance-initializers).

[2016-03-08 20:36] acorncom commented on #2492
@carlbennettnz Confirmed.  Just opened a PR to fix that. The link should be pointing to http://emberjs.com/deprecations/instance-initializers/, so if you need that info in the meantime, that's where it is.

[2016-03-09 00:51] #2492 closed

[2016-03-09 17:23] toddjordan commented on #2452
Moving away from just removing `@class` since it doesn't keep privates from being added back.  I'm trying out updating ember-cli-yuidoc (used by ember) to use something like yuidoc-filter-tags as a preprocessor for the option to filter tags with `@private` and `@deprecated`

[2016-03-10 14:33] toddjordan commented on #2452
Created a PR to ember to add an npm package I created to filter out private and deprecated classes prior to render.

[2016-03-14 12:32] toddjordan commented on #2452
After some discussion on how to address this issue in PR https://github.com/emberjs/ember.js/issues/13075 we have decided to go forward with the following proposal as worked out between @wycats and @Gaurav0

From @wycats in the PR:

There are already existing links that point to private and deprecated APIs on Stack Overflow etc. We should try not to break them.
1. Deprecated APIs are still concept

[2016-03-15 22:16] #2489 closed

[2016-03-18 09:16] vvscode opened #2504 "Ember.View still in API documentation"
Documentation  for Ember.View still in documentation. But it not in API ( 2.2 / 2.4 and 2.x in common )

http://emberjs.com/api/classes/Ember.View.html

Fix please

[2016-03-18 14:15] Finhas opened #2505 "404 error -- about.html.erb#L67 emberconf-banner.png"
http://emberjs.com/about/ emberconf-banner img src points to incorrect relative path:
http://emberjs.com/about/images/about/emberconf-banner.png

https://github.com/emberjs/website/blob/master/source/about.html.erb#L67

[2016-03-18 14:18] acorncom commented on #2505
Thanks, confirmed and just sent in a PR

[2016-03-18 14:28] #2505 closed

[2016-03-18 15:16] acorncom commented on #2504
@vvscode Good catch.  We're working on it over here (#2452), but it's going to take some work.  If you've got some spare time, I know Todd would be happy to have a hand :smile:

I'll close this issue as a duplicate of the other one.

[2016-03-18 15:16] #2504 closed

[2016-03-23 17:28] green-arrow commented on #2488
@acorncom - I have a WIP branch ([comparison here](https://github.com/emberjs/website/compare/master...green-arrow:spell-check?expand=1)), with spell check working. The problem is, there are a **lot** of spelling errors. There are simply a lot of unique words, names in blog posts, and places where github / twitter names are used without being enclosed in an anchor tag.

I figured I'd post the WIP

[2016-03-23 19:53] acorncom commented on #2488
Hmm, not sure I've got a ton of suggestions there.  We could continue teaching it various github / twitter names (which might help with some exceptions).  If there anyway to do a filter on what files are checked?    My inclination would be to only check blog posts for 2016 (and possibly 2015 if you want to) so that we catch new things.  If we could blacklist all other pages and slowly turn off the

[2016-03-24 02:57] acorncom opened #2519 "Move remaining pages to be responsive"
Thanks to #2477 the main site, header and footer are all now capable of being responsive.  However, most of the pages weren't originally designed with that in mind and need to be have some styling re-worked in order to handle that.  This issue tracks which pages need to be "responsified" and orders them roughly by ease / usefulness:

- [blog](http://emberjs.com/blog/) (this could be very helpful,

[2016-03-24 03:05] acorncom opened #2520 "Rearrange content sections on the Community page"
Flip the the Stuck? Lost? header (and content) to be immediately beneath the meetup video (and move the "in a giving mood?" section down to where the Stuck? Lost? section was).

This prioritizes information a bit more to help new folks learning about the Ember Community for the first time.

[2016-03-24 13:22] green-arrow commented on #2488
Even adding valid exceptions to the exceptions file would take significant effort, as there appear to be well over a hundred "mis-spellings".

There definitely is a way to ignore older blog posts, I will take a look at that today and see how much that resolves. I think one of the big things to keep in mind moving forward will be to always wrap github / twitter user names in a link, as I can blanke

[2016-03-24 14:15] green-arrow commented on #2488
*Update:* Restricting this to only blog posts from 2015 onward significantly reduced the number of issues. However, it seems that `middleman-spellcheck` runs its check after build on the `.html` files. There is an issue with this because of how headers are parsed from markdown -> HTML.

When there are two headers in a row, they are rendered side-by-side in HTML, and it appears that causes the text

[2016-03-30 23:46] Gaurav0 opened #2528 "Events inherited from private mixins do not appear in api docs"
For example, events such as didInsertElement do not appear under inherited section in Ember.Component although inherited from ViewTargetActionSupport

[2016-04-01 09:21] toovy commented on #2519
See Pull Request https://github.com/emberjs/website/pull/2523

[2016-04-03 12:24] Gaurav0 commented on #2528
Fixed by https://github.com/emberjs/ember.js/pull/13237

[2016-04-03 12:24] #2528 closed

[2016-04-10 23:12] mixonic opened #2538 "Deprecation Guide for 2.4-LTS items"
The deprecation guide is missing two items for Monday's release:

* [x] A deprecation guide for the private legacy view and controller flags.
* [x] A deprecation guide for deprecating `{{#render` https://github.com/emberjs/website/pull/2540

Additionally, we currently lack a unified way to note if a public or private API is being deprecated. Better than flagging things as public/private would be t

[2016-04-11 02:00] mixonic commented on #2538
![image](https://cloud.githubusercontent.com/assets/8752/14414933/adc5e396-ff67-11e5-8e2f-ae4590a023c0.png)
 via @locks

[2016-04-11 03:23] indvinoth opened #2541 "Builds Page LTS section is outdated"
The first LTS was released on Feb 25, 2016. The [http://emberjs.com/builds/]() page LTS section is not yet updated.

![ember page](https://cloud.githubusercontent.com/assets/836863/14415938/05cfb066-ffd7-11e5-9ed3-df34b9027433.png)

[2016-04-11 03:43] rwjblue commented on #2541
The date is wrong, the first LTS is scheduled to be released at the same time as 2.5.0 (within the next day or so).

[2016-04-11 05:56] anilmaurya commented on #2520
@acorncom Is anything pending in this issue OR it should be closed ?

[2016-04-11 12:45] #2538 closed

[2016-04-11 12:49] rwjblue opened #2543 "Add `until` and `id` information to 2.x deprecation guide items."
In Ember 2.0 when a deprecation is triggered, there are a few pieces of information that are helpful to know that are not currently shown in the 2.x deprecation guide.

* `until` - Each deprecation must include this property, which indicates the last version of Ember that a given feature will be supported in.
* `id` - Each deprecation must include this property, which is an easy to match `id` for

[2016-04-11 12:49] rwjblue commented on #2538
Added https://github.com/emberjs/website/issues/2543 for the last point (and I fleshed it out a bit more).

[2016-04-11 12:50] rwjblue commented on #2543
@emberjs/guides-managers - Could y'all help muster the troops on this one?

[2016-04-11 13:01] rwjblue opened #2544 "Add `Ember.merge` deprecation information."
`Ember.merge` was deprecated in the `ember-metal-ember-assign` feature flag (introduced in https://github.com/emberjs/ember.js/pull/12303 and enabled for 2.5.0-beta.1 in https://github.com/emberjs/ember.js/commit/0f0482f2cdd6d824b9440b65c1a9389aeb574314).  Due to this being a feature that introduces a deprecation, the deprecation guide was not written when the feature was submitted (unclear which

[2016-04-11 14:19] acorncom commented on #2520
Thanks, closing

[2016-04-11 14:19] #2520 closed

[2016-04-11 16:56] Serabe commented on #2543
I take 2.4

[2016-04-11 18:32] chancancode commented on #2544
/me doing it!

[2016-04-11 18:37] #2544 closed

[2016-04-12 07:54] anilmaurya commented on #2541
I think this issue is not relevant anymore.

![screen shot 2016-04-12 at 1 22 47 pm](https://cloud.githubusercontent.com/assets/1912864/14453328/c1fae3de-00b1-11e6-8903-dc01c934d004.png)

[2016-04-12 08:09] indvinoth commented on #2541
@anilmaurya  Thanks for the update. I am closing the issue as it  is no longer valid.

[2016-04-12 08:09] #2541 closed

[2016-04-13 00:54] adamwysocki commented on #2543
happy to pick this one up!

[2016-04-13 18:37] adamwysocki commented on #2543
I think this covers it https://github.com/emberjs/website/pull/2547

[2016-04-13 19:55] rwjblue commented on #2543
Thanks @adamwysocki!

[2016-04-13 19:55] #2543 closed

[2016-04-21 20:10] acorncom commented on #2222
@locks @mixonic Thoughts on this?  Do we still note this somewhere?

[2016-04-21 20:10] acorncom commented on #2212
@locks @mixonic Thoughts on this?  Do we still note this somewhere?

[2016-04-21 20:11] acorncom commented on #2408
Just checked, this is still broken

[2016-04-21 20:17] acorncom commented on #2408
Per a discussion with @Gaurav0 he pointed out I was "holding it wrong".  Clicking the "script tag" section copies a script tag to your clipboard.  Clicking the normal "builds" url copies that instead.  Closing this issue now.

[2016-04-21 20:17] #2408 closed

[2016-04-21 23:49] Serabe commented on #2212
I was actually asked about the motivation behind this in the last Ember Madrid Meetup.

[2016-04-22 14:34] toddjordan commented on #2243
@Frozenfire92 @greyhwndz its in the documentation and its generated, but it is a private property, so if you the private box is unchecked, then the link won't work to it.  Once you check the private box the link works. Seems to be a limitation of the API doc site.

[2016-04-22 16:09] mixonic commented on #2212
Yeah, it still seems good to add an item into the blog post if someone can pick it up, and possibly in the deprecation guide for 1.13? In the blog post it could go at the end of "Removed APIs".

It was listed in the Changelog. It is unfortunate that it was not included in the post.

[2016-04-22 16:22] toddjordan commented on #2243
As targetObject is private, and new api doc infrastructure is being written, and this issue is ~10 months old, I am closing this issue.

[2016-04-22 16:22] #2243 closed

[2016-04-22 16:33] acorncom commented on #2222
See #2212 for suggestions on where to put these notes ...

[2016-04-24 11:22] #2407 closed

[2016-04-24 11:23] locks commented on #2407
After we finish extracting the builds app, we'll work on making the process more automated.

[2016-05-02 16:28] plaughton opened #2574 "Suggestion: better explanation of Radio button support in API docs"
I have been working on ember for a few months, and have just spent a long weekend trying to make a radio input checked work in ember.

I could get {{input type="radio" value=model.var1}} working nicely except that it would not show an existing value i.e. I could not get checked="checked" or similar to work.

I asked a couple of experienced ember dev's and they felt that this has not been included

[2016-05-03 00:15] locks commented on #2574
Hi @plaughton, thank you for your feedback! This isn't quite the right repository to open this issue on, but since it's a bit confusing let's explore the idea before potentially redirecting.

Radio buttons are confusing in of themselves, so coupling them with Ember doesn't help, right ;) Since we already have a guide on [input helpers](https://guides.emberjs.com/v2.5.0/templates/input-helpers/), m

[2016-05-05 12:13] webofnithin commented on #2519
i have started making the blog and top menu  responsive, Any ideas for handling the sidebar?

[2016-05-09 21:42] acorncom commented on #2519
@webofnithin Re: the blog page, I would suggest you paginate and put the blog menus beneath the main content area.  But it would probably also be worth coordinating with us on the Slack `-learning` channel, as there are a few things it might be easier to discuss ...

Aso, the top menu should already be responsive if you match what was done on some of the other PRs (see https://github.com/emberjs/w

[2016-05-10 05:46] amurchick opened #2581 "Docs update"
On page http://emberjs.com/api/classes/Ember.Application.html
[code]
link in phrase `Ember View Layer guide` points to https://guides.emberjs.com/v2.5.0/understanding-ember/the-view-layer/, but 404 error happens.

Old worked link was http://guides.emberjs.com/v1.11.0/understanding-ember/the-view-layer/#toc_adding-new-events

[2016-05-10 15:57] acorncom commented on #2581
@amurchick This is actually generated from API documentation in the headers of the appropriate files in emberjs/ember.js  Would you mind sending in a PR over there to remove the link (and possibly edit the text)?  Views don't exist in 2.x, which is why the guides page was removed ...  I'll close this here for now ...

[2016-05-10 15:57] #2581 closed

[2016-05-12 15:26] steveszc commented on #2519
See Pull Request #2583 - new responsive styles and markup for Showcase component (ember-users and sponsors)

[2016-05-17 06:38] kennethlarsen commented on #2519
See Pull Request #2587 - responsive layout for logos page.

[2016-05-17 19:32] TJScalzo opened #2589 "Link in README to clone repo is wrong"
Currently it says:
[code]
It should be:
[code]

I assume everyone is smart enough to figure out the proper link to clone things. I just think it'd be best if the `README` had an accurate link.

[2016-05-17 21:13] locks commented on #2589
Can you submit a PR please?

[2016-05-17 21:28] acorncom commented on #2589
Either should work, but the `git://` link only works if you have your Github account setup with an SSH key (if I remember correctly)

![screen shot 2016-05-17 at 3 27 52 pm](https://cloud.githubusercontent.com/assets/802505/15339909/f54a47b8-1c43-11e6-8444-493675e8253a.png)
![screen shot 2016-05-17 at 3 27 57 pm](https://cloud.githubusercontent.com/assets/802505/15339910/f54be0e6-1c43-11e6-90d6-80

[2016-05-17 22:07] TJScalzo commented on #2589
@acorncom I don't have mine set up with SSH so it didn't work when I tested it. That's what made me assume it didn't work.
@locks Do you still want me to make a pull request with changes or is it fine how it is?

[2016-05-17 23:23] acorncom commented on #2589
@TJScalzo Yep, send in a PR, better to have instructions that work for everyone :-)

[2016-05-18 04:37] #2589 closed

[2016-05-20 06:20] webofnithin commented on #2519
See pull request #2594 - responsive blog with pagination

[2016-05-21 06:43] webofnithin commented on #2519
See pull request #2595 - responsive blog with pagination

[2016-05-24 13:40] Vaporbook opened #2598 "Following link from block comment leads to multiple 404s"
Would love to see this prioritized as it really inhibits Ember newbies like myself from learning about how the framework actually works.

Repro:

A doc comment on the Application namespace in ember 1.13 contains a URL http://emberjs.com/guides/understanding-ember/the-view-layer/#toc_event-delegation. Following the URL leads to a redirect to https://guides.emberjs.com/v2.5.0/understanding-ember/the

[2016-05-24 13:48] Vaporbook opened #2599 "Version dropdown on guide does not maintain original navigation state within guide"
1. Google "Ember View Layer guide" https://www.google.com/search?q=Ember+View+Layer+guide&oq=Ember+View+Layer+guide&aqs=chrome..69i57j69i60.293j0j7&sourceid=chrome&ie=UTF-8

2. Click the first result. https://guides.emberjs.com/v1.10.0/understanding-ember/the-view-layer/

3. Change the version using the dropdown, to v1.13.0. It goes to https://guides.emberjs.com/v1.13.0/

This is either a bug or a

[2016-05-24 17:04] locks commented on #2598
Unfortunately we cannot update API documentation to rectify the link, as that would require a new release, so the first 404 is unavoidable. We have discussed redirection strategies, but it's either "show them a 404", or "do some error-prone logic to figure out the best page to redirect to". At least with the 404 it's a consistent experience ^_^;
As for the link in the 404 page itself, that was [al

[2016-05-24 17:04] #2598 closed

[2016-05-24 17:09] Vaporbook commented on #2598
Very quick, thanks!

[2016-05-24 17:15] locks commented on #2599
The [explanation for the 404 page](https://github.com/emberjs/website/issues/2598) bug is also relevant to this problem.

The learning team is aware of both the problems with the version switcher, where we're limited by legacy infrastructure, and the need for technical explanations, where we're limited by lack of bandwidth.

I am closing this issue as there's already one in the respective Guides r

[2016-05-24 17:15] #2599 closed

[2016-05-25 12:39] kgish opened #2601 "Ember CLI Addon link broken"
At the bottom of the [quick start](https://guides.emberjs.com/v2.5.0/getting-started/quick-start/) page, the Ember CLI Deploy Addon link is broken (404).

[2016-05-25 13:40] locks commented on #2601
Thank you for bringing it up. This [has been fixed](https://github.com/emberjs/guides/pull/1406) in the guides already, and should be updated when we release the 2.6 guides this week.

[2016-05-27 20:03] kgish opened #2605 "Tutorial: Minor typo"
https://guides.emberjs.com/v2.5.0/tutorial/simple-component/

For the sample `app/templates/index.hbs`:

[code]
should be:

[code]

A suggestion might be to explain `{{partial shared/footer}}` before.

[2016-05-27 20:11] kgish opened #2606 "Tutorial: Explain partials for header and footer in application.hbs"
At the beginning of the tutorial I'd like to suggest explaining `application.hbs` by bracketing `{{outlet}}` with the common header/footer.

[code]

with `shared/-header.hbs` containing:
[code]

and `shared/-footer.hbs` containing something like this:
[code]

[2016-05-27 20:26] acorncom commented on #2605
@kgish Would you mind sending in a PR for your change above?

[2016-05-27 20:27] acorncom commented on #2606
@toddjordan Thoughts?  I'm inclined to agree, but wonder about not using partial but a few simple component there instead ...

[2016-05-27 20:42] kgish commented on #2606
Sure, components would be better and more applicable to the newer version ob emberjs.

[2016-05-27 20:45] kgish commented on #2605
Sure i can do that, just lazy by nature ... :-)

[2016-05-28 00:00] locks commented on #2605
@kgish it's actually more work to open this issue than to click the pencil on the guides page and edit in-line ;P

[2016-05-28 00:27] locks commented on #2605
@kgish you mention a `{{partial}}`, but I can't find any in the Tutorial, where did you see it mentioned?

[2016-05-28 00:27] locks commented on #2605
cc @toddjordan

[2016-05-28 01:42] #2601 closed

[2016-05-28 19:22] kgish commented on #2605
I tried clicking the pencil but it said that I had to fork it first in order to make changes. Looked in the code and see there's a `simple-component.md` file I can modify but don't know what to do with all the other language versions. Must I edit these as well?

[2016-05-28 19:24] kgish commented on #2605
In the guides repos. Which branch should I use?

[2016-05-28 19:25] locks commented on #2605
Strange, it should fork for you. I have to check it.

You just need to translate the source english one, `simple-component.md`. Master branch :)

[2016-05-28 19:38] kgish commented on #2605
I'm referring to the v2.5.0 one, there seems to be many differences between master and what I see.

[2016-05-28 19:40] locks commented on #2605
@kgish you can't, our current infrastructure only enables us to update master :\

[2016-05-28 19:41] locks commented on #2605
Reach us at #-learning on Slack if you need a bit more direction!

[2016-05-28 19:42] kgish commented on #2605
Bummer, will check in for assistance.

[2016-05-31 01:32] toddjordan commented on #2605
@kgish The tutorial's currently being revamped as part of https://github.com/emberjs/guides/issues/1374

The footer has turned into a navigation banner and placed in the application hbs.  I don't see a need for partials here.  as the banner will be single sourced.

You should start seeing more updates to the tutorial when the 2.6 version of the guides are deployed.  There will also be changes afte

[2016-05-31 02:22] toddjordan commented on #2606
@kgish @acorncom what do we think the advantage of using a partial or a component here as opposed to just declaring the markup in application hbs?

[2016-05-31 09:07] MondeSameWave opened #2609 "Add Cape Town meet up group to community page."
SameWave has started the first Meetup group in South Africa and would like to be added to the community page on the ember JS website.

http://www.meetup.com/EmberJS-Cape-Town/

I've added the Cape Town Meet Up group in this pull request

https://github.com/emberjs/website/pull/2610

[2016-05-31 11:41] locks commented on #2606
@toddjordan conciseness in the Guides examples and an excuse to show components? Otherwise, inlining makes sense.

[2016-05-31 12:29] kgish commented on #2606
I always prefer to have my header and footer stuff easily referenced in separate files (be it either a component or partial), also for the sake of avoiding too much clutter.

[2016-05-31 13:07] toddjordan commented on #2606
While I am not opposed to the idea of using partials or components for clearing up clutter on the the application template, our goal with the tutorial is to introduce basic/universal concepts to get one started developing an app.

Also, using a component introduces components before its formal introduction later in the tutorial.

I would rather see partials introduced in the guides under the templ

[2016-05-31 13:10] toddjordan commented on #2605
I see there's also issue #2606 which is related.  I'm closing this issue since the nav markup in index.hbs is going away.

[2016-05-31 13:10] #2605 closed

[2016-06-02 00:17] nathanhammond opened #2613 "[a11y] Color contrast needs to be higher."
The color contrast between foreground and background content needs to be higher in order to meet Web Content Accessibility Guidelines.

[2016-06-02 13:12] locks commented on #2609
Merged!

[2016-06-02 13:12] #2609 closed

[2016-06-02 13:20] locks commented on #2606
I consider `{{partial}]` and friends to be soft-deprecated, hence [their removal from the guides](https://guides.emberjs.com/v1.13.0/templates/rendering-with-helpers/).
I am closing this issue as the super rentals tutorial seems to have been updated significantly since the code mentioned by OP.

Thanks for the discussion everyone, let's keep improving the tutorial :)

[2016-06-02 13:20] #2606 closed

[2016-06-06 18:40] Gaurav0 opened #2615 "Deprecation Guide for modifying property within didInsertElement"
The solution presented here:

http://emberjs.com/deprecations/v1.x/#toc_modifying-a-property-within-code-didinsertelement-code

usually doesn't work. didRender triggers the same deprecation warnings. In fact, this deprecation warning is poorly worded in that regard.

Anyway, I suggest that the best solution is to use the run loop, i.e. `Ember.run.schedule('afterRender', ...` within `didInsertEleme

[2016-06-06 18:51] Gaurav0 opened #2616 "Update 'Application Concerns' sections to discuss fastboot"
So some of the problems people run into with fastboot are that:

1. Instance initializers are run in parallel for each user connecting within fastboot. You should not share state between them.

2. Despite its name, the `afterRender` run loop queue is executed in fastboot, unless triggered from someplace that isn't run, like `didInsertElement`

3. Services are no longer singletons, and now exist pe

[2016-06-06 18:52] #2616 closed

[2016-06-20 00:43] steve9001 opened #2626 "ember-fastboot deploy instructions error"
On http://ember-fastboot.com/docs/deploying under the "Deploying Your App" section, the first sentence of the third paragraph seems to contradict the rest of the section:
"Make sure that you install npm modules in dist **before** uploading dist to your server."

[2016-06-20 00:56] rwjblue commented on #2626
Hmm. I'm not sure which repo houses the fastboot website at the moment.

@tomdale / @danmcclain - Do y'all know?

[2016-06-20 00:58] danmcclain commented on #2626
https://github.com/ember-fastboot/fastboot-website

[2016-06-20 09:27] #2626 closed

[2016-06-20 14:20] locks opened #2628 "Builds page link to Getting Started guide"
![screen shot 2016-06-20 at 15 19 04](https://cloud.githubusercontent.com/assets/32344/16197584/8cf89a08-36fa-11e6-8a13-26be099d7c5c.png)

[2016-06-20 14:37] chriskrycho opened #2629 "Programmatically update link to Quick Start on builds page"
It would be *great* if the link to the Quick Start guide on the builds page were updated automatically, so we don't need to remember to do manual changes like #2627 going forward.

@rwjblue [suggested](https://github.com/emberjs/website/pull/2627#issuecomment-227147791) doing similar to [how the `guide.erb` gets the version](https://github.com/emberjs/website/blob/05ff7028cf46f65ed36c6cb388990fb45

[2016-06-20 14:39] locks commented on #2629
Duplicate of #2628

[2016-06-20 14:39] #2629 closed

[2016-06-20 14:40] locks commented on #2628
@chriskrycho

[2016-06-20 14:51] chriskrycho commented on #2629
Ha! You beat me to it!

[2016-06-26 20:15] iezer commented on #2574
👍  on this issue. I opened in a ticket in the guides repo https://github.com/emberjs/guides/issues/1535 . I suggest closing this ticket in favor of that one @plaughton  .

[2016-06-27 01:55] #2628 closed

[2016-06-27 19:29] mixonic commented on #2574
Closing in favor of https://github.com/emberjs/guides/issues/1535

[2016-06-27 19:29] #2574 closed

[2016-06-30 20:46] samselikoff opened #2638 "Old build?"
I think an old version of the website might have gotten published?

http://emberjs.com/builds/#/beta shows "2.6.0 coming May 23rd"

![image](https://cloud.githubusercontent.com/assets/2922250/16503689/291a9992-3ee2-11e6-9476-9ffe3779840e.png)

and http://emberjs.com/blog/ shows May 17 as the latest post

![image](https://cloud.githubusercontent.com/assets/2922250/16503704/348c979e-3ee2-11e6-8035-b

[2016-07-01 12:52] rwjblue commented on #2638
OK, looks fixed now.  I believe that @locks has tweaked the deploy script also to prevent this in the future.

[2016-07-01 12:52] #2638 closed

[2016-07-06 00:03] bambery opened #2640 "Replace search system with new Algolia setup"
Right now, when I search on the guides page (https://guides.emberjs.com/), I get API results. For example, I was looking for more information on _super.

![screen shot 2016-07-05 at 7 00 41 pm](https://cloud.githubusercontent.com/assets/161639/16603594/d8486e90-42e2-11e6-963a-f60b11741f73.png)

When I do the same search on the API page, I got no results. I don't seem to be able to search the API d

[2016-07-07 15:59] acorncom commented on #2640
What you are seeing is part of a slow swapping out of our search systems (the old one didn't work as well).  We've been testing on guides (v2.3-2.6) and were gauging people's reaction before back porting to older guides.  Once we finish back porting search, we'll replace search on the main emberjs.com website (and the API section in particular)

Thanks for the feedback, I'm gathering you like the

[2016-07-08 20:39] dgeb opened #2641 "Introduce an "Online" category for meetups"
We should have a category for online meetups not tied to a particular lat/long.

Re: https://github.com/emberjs/website/pull/2371

[2016-07-08 23:58] wifelette commented on #2641
I initially had a suggestion for that; the issue was closed due to inactivity, I think the assumption was that the folks talking about it at the time lost interest. At the time it was the best idea I could come up with, and there haven't been better suggestions since.

That said. With the growth of the online conf phenomenon, the online video lecture series concept, online trainings, things like t

[2016-07-09 21:07] dgeb commented on #2641
That all makes a lot of sense to me, @wifelette. You've clearly thought a lot about this issue, which borders on many others.

I agree that the Meetups page should not feature any for-profit, commercial events. I'm pretty sure this would feel misleading, given the common expectation that meetups are non-profit, community-driven events. I suppose there could be a place for an online meetup that is

[2016-07-10 23:09] workmanw opened #2642 "Missing blog posts on emberjs.com/blog."
Specifically the latest two about ember/ember-data 2.6 being released and the post about subteams. They're in the website's repo: https://github.com/emberjs/emberjs.github.com/tree/master/blog/2016/06/09 , they just don't seem to be listed on the blog index page.

![image](https://cloud.githubusercontent.com/assets/825487/16716683/d2db1460-46d1-11e6-95ae-5669f365da9f.png)

[2016-07-11 00:21] rwjblue commented on #2642
Ugh. This happened once before. Something about our auto-deploy is resulting in older revisions being deployed.

[2016-07-11 01:12] workmanw commented on #2642
Oh. Perhaps it'll just disappear on it's own again? If I see that happen I'll close this issue.

[2016-07-11 11:35] locks commented on #2642
The `learn-page` got deployed. On it.

[2016-07-11 11:37] locks commented on #2642
That branch was older than the fix to the script, so it didn't contain the check for `master`. We should be good again! Thanks @workmanw.

[2016-07-11 11:37] #2642 closed

[2016-07-11 11:49] workmanw commented on #2642
:+1: Those posts are back up now :)

[2016-07-16 04:57] #2640 closed

[2016-07-28 09:20] radu-stefanache opened #2660 "Ember.Select documentation 404"
I was looking for the documentation of the Ember.Select and got a 404 for the first result:
http://emberjs.com/api/classes/Ember.Select.html

[2016-07-28 17:37] locks commented on #2660
Hi @radu-stefanache, where and what did you search for that link to be the first result? Thanks!

[2016-07-28 19:06] radu-stefanache commented on #2660
Hi Ricardo,

did a google search and that link is the first result.

http://lmgtfy.com/?q=Ember+select+site%3Aemberjs.com

Cheers,
Radu S.

[2016-07-28 22:20] locks commented on #2660
Ah, in that case there's not much we can do to fix this problem, as far as I'm aware.
`Ember.Select` was removed in Ember 2.0, and our API docs aren't versioned, so they always show the current version.
I'll make a note to bring this up at the next meeting, thank you for bringing it up!

[2016-07-28 22:20] #2660 closed

[2016-08-17 03:03] xmuplus opened #2663 "bundler: failed to load command: middleman (/usr/local/bin/middleman)"
Sir, I follow your guides to operate. But after I enter `bundle exec middleman`, it prints such errors. I can find 'middleman-3.4.1' in `/usr/local/lib/ruby/gems/2.3.0/gems`.

`bundler: failed to load command: middleman (/usr/local/bin/middleman)
LoadError: cannot load such file -- rack/mime`

 I had tried several times on OS X, but couldn't deal with it. Please help me. Thanks!

[2016-08-17 09:54] locks commented on #2663
Hi @xmuplus, did you run `bundle install` before, and did it run without errors?

[2016-08-17 13:21] xmuplus commented on #2663
@locks Sir, it's so kind of you to reply. Thank you! I have solved it successfull by  reinstalling Ruby (via RVM) and Rubygems before using `bundle install` you recommended, . Because when I run some Jekyll blogs using `jekyll serve` locally today, there were many `failed to load command: ******`.

[2016-08-17 14:26] acorncom commented on #2663
Glad to hear you got this sorted out, will close this now then. :-)

[2016-08-17 14:26] #2663 closed

[2016-08-23 03:42] Ajeey opened #2667 "Menu bar messed up on Safari"
Safari Version 8.0 (10600.1.25)

<img width="1440" alt="screen shot 2016-08-22 at 12 40 58 pm" src="https://cloud.githubusercontent.com/assets/1799117/17879692/98374344-6911-11e6-94e2-3ed6364dec7e.png">

[2016-08-23 03:58] acorncom commented on #2667
@Ajeey Are you able to track down any additional information on what is going on here?  I'm running Safari 9.1.2 and am not seeing anything close to the same issue ...

[2016-08-23 04:25] Ajeey commented on #2667
I suppose it only occurs on Safari 8.0. Will debug and let you know.

[2016-08-23 10:01] Ajeey commented on #2667
@acorncom We need to add `display: -webkit-flex;` in .header .container rule for flex to be supported in safari browsers < 9.

PR - https://github.com/emberjs/website/pull/2668

[2016-08-23 10:33] locks commented on #2667
Thanks for the quick fix!

[2016-08-23 10:33] #2667 closed

[2016-08-25 16:34] ubuntuvim opened #2670 "Run Error "website/lib/sponsors.rb:11:in `<module:Helpers>': uninitialized constant Sponsors::Helpers::APIDocs (NameError)""
The following is a detailed error message:
[code]

This is my system and operating environment.

[code]

Do not know if I have encountered this problem, I ask how to solve, I find Google does not know how to solve.

Looking forward to your reply.

[2016-08-25 23:35] acorncom commented on #2670
@ubuntuvim Are you available to discuss on the Ember Community Slack?  If so, please visit `#-team-learning` and we can see about helping you debug ...

[2016-08-26 01:25] ubuntuvim commented on #2670
@acorncom Thanks for reminding.

[2016-08-29 01:58] ubuntuvim commented on #2670
I was negligent, with non root permissions to run on it.

[2016-08-29 01:58] #2670 closed

[2016-09-13 15:04] BrettKoenig opened #2681 "Broken Link"
The link with the text "To tell us more about your request, reach out." is broken on the page http://emberjs.com/tomster/faq/

[2016-09-13 15:10] wifelette commented on #2681
Fixed in https://github.com/emberjs/website/commit/09b49c2e00036ecc43223696d61af065c79d89ee

[2016-09-13 15:10] #2681 closed

[2016-09-13 15:10] wifelette commented on #2681
Pretty sure I broke this yesterday :p Will sort out _how_ later, but thanks for reporting!

[2016-09-22 02:27] steveszc commented on #2519
See pull request #2683 - responsive Community page

[2016-09-22 03:04] steveszc commented on #2519
See pull request #2684 - responsive team page

[2016-09-27 10:51] teunsteenbekkers opened #2686 "Incorrect line of code in documentation?"
Hi there!

To get familiar with your awesome tool I started out with the tutorial on your site and adapted it to my own use case.

I **think** I found an error in the section _Services and Utilities_ of the tutorial (Ember v2.8.0), though I'm not entirely sure.

Well, here goes:

In the file below there's a line in the integration test which is supposed to check if a map element was put on screen.

[2016-09-27 11:28] teunsteenbekkers commented on #2686
Also, in:

_tests/integration/components/location-map-test.js - line 25_
`assert.equal(this.get('mapsService.calledWithLocation'), 'New York', 'a map of New York should be requested');`

I should be getting a pass because the 'calledWithLocation' should be set to 'New York', yet this is not the case. Can't seem to get it to pass.

[2016-09-27 13:17] toddjordan commented on #2686
@teunsteenbekkers Thanks for reporting, I'll take a look.  Note that there's a working version of the super rentals turorial in github you can use to validate your code: https://github.com/ember-learn/super-rentals

[2016-10-03 07:58] callmeNewbie opened #2689 "Ember.js guides link is down"
the ember.js guide https://guides.emberjs.com/ is broken link i try to click but the link is down

[2016-10-03 10:08] locks commented on #2689
Can't reproduce @callmeNewbie:

![screen shot 2016-10-03 at 11 07 18](https://cloud.githubusercontent.com/assets/32344/19034086/995d912a-8959-11e6-8160-2a718d181e05.png)

[2016-10-03 23:07] locks commented on #2355
Closing due to staleness. If anyone still wants to pursue it, I can reopen it.

[2016-10-03 23:07] #2355 closed

[2016-10-04 02:51] callmeNewbie commented on #2689
yeah i check the docs but the link is down

[2016-10-04 03:16] callmeNewbie commented on #2689
right now i just browse the guides in ember.js you can close now the issues :)

[2016-10-04 03:40] #2689 closed

[2016-10-04 21:10] romulomachado commented on #2519
See #2690 for the meetups page.

[2016-10-06 21:06] acorncom commented on #2686
@teunsteenbekkers Regarding the above, would you be able to send in PRs for those two items on the guides repo (https://github.com/emberjs/guides/)?  Would be much appreciated! 👍

I'll go ahead and close this issue for now

[2016-10-06 21:06] #2686 closed

[2016-10-07 08:07] teunsteenbekkers commented on #2686
When I find time later today I'll certainly do that! :)

On 6 October 2016 at 23:06, David Baker <notifications@github.com> wrote:

[2016-10-12 16:51] iezer opened #2696 "Update Getting Started on homepage to use yarn"
`yarn global add ember-cli` instead of `npm install -g ember-cli` [docs](https://yarnpkg.com/en/docs/migrating-from-npm).

Or maybe give both options?

<img width="339" alt="screen shot 2016-10-12 at 12 48 43 pm" src="https://cloud.githubusercontent.com/assets/87991/19319322/6e433d78-907a-11e6-9057-b8e79348d5e1.png">

[2016-10-12 18:48] stefanpenner commented on #2696
https://github.com/emberjs/website/pull/2697#issuecomment-253298283

[2016-10-12 18:48] #2696 closed

[2016-10-14 14:17] ultimatemonty commented on #2369
most of these look pretty straight-forward to correct. The only tricky one is the Router example where you have several different things in `app.js`

Does it make more sense to add some comments on file location e.g.
[code]

Or could we set these up in Twiddle's and then use iframes to embed each Twiddle? That'd be a nice way to show everything off as well as introduce folks to Twiddle right from

[2016-10-14 16:31] Gaurav0 commented on #2369
Twiddles to replace homepage examples:

https://ember-twiddle.com/45d81b7613faa6b9ad2aac6e1fb95b71
https://ember-twiddle.com/808b7181756ec08efe2dc795eefb3c3f
https://ember-twiddle.com/927461e47748823ceeab88dcf556bf6b

Example 4 needs discussion on how to replace fixture.

[2016-10-14 16:35] ultimatemonty commented on #2369
I'd say just move the fixtures to an array defined in model. outside of that I don't believe anything else needs to change

[2016-10-14 17:10] Gaurav0 commented on #2369
Done that way:

https://ember-twiddle.com/aae9f2cccb25a5d41ba3a5de05bb13ab

[2016-10-14 19:41] ultimatemonty commented on #2369
thanks @Gaurav0! I'll try and take a look at this over the weekend

[2016-10-14 23:30] acorncom commented on #2369
@Gaurav0 One of the things we'd discussed in the past was the impact on Twiddle that the increase in traffic from the homepage would have.  Is that less concerning to you at this point?

[2016-10-15 17:18] Gaurav0 commented on #2369
I don'the think that should be a problem.

[2016-10-16 14:46] ultimatemonty commented on #2641
Would it be useful to have a Resources section? We have something similar on the [Atlanta Ember](http://www.atlantaember.io/resources#/resources) that could be a good fit. It could live on the existing Community page. Maybe a 3rd section called **Want to learn more?** at the bottom along with **Join a Meetup** and **Meet Tomster**?

[2016-10-16 18:17] ultimatemonty commented on #2519
@acorncom as soon as the updates to the Tomsters page from #2699 are merged I'll take a look at that page and make any necessary adjustments.

[2016-10-24 03:44] tsing80 opened #2708 "missing ember-data 2.8 and 2.9 blog post"
as title

[2016-10-31 21:51] stefanpenner opened #2712 "link broken on: http://emberjs.com/security/"
RFPolicy links to: http://www.wiretrip.net/p/rfpolicy.html which 404's

[2016-11-03 16:29] martndemus opened #2713 "Update Examples on the Homepage to use ES6 + modules."
I just had a case we're I showed someone new to Ember the frontpage.

One of the first examples he looked at was:
[code]

His first reaction was: "That's horrible, it looks like Backbone!".
So I asked him what part did make it feel like Backbone. He answered that `App.GravatarImageComponent` did.

Therefore I think we should make it an issue to update the homepage of emberjs.com as quickly as poss

[2016-11-03 16:31] locks commented on #2713
Duplicate of https://github.com/emberjs/website/issues/2369.

[2016-11-03 16:31] #2713 closed

[2016-11-04 22:43] aren55555 opened #2716 "A search with no results should indicate that there are no results"
I just used the search bar on emberjs.com; I pasted in the query `modulePrefix `... nothing happened. I then press `Return`; and the page redirected to `http://emberjs.com/?`. I repeated this a couple of times thinking it was broken.

Turns out there are actually no results for the `modulePrefix` query. However the search in no way indicates this.

[2016-11-10 15:45] #2712 closed

[2016-11-11 21:47] Gaurav0 commented on #2343
We are working on this at https://github.com/ember-learn/ember-api-docs Please help us out!

[2016-11-25 07:08] martndemus opened #2724 "Builds table at /builds/:channel is misaligned."
I noticed the table containing the build files did not align to it's headers:
<img width="795" alt="screen shot 2016-11-25 at 07 59 45" src="https://cloud.githubusercontent.com/assets/903637/20616985/536cbcca-b2e6-11e6-9c9a-02f4638b89a7.png">

[2016-11-25 09:27] locks commented on #2708
I believe there were no blog posts because there were no significant changes. Let's see about 2.10 :)

[2016-11-25 09:27] #2708 closed

[2016-11-25 09:39] locks opened #2725 "Builds sub-routes result in 404"
Middleman isn't properly configured, so for example http://emberjs.com/builds/release goes to 404.

[2016-11-25 09:40] locks commented on #2724
Fixed.

[2016-11-25 09:40] #2724 closed

[2016-11-29 11:20] #2725 closed

[2016-11-30 17:32] cball opened #2733 "/builds 404s"
Might be related to #2725?

[2016-11-30 17:32] HeroicEric opened #2734 "Builds page is broken"
The "Builds" page link to in the navbar and in [the new blog post](http://emberjs.com/blog/2016/11/30/ember-2-10-released.html) is 404'ing.

Link: http://emberjs.com/builds/

[2016-11-30 17:39] mixonic commented on #2734
Thank you! Fixed in https://github.com/emberjs/website/pull/2735

[2016-11-30 17:39] #2734 closed

[2016-11-30 17:39] mixonic commented on #2733
Thank you! Fixed in https://github.com/emberjs/website/pull/2735

[2016-11-30 17:39] #2733 closed

[2016-12-02 19:48] mixonic opened #2739 "Previous Releases page is not listing releases"
On http://emberjs.com/builds/tagged the list of previous releases not longer appears.

[2016-12-03 09:25] locks commented on #2739
The canary branch is also not showing the files.

[2016-12-06 01:54] #2739 closed

[2016-12-08 06:59] kobe00 commented on #2430
It may be the version issue, but it can be fixed by changing data -> rentals, and removing type:'rentals'.
return {
      rentals: [{
        id: 'grand-old-mansion',
          title: 'Grand Old Mansion',
....
          type: 'Estate',
....
      }
]

[2016-12-10 19:13] locks opened #2749 "Extract showcase applications into YAML file"
I'm currently working on adding a [showcase](https://github.com/emberjs/website/pull/2722) section to the Learn page, but I'm hard-coding everything.
We should extract the data into a YAML file, like we do for some other parts of the website, and render that data. This should avoid HTML errors and make the list easy to manage.

[2016-12-11 15:36] locks commented on #2749
I done gone and extracted it. I've ended up [with this](https://github.com/emberjs/website/commit/0dfa63dcefa7b85298d1fcf2f7ceddcee3e7be6b#diff-b402e4a8fc3af7005fd1b57222643947R26) based on your initial suggestion:

[code]

I have added a commented-out placeholder to the bottom of the file, along with a commented out, specifying any rules necessary.

[2016-12-11 21:33] locks opened #2751 "Move tutorial back to website"
Twin issue: https://github.com/emberjs/guides/issues/1746

- [ ] Set up tutorial under `/learn/tutorial`

[2016-12-13 11:12] ctusch opened #2759 "Outdated Observable.addObserver documentation"
The [documentation for Observable.addObserver](http://emberjs.com/api/classes/Ember.Observable.html#method_addObserver) seems outdated. The optional _context_ parameter doesn't seem to exist anymore. The callback only has two arguments: _sender_ and _key_. The other 2 (or 3) arguments aren't passed to the callback.

[2016-12-13 11:17] locks commented on #2759
Hi @ctusch, thank you for the report. Could you move the issue to https://github.com/emberjs/ember.js? API documentation is generated from Ember's source code, so it'll need to be fixed there!

[2016-12-13 12:51] ctusch commented on #2759
Oh sorry, you are right. I've opened [a similar issue](https://github.com/emberjs/ember.js/issues/14714) there and am closing this one. Thank you!

[2016-12-13 12:51] #2759 closed

[2016-12-15 02:39] locks opened #2761 "Add deprecation guide for ember-views.lifecycle-hook-arguments"
- RFC: https://github.com/emberjs/rfcs/pull/191
- Ember PR: https://github.com/emberjs/ember.js/pull/14711

As per the deprecation RFC process, it is necessary to write a corresponding [deprecation guide](http://emberjs.com/deprecations). While the RFC is not merged yet, meaning the deprecation is not in the codebase, much less part of a release, we can preemptively write the guide so everything i

[2016-12-17 05:27] #2749 closed

[2016-12-18 14:52] joshross4 opened #2766 "Links to tests are broken"
From the release and beta channels of the builds pages, the links to the tests do not seem to work.

http://emberjs.com/builds/release
http://builds.emberjs.com/tags/v2.10.1/ember-tests-index.html

http://emberjs.com/builds/beta
http://builds.emberjs.com/tags/v2.11.0-beta.3/ember-tests-index.html

They both have a "NoSuchKey" error.

[2016-12-19 18:30] locks opened #2771 "Update main navigation"
- [x] Remove About (https://github.com/emberjs/website/pull/2767)
- [ ] Replace Guides with Learn dropdown. Dropdown:
  - [ ] Learn
  - [ ] Tutorial
  - [ ] Guides
  - [ ] Deprecations
- [ ] Make API a dropdown. Dropdown:
  - [ ] Ember
  - [ ] Ember Data
  - [ ] Ember CLI (needs to update styling to match)

@emberjs/learning-team-managers
@MelSumner

[2016-12-21 03:24] MelSumner commented on #2771
Learn is both the main nav item and the first sub-nav item?

[2016-12-21 03:35] MelSumner commented on #2771
Also what about ember-engines or is that not ready for prime time yet?

[2016-12-21 09:35] locks commented on #2771
I'm not sure how to solve that one, because I want to link people to the learn page itself :\

Engines and fastboot are not 1.0.0 yet, though you could use them in production. Which is to say, we need to figure out how to best link the websites together.

[2017-01-05 14:32] locks opened #2778 "Add a noindex meta tag to /internal pages"
We've recently split up our API documentation into framework user (`/api`), and framework developer (`/internal`) endpoints.
The internal API documentation section of the website should not be indexed by automated bots.

[2017-01-07 05:31] acorncom commented on #2778
Based on a quick glance (don't have time to send in a PR right now), we may be able to add the following to the beginning of each of the internal pages and then add the appropriate `noindex` meta tag much like we do here (https://github.com/emberjs/website/blob/master/source/layout.erb#L18-L20)

[code]

Pages we'll need to adjust:

- https://github.com/emberjs/website/blob/master/source/internal_a

[2017-01-07 23:32] jenweber opened #2780 "Add deprecation guide for ds.deprecated-initializers"
- RFC: https://github.com/emberjs/rfcs/pull/181
- Ember PR: https://github.com/emberjs/data/pull/4657

id: 'ds.deprecated-initializers',
until: '3.0.0'

@locks should this go under a pending features header or elsewhere? Is there anything else I should know besides what is in the RFC? This seems pretty straightforward.

[2017-01-07 23:53] locks commented on #2780
Yup, pending features sounds good!

Nope, that's it really, very straightforward update of a string!

[2017-01-08 01:17] locks opened #2782 "Fix Planet Argon logo in ember-users page"
The Planet Argon logo has full white background which breaks the styling of our page.

[2017-01-08 21:57] #2780 closed

[2017-01-09 10:53] #2761 closed

[2017-01-10 19:22] locks opened #2785 "API documentation is not property displaying"
Example: http://emberjs.com/api/classes/Ember.Router.html#method_willTransition

Reproduction:
- Set up website and ember.js repositories as described in https://github.com/emberjs/website#api-documentation
- Go to http://localhost:4567/api/classes/Ember.Router.html#method_willTransition

[2017-01-22 18:38] williamhaley opened #2789 "Broken link in RSVP.Promise documentation"
The link to the promise.js source seems to be broken in the [RSVP.Promise API docs](http://emberjs.com/api/classes/RSVP.Promise.html).

The link in that doc for **DEFINED IN: bower_components/rsvp/lib/rsvp/promise.js:30** results in a 404 for me.

![screenshot at 2017-01-22 12-35-25](https://cloud.githubusercontent.com/assets/1851748/22184815/4543065e-e09f-11e6-9463-4d28be457927.png)

 It currentl

[2017-01-22 20:31] locks commented on #2789
Thanks for reporting. API documentation is automatically generated from the source code, and I'm not quite sure how to fix this.

[2017-01-25 08:52] pawepaw opened #2791 "Nested component - non deterministic test result"
Hello,

I have nested components(custom-popup wrapps another component) and i got non deterministic test results. more or less 50% time it does not render nested component where "Sample Data" text should be displayed.

[code]

Tried also with wait but it makes no difference

[code]

Any idea how to make it deterministic? Wait somehow or fix component?

[2017-01-25 10:04] #2791 closed

[2017-01-25 10:04] pawepaw commented on #2791
wrong repository. Sorry ;)

[2017-01-26 18:57] acorncom commented on #2716
Confirmed, I'm seeing this as well.  However, this seems to be an issue with the docsearch library (https://github.com/algolia/docsearch) that we're using. I'm seeing similar issues when searching on the React website for something that doesn't exist (https://facebook.github.io/react/).

@aren55555 Would you be interested in researching this further to see if you can work out a fix?  Would love to

[2017-01-27 02:34] aren55555 commented on #2716
@acorncom I'm not too familiar with docsearch; but it looks like they have closed a similar issue: https://github.com/algolia/docsearch/issues/92

[2017-01-31 23:50] locks opened #2795 "Confusion in Node LTS support blog post"
Original: https://github.com/emberjs/ember.js/issues/14893

— @joelpresence

[2017-01-31 23:50] locks commented on #2795
Hi @joelpresence, thanks for your feedback. The page in question is a blog post with a date stamp, which is slightly different from documentation that needs to be kept up to date. If you notice, the text says "At present that is Node.js v4.5.0.", because the active LTS will change as time goes on.
I think we could possibly move the link from the version number to `"Active LTS"` to be less confusin

[2017-01-31 23:54] joelpresence commented on #2795
@locks thanks for the response.  :-)  I realize it's a blog post.  However, it's also *the very first* Google search result that comes up when I search for "ember nodejs version".  So, I'm politely suggesting that either some better SEO needs to be done to land on a more up to date page for that query or maybe update that page?  Otherwise, as it stands, it feels likely that it will confuse others

[2017-01-31 23:57] locks commented on #2795
Does my suggestion help? I agree that having a version number with a link that ends up in a page with a different version number is confusing.
I don't think we should keep updating the blog post as new LTS releases come out, but I do think we can improve the wording to make it clear that you need to consult the Node website to see what the current version is.

[2017-02-01 00:00] joelpresence commented on #2795
It does, thanks.

The problem is that I got a version in my Heroku ember deploy saying that Ember does not support node 7.4.0 and that stuff may break.  So I saw the post about 4.5.0 but I'm running 6.9.1 locally, so it lead to some confusion ...

[2017-02-01 00:01] locks commented on #2795
Can you post the full warning? I've seen it, and was trying to reproduce to make sure what it says, but I can't find it!

[2017-02-01 00:03] joelpresence commented on #2795
remote: WARNING: Node v7.4.0 has currently not been tested against Ember CLI and may result in unexpected behaviour.

[2017-02-01 00:19] rwjblue opened #2796 "Add deprecation page entry for `factoryFor` API."
- [ ] Add to Ember 2.12 deprecations
- [ ] Update deprecation URL's in emberjs/ember.js to point to the final URL

---

The deprecation can suggest the usage of `ember-factory-for-polyfill` (if an addon only needs Ember 2.3+ support) or `ember-getowner-polyfill` (supports 1.10+) for addons.

For apps, things are somewhat simpler `getOwner(this)._lookupFactory('some:thing')` -> `getOwner(this).fact

[2017-02-01 02:48] jenweber commented on #2796
On it.

[RFC](https://github.com/emberjs/rfcs/blob/master/text/0150-factory-for.md)

Notes to self: _lookupFactory was a private API mechanism, used primarily for passing in arguments when creating an instance of a factory. It's been replaced by the public API method factoryFor.

[2017-02-01 05:07] locks commented on #2778
Fixed by referenced merged PR!

[2017-02-01 05:07] #2778 closed

[2017-02-01 23:41] nathanhammond commented on #2795
@joelpresence Your warning is to be expected if you're using an outdated version of Ember CLI with a brand new version of Node. Not a bug. We've already improved that error message: https://github.com/ember-cli/ember-cli/blob/594fca16260d33bfb883cfdedb4f2923e9c70211/lib/cli/cli.js#L127

The improved error message has reduced traffic to that blog post, and the wording in the blog post repeats twice

[2017-02-01 23:41] #2795 closed

[2017-02-02 00:12] Tonours commented on #2716
Hi @acorncom a little fix for this issue is here #2799

[2017-02-02 00:27] aren55555 commented on #2716
@Tonours nicely done - much appreciated.

[2017-02-02 00:27] #2716 closed

[2017-02-03 05:19] jenweber commented on #2796
@rwjblue or @locks Do you prefer opening issues in each repo, or would you just reference this issue in commits on both repos? Just trying to generally gauge how you like to manage issues when the task spans multiple repos.

[PR submitted](https://github.com/emberjs/website/pull/2800)

[2017-02-03 12:03] rwjblue commented on #2796
I'd just reference this meta issues from the Ember PR, but honestly it isn't something we are sticklers about anyways. We are mostly just happy for the help.

[2017-02-04 21:18] #2796 closed

[2017-02-06 11:24] Swizz opened #2804 "Guide for LTS version marked as old"
Hi there,

This issue act more than a personal opinion, but why Guide Pages for LTS version like 2.8 are marked as old ?

It could be more suitable to swap the Old mark to an LTS mark for those version.
To reasure developers who use those versions that the team behind Ember is not telling them to always use the latest version.

Cheers,

[2017-02-06 15:31] locks commented on #2804
Are you available to PR this change?

[2017-02-06 16:01] Swizz commented on #2804
From what I understood :

The [outdated warning](/emberjs/guides/blob/master/source/javascripts/app/outdated-warnings.js) uses the [/versions.json](https://guides.emberjs.com/versions.json) to know the latest version available which does not include any information about LTS versions.

I guess the LTS indication need to follow the way what outdated warning works by adding LTS information into the

[2017-02-08 02:52] #2782 closed

[2017-02-14 05:10] acorncom commented on #2766
We run into the above when clicking the link shown here:

![screen shot 2017-02-13 at 10 09 58 pm](https://cloud.githubusercontent.com/assets/802505/22916062/303cc42e-f239-11e6-9977-76eb047ee6c3.png)

The builds page is now built using https://github.com/ember-learn/builds and it's possible that that index.html file is no longer generated ...

[2017-02-14 05:12] acorncom commented on #2804
@Swizz Would you mind opening an issue over on https://github.com/emberjs/guides/ and tagging me there so we can discuss (or even better, contact me on Slack).  There are a couple of things it'd be nice to do to update this, but yes, I think you're right, it'd be nicer to not notify folks that they are on an outdated version of Ember if they are looking at guides for the last LTS.  We may also wan

[2017-02-14 05:20] acorncom commented on #2519
If anyone has time to work on things here, we're definitely getting to the final stretch.  API docs have been responsified but could use some love to make them nicer to use for us all ...

[2017-02-16 10:33] hpdev opened #2811 "Link to job board not visible"
The banner link to the ember job board http://jobs.emberjs.com is not visible any more.
It is still in the code.

[2017-02-16 11:03] locks commented on #2811
Fixed!

[2017-02-16 11:03] #2811 closed

[2017-02-19 06:28] acorncom commented on #2222
Given how long this has been outstanding, I'm going to close this.  v1.13.x isn't something we're actively working to support any more ...

[2017-02-19 06:28] #2222 closed

[2017-02-27 16:19] Gaurav0 opened #2821 "Once again, Transition does not appear in list of classes"
Transition is not appearing in the list of classes, either at https://emberjs.com/api or https://emberjs.com/internal

One can still reach it at http://emberjs.com/api/classes/Transition.html, so the doc is probably still being generated.

[2017-03-09 07:29] martinsp opened #2826 "Builds page not loading"
Looks like there are issues with amazon s3, some assets are not loading with 403 Forbidden error

[code]

[code]

[2017-03-09 12:26] locks commented on #2826
Fixed :)

[2017-03-09 12:26] #2826 closed

[2017-03-10 19:12] mixonic opened #2829 "Left nav on the blog doesn't link to tags"
The left nav, for example "Recent Posts" no longer links to the tags. Instead it collapses the menu (which seems less useful).

![screen shot 2017-03-10 at 11 11 25 am](https://cloud.githubusercontent.com/assets/8752/23809403/69d69ee2-0582-11e7-8302-c46e1829056c.png)

[2017-03-14 07:30] Gaurav0 opened #2833 "Uses of observers should be avoided in docs wherever possible"
See http://emberjs.com/api/classes/Ember.Helper.html#method_recompute

[2017-03-15 05:17] locks opened #2834 "Redirect `/tomster/*` to `/mascots/*`"
See title.

[2017-03-16 17:55] rogeliorv opened #2837 "Ember Inflector"
http://emberjs.com/api/data/classes/Ember.Inflector.html

Docs are missing a set of brackets in plurals and singular.

Doc states:

[code]

Should be:
[code]

[2017-03-16 23:17] Serabe opened #2838 "SSL error"
Though emberjs.com is not supposed to be under https, when googling for Emberjs, users will get a link to https://emberjs.com.

Moved here from emberjs/ember.js#15025

[2017-03-17 05:12] acorncom commented on #2838
I just checked on this and there is not much we can do at the moment.  Google Webmaster Tools has no recourse on this (and there are lots of pages with people asking for help on resolving it).  We will be moving to Heroku for the main website tomorrow (https://github.com/emberjs/website/pull/2828) which should allow us to resolve that more permanently.

[2017-03-17 05:15] acorncom commented on #2837
@rogeliorv Would you mind opening a PR on this repo to fix that? https://github.com/emberjs/ember-inflector/blob/master/addon/lib/system/inflector.js When that's done, please post here and we'll make sure that gets merged ...

[2017-03-17 13:09] locks commented on #2837
Somehow I got the wrong URL in the PR description. This is merged.

[2017-03-17 13:09] #2837 closed

[2017-03-17 21:17] tarikozket opened #2839 "Builds page is not update"
[Builds page](http://emberjs.com/builds/) still shows that 2.12.0 version gonna be released on 6th of March.

[2017-03-17 21:45] acorncom commented on #2839
Yes, it does, those dates are "guidelines, not promises".  We're likely to release later today (see https://github.com/emberjs/website/pull/2824) 😀

[2017-03-17 21:45] #2839 closed

[2017-03-17 22:08] Serabe commented on #2838
Closing this as it is now solved. Thank you @acorncom!

[2017-03-17 22:08] #2838 closed

[2017-03-21 12:25] cah-danmonroe opened #2845 "404 for Routing - Preventing and trying transitions"
https://guides.emberjs.com/v2.12.0/routing/preventing-and-retrying-transitions/

[2017-03-21 12:59] acorncom commented on #2845
Hmm, I just tried this and it's working smoothly in my end. Are you still seeing issues?

[2017-03-21 13:05] cah-danmonroe commented on #2845
Hi,

Yes, it is still a 404 for me.  Other people in Slack are also reporting related issues.  One person reported https://guides.emberjs.com/v2.12.0/routing/ as a 404 but that one is working for me.  Looks to be a cert issue?

Dan

From: David Baker <notifications@github.com>
Reply-To: emberjs/website <reply@reply.github.com>
Date: Tuesday, March 21, 2017 at 8:59 AM
To: emberjs/website <website@n

[2017-03-21 16:39] locks commented on #2845
Thank you for reporting! We are now tracking this at https://github.com/emberjs/guides/issues/1858 as the Guides are deployed to a different infrastructure to the website at the moment.
Several people, me included, have reported that the re-deploy fixed the problem. Please confirm on the linked issue!

[2017-03-21 16:39] #2845 closed

[2017-03-25 21:26] acorncom commented on #2834
We're interested in replacing the Tomster url by having /mascots/ in the url instead.  Example pages where this isn't working as we desire now would be when visiting: http://emberjs.com/tomster/faq/  You can also see https://github.com/emberjs/website/commit/be3a97011e66ca2b786dde369d817937989d0a16 as another example of some of the work we've been doing to replace the strict use of Tomster and ins

[2017-03-25 21:30] acorncom commented on #2829
On individual blog pages (such as http://emberjs.com/blog/2017/03/19/ember-2-12-released.html), clicking the left sidebar headers will collapse and expand a given subsection as reported above.  However, when viewing either a main tag section such as Releases (http://emberjs.com/blog/tags/releases.html) or Recent Posts (http://emberjs.com/blog/tags/recent-posts.html) or the main blog page (http://e

[2017-03-25 21:32] acorncom commented on #2452
This issue is being resolved as part of the work on https://github.com/ember-learn/ember-api-docs  Closing for now

[2017-03-25 21:32] #2452 closed

[2017-03-25 21:37] acorncom commented on #2155
This has been resolved as part of our switch to Heroku hosting a few weeks ago.  Closing ...

[2017-03-25 21:37] #2155 closed

[2017-03-25 21:44] acorncom commented on #2369
Per discussions we've had on the learning team, it's hard for us to contemplate switching to Twiddles for the home page (or elsewhere) while Twiddle has no support for IE/Edge: https://github.com/ember-cli/ember-twiddle#browser-support  While there are places we can get away with not having full support for IE, it's less than ideal to have our homepage displaying brokenness in IE 😀

Will keep this

[2017-03-25 21:47] bgentry commented on #2155
@acorncom wonderful, I can now access the sites over HTTPS!

Is it possible to do this by default (i.e. redirect from plain HTTP)?

[2017-03-25 21:54] rwjblue commented on #2155
Yep, its being worked on (having some issues with redirect + CDN ATM) and should hopefully be done soon.

[2017-03-27 20:59] noweiitsmichael commented on #2519
See https://github.com/emberjs/website/pull/2853 for the tomsters / mascots page

[2017-03-28 18:23] asizer opened #2862 "example for didReceiveAttrs deprecation"
I found the "Before/After" example here not super illuminating:
https://emberjs.com/deprecations/v2.x/#toc_code-didreceiveattrs-code-and-code-didupdateattrs-code-arguments

The "After" code sort of looks like it's suggesting the old `highTemp` attr is available as `_highTemp` (or that there's no way to access old attrs, and you'll just have to pass everything in to the component in the future). To

[2017-03-29 17:41] martndemus opened #2865 "Observer guide needs a better disclaimer/warning"
As a best practices consultant I've run more than once into clients justifying using Observers because they are in the guides. There is a paragraph in there that warns readers that they might not be a good idea, but it's easily glossed over and not nearly as explicit enough to convince readers to not use them.

Most often I need to sit them down with Stefan Penners WGE Observer Tip Jar talk to con

[2017-03-29 20:48] rwjblue commented on #2865
IMHO, we should probably not introduce folks to observers in the guides. It is definitely still support API and whatnot, but I don't think observers should be considered one of the most important things for folks to grok when starting with Ember.

[2017-03-29 22:26] martndemus commented on #2865
Should I open a PR removing the page from the guides?

[2017-03-29 22:42] rwjblue commented on #2865
Seems good, but I'd like the leaning team folks to chime in and confirm before landing.

[2017-03-30 20:53] mixonic opened #2868 "New blog posts should auto-publish to the forum"
(I'll likely update this issue description later)

Currently blog posts have comments via Disqus. The discussions there tend to peter out kind of quickly and deep conversations aren't encouraged by the UI.

Instead I'd like to see new blog posts be auto-posted and cross-linked to https://discuss.emberjs.com/. The theory is our discussions will be much more engaging there.

[2017-04-01 13:30] locks opened #2870 "Add browser support policy"
See https://github.com/emberjs/ember.js/issues/10566 for more context.

[2017-04-05 20:32] mixonic opened #2880 "Comments on the blog are broken"
Comments don't seem to load. See the bottom of these two URLs:

* https://emberjs.com/blog/2017/02/28/2017-ember-community-survey.html
* https://emberjs.com/blog/2017/04/05/emberconf-2017-state-of-the-union.html

Appears to be an HTTPS issue?

![screen shot 2017-04-05 at 1 31 49 pm](https://cloud.githubusercontent.com/assets/8752/24725558/42bd4450-1a04-11e7-81dc-f300f6543fec.png)

[2017-04-05 20:53] mixonic commented on #2880
Darn. #2881 fixed having disqus load, but our comments are not appearing. I am concerned it might be related to the new URLs being HTTPs *dies*

[2017-04-05 20:55] mixonic commented on #2880
Ugh these need to be fixed manually https://woorkup.com/migrate-disqus-comments-https/

[2017-04-05 21:20] #2829 closed

[2017-04-05 21:44] mixonic commented on #2880
I've started a migration. Disqus says it will possibly take as long as 24 hours.

[2017-04-05 21:51] mixonic commented on #2880
Cool, I see them starting to show up on pages like https://emberjs.com/blog/2016/11/30/ember-2-10-released.html

Closing this!

[2017-04-05 21:51] #2880 closed

[2017-04-19 08:52] harinath1983 opened #2888 "Problem in Running Middleman command"
1.When am trying to run middleman command I am facing this problem can anyone please help in this
   issue
2. And I have added slick.js in my js folder and tried running the build I can able to see the js file but content it is not referring
2. need to add CSS file also

please help me in the above points

C:\interface_project>middleman
WARN: Unresolved specs during Gem::Specification.reset:

[2017-04-20 12:28] locks commented on #2888
Hi @harinath1983. I am not sure what the problem is, did you do all of the instructions in the README on how to set up the repository locally?

[2017-04-20 16:33] harinath1983 commented on #2888
Yes as per the doc i went

[2017-04-22 15:42] acorncom commented on #2888
Hello @harinath1983, yes, we've had other people have issues getting Middleman running smoothly on Windows too. Was there some issue on the website you were working on addressing that led to you hitting this problems?

Do you have the same problems if you run these two commands:

[code]

Running `middleman` directly may not work ...

[2017-04-24 19:12] locks commented on #2862
Can you send a PR for this?

[2017-04-27 17:16] plck opened #2891 "Link to ember collection breaks"
There's a link in the description https://github.com/emberjs/ember-collection that doesn't work.
This one https://emberjs.com/ember-collection/

[2017-05-02 23:20] acorncom commented on #2891
Confirmed.  We've got an outstanding issue at https://github.com/emberjs/ember-collection/issues/147 that discusses this, but the TL;DR is it's a side effect of a new hosting system we shifted to in the last few months.  Will close this issue for now in favor of the above issue

[2017-05-02 23:20] #2891 closed

[2017-05-05 19:22] myartsev opened #2896 "'ember new' does not create a bower.json file beginning with 2.13"
Docs need to be updated to take this into account, as a lot of the current documentation actively mentions bower and assumes the config file is created by the CLI.

For example: [https://guides.emberjs.com/v2.13.0/tutorial/ember-cli/#toc_directory-structure](https://guides.emberjs.com/v2.13.0/tutorial/ember-cli/#toc_directory-structure)

[2017-05-06 15:06] locks commented on #2896
Thanks for reporting, I've fixed the bower mentions in this page in https://github.com/emberjs/guides/commit/c2291c88c539756fbec7f225240506659e85b167.
If you find more of them please file them at https://github.com/emberjs/guides/issues !

[2017-05-06 15:06] #2896 closed

[2017-05-17 22:05] locks commented on #2865
I'm somewhat wary of removing them from the Guides. Best practices by obscurity haven't worked out for us so far.

[2017-05-20 14:58] myartsev opened #2900 "Add documentation on how to support multiple actions on a single element"
I've spent more time than I'm willing to admit in figuring this out, and now it seems so simple:
`<a {{action 'foo' on="click"}} {{action 'bar' on="mouseEnter"}} {{action 'baz' on="mouseLeave"}}>...</a>`

Can we add some documentation on how to support multiple actions on a single element?
I think the reason this turned out to be such an unnecessary hassle is the [amount of outdated information ou

[2017-05-23 02:20] knownasilya opened #2901 "beta & canary instructions need updating"
https://emberjs.com/builds/canary still shows `bower` as the way to use canary and beta (other link).

[2017-05-23 10:30] locks commented on #2901
The only way to use Ember data is through `bower`. Can you send a PR updating the beta instructions?

[2017-05-23 11:44] knownasilya commented on #2901
Was talking to @rwjblue last night, and he mentioned that Ember is still bower based for canary and beta.

[2017-05-23 11:48] #2901 closed

[2017-05-25 20:44] stefanpenner opened #2902 "Krahuja needs to be added to the ember-cli team"
cc @kratiahuja

https://github.com/emberjs/website/blob/master/data/team.yml

[2017-05-26 05:26] #2902 closed

[2017-05-30 20:19] acorncom commented on #2865
Ditto.  Seems like we need an power tool icon (or lightning bolt?) along with a "be very careful, here be sharp knives" and a link to Stef's video for background 😀

[2017-06-01 18:14] acorncom opened #2909 "Remove usage of ember-middleman gem"
Now that we've removed the about page examples:
- https://github.com/emberjs/website/commit/2b192878e77816d8274a2179e00aa4c9e7ca4c98
- https://github.com/emberjs/website/pull/2906

we should also remove the `ember-middleman` gem after confirming that we don't use it anywhere else on the site.  As far as I know we don't ...

[2017-06-01 18:42] acorncom opened #2910 "Add the Heroku logo to our footer"
As part of switching our website to Heroku hosting (with Fastly CDN), we want to add sponsor logos to our footer thanking Heroku (and Fastly in the near future).

@wifelette and I have discussed adding those two logos to the right side of the footer (I've put a rough draft below, but it is definitely rough).  We need someone to champion this project and help it get finished (I don't think I'll hav

[2017-06-02 06:28] wifelette commented on #2910
First design thought: these need to have a clear indication of _why_ they're there. So above or below the logo, "Hosted by", "CDN provided by" etc. A la https://rubygems.org/, though I'm not directing us there for _design_ tips :p

Thoughts? I don't have time to play with the CSS myself right now, plus it's not precisely my area, but that's probably the most useful starting direction.

[2017-06-02 13:32] toddjordan commented on #2910
cc @jenweber

[2017-06-02 16:26] amyrlam commented on #2910
I'd be game to work on this, I have time this weekend. (Also I can get the Fastly asset, cause I work there.)

[2017-06-05 20:22] Dhaulagiri opened #2912 "ember-metal.model_factory_injections anchor is broken?"
The anchor for the `ember-metal.model_factory_injections` deprecation has an unexpected pair of `-em-`'s in it around `factory`:

which doesn't match what is being linked to from the [actual deprecation](https://github.com/emberjs/ember.js/blob/d338c608e5ce00eb98d2617f4b2e7d102035b6e4/packages/ember/lib/index.js#L188).

I was going to make a PR to ember to fix the link but this seems like it shoul

[2017-06-06 04:29] locks commented on #2912
It's reading `model_factory_injections` as though `factory` should be italicised :x

[2017-06-06 13:28] Dhaulagiri commented on #2912
Yeah, looking through the other ids none of the other ones have the two `_` in them so it makes sense why this is happening.  It's probably too late to change the actual deprecation id at this point, so I could at least get the link updated so it goes to the right place.  Sound good?

[2017-06-12 16:22] #2912 closed

[2017-06-15 23:08] locks opened #2918 "Add padding to Ember user logos in the grid"
At the moment, the logos in the grid at `/ember-users` does not have any padding.
As some of the submitted logos don't have padding built into the image, they touch the edges and don't look that good.

Thus, the task is to add some padding to these:

![screen shot 2017-06-12 at 10 47 27 am](https://user-images.githubusercontent.com/118005/27047378-be30432a-4f5c-11e7-8e1e-d924fa351c63.png)

cc @rob

[2017-06-15 23:35] robustdj commented on #2918
@locks Won't this add extra padding to logos that already have padding in the image?

[2017-06-15 23:37] locks commented on #2918
It would, but ['tis a price we're willing to pay](https://github.com/emberjs/website/pull/2916#issuecomment-307869000).

[2017-06-16 00:41] #2910 closed

[2017-06-17 14:10] #2918 closed

[2017-06-20 09:17] simonihmig opened #2923 "Huge amount of image data for ember users page"
Just stumpled upon the fact, that the aggregated file size of all logo images on https://emberjs.com/ember-users/ is pretty huge, even on my desktop machine it took a while to load (>6s), probably quite unusable on a mobile phone with a slow connection:

![image](https://user-images.githubusercontent.com/1325249/27325229-04ca3c04-55a8-11e7-9dfa-28932ac97635.png)

A lot of the logos are way too lar

[2017-06-22 00:52] wifelette commented on #2923
Hi @simonihmig—

Agreed, this has been on our backburner radar for a bit :)

I was chatting with @locks about it and he said running as part of the build step sounded ok, but that it would of course depend on how long it took.

Is this something you'd be game for experimenting with? Doing a manual run and then submitting a PR? We'd love the help!

[2017-06-22 17:31] tricknotes commented on #2909
This issue will be closed by https://github.com/emberjs/website/pull/2920 .
I think there are no any problem without it 😄

[2017-06-22 23:39] locks commented on #2909
Thanks for reminding us, and for your contribution!

[2017-06-22 23:39] #2909 closed

[2017-06-22 23:43] #2923 closed

[2017-06-24 11:26] locks commented on #2369
Solved by removing them :P

[2017-06-24 11:26] #2369 closed

[2017-06-24 11:28] locks commented on #2888
Closing from inactivity. Please let us know how we can help you further @harinath1983!

[2017-06-24 11:28] #2888 closed

[2017-06-25 09:44] locks commented on #2789
This seems fixed as of late.

[2017-06-25 09:44] #2789 closed

[2017-06-25 09:45] locks commented on #2821
Should be moved to https://github.com/ember-learn/ember-api-docs ;)

[2017-06-25 09:45] #2821 closed

[2017-06-27 05:18] mixonic opened #2931 "Deprecation guide: `canDispatchToEventManager`, `eventManager`"
Merged PR in Ember: https://github.com/emberjs/ember.js/pull/15078
Context: https://github.com/emberjs/ember.js/issues/14754

These features are deprecated in Ember 2.14.0 and require a deprecation guide.

[2017-06-27 14:04] filippovdaniil opened #2932 "No main navigation in FireFox 54.0"
&nbsp; | &nbsp; |
----: | ---- |
**Operating system**: | Debian GNU/Linux |
**Browser**: | FireFox 54.0 (64-bit) |
**Issue**: | There is no main navigation at the website [index page](https://emberjs.com/)
**Cause**: | ```window.customElements``` is undefined
**Possible solution**: | To use legacy [```Document.registerElement```](https://developer.mozilla.org/en-US/docs/Web/API/Document/registerEl

[2017-06-27 17:44] #2932 closed

[2017-06-27 17:54] locks commented on #2932
@filippovdaniil Thank you for the thorough report! I forgot to add the shim for custom elements yesterday. Curiously, the footer was also missing but since it's a footer people hadn't realized ;)
The fix has been deployed and is now working on my Firefox. Please let me know if the problem persists, or any new problem you might encounter!

[2017-06-27 21:19] #2931 closed

[2017-06-28 03:09] filippovdaniil commented on #2932
@locks, yep, everything is working now :)

By the way, is it planned to add server-side rendering (like fastboot) for these custom elements? In the page source I only see

[code]

— as far as I know, it can negatively affect SEO.

[2017-06-29 11:19] locks commented on #2932
Likely, but in the slightly longer term.
The idea is to migrate nibble by nibble over to Ember/Glimmer.

[2017-07-05 09:34] locks opened #2946 "/releases page"
Revamp /builds.

- List of releases
  - Blog post
  - Deprecations Guide
- Release schedule
- LTSs
- Feature flags
  - Beta
  - Canary

[2017-07-07 01:21] dxr27kejj commented on #2834
@acorncom Hello! I am new to github and I want to contribute to this issue if you don't mind.
Should I change the code in static.json to
`"redirects": {
    "/tomster/": {
      "url": "/mascots",
      "status": 301
    }
  }`
And do I need to use proxy as in your example?

[2017-07-07 19:24] mixonic opened #2951 "2.14 blog post, LTS support"
The release of Ember 2.14 marks the end of security patch support for Ember 2.4-LTS (10 releases since 2.4 was released).

The blog post should be updated to reflect this.

[2017-07-11 16:02] kbullaughey opened #2955 "Where did the ember-data API docs go?"
Not sure if this is the right place to ask, but I can't find the docs for the DS namespace on https://emberjs.com/api anymore. The layout recently changed, and there doesn't seem to be any ember-data documentation anymore. Perhaps I'm being dense, but I can't find it, and if it's still there, might a link to it be made more obvious on the API documentation page?

[2017-07-11 16:36] qsvui commented on #2955
Seems like the docs have been broken. For example, the entry for Ember.Object is now empty. The search input that was in the upper right hand corner of the site is also gone.

[2017-07-11 16:43] locks commented on #2955
Hi, we just launched the new [ember-api-docs](https://github.com/ember-learn/ember-api-docs/) live at EmberCamp and I explained some of the work that will happen in the next few days.

The "Projects" section in the top-left of the API docs was missing due to a bug.
The search is also a known limitation, because we to index through Algolia to get the search results. There is a sort of chicken and e

[2017-07-11 16:46] kbullaughey commented on #2955
I see the Projects list now. Thanks!

[2017-07-11 16:46] #2955 closed

[2017-07-12 00:27] locks opened #2957 "Background color for sponsors"
Change the background color of the sponsor grid items, because it looks off at the moment.

[2017-07-12 14:41] malatin3 opened #2958 "Links in API documentation are no longer properly linking to anchors"
Visit https://emberjs.com/api/ember/2.14/namespaces/Ember and try clicking any of the links in the documentation. Brings you to the correct tab but does not scroll to the link.

[2017-07-12 14:48] malatin3 commented on #2958
This is probably the wrong place for this. Closing.

[2017-07-12 14:48] #2958 closed

[2017-07-17 10:43] kennethlarsen opened #2962 "[a11y] Accessibility issues"
I think it's time to make the Ember website more inclusive. I noticed some low hanging fruits which would make emberjs.com more accessible. For developing on this I suggest using the [tota11y toolbar](http://khan.github.io/tota11y/) to validate fixes.

## Frontpage
- [ ] Missing alt text in MORE PRODUCTIVE OUT OF THE BOX-section (might need role="presentation" instead)

- [ ] Missing alt text in W

[2017-07-19 14:58] sivakumar-kailasam opened #2965 "Add a webapp manifest"
API docs ships with the [ember-web-app](https://github.com/san650/ember-web-app) addon that takes of creating a webapp manifest per build. In case of the main website we'd have to create one manually. https://tomitm.github.io/appmanifest/ is an excellent tool to generate the manifest file. Refer to https://github.com/ember-learn/ember-api-docs/blob/master/config/manifest.js for configuration value

[2017-07-23 23:01] AM4D3J opened #2967 "Dont know what happend"
Please help

[2017-07-23 23:01] #2967 closed

[2017-08-01 11:15] mgol commented on #2870
Any updates?

[2017-08-01 14:53] locks commented on #2870
@mgol nope, haven't gotten round to it and neither has someone else. We support IE9+, and current versions - 1 of the evergreen browsers, as mentioned in the linked issue :)

[2017-08-01 14:55] mgol commented on #2870
What about the Android Browser? Is it supported at all?

[2017-08-01 14:58] locks commented on #2870
@mgol do you literally mean Android Browser, not Chrome?

[2017-08-01 15:00] mgol commented on #2870
Yes.

[2017-08-01 18:39] dgading opened #2970 "Ember Data link on /learn is wrong"
I was reading the page https://emberjs.com/learn/ and the Ember Data link is linking to https://emberjs.com/api/data/ which returns an "Internal Server Error" message.

After looking at the API docs pages, I think it should be linking to https://emberjs.com/api/ember-data/

I didn't want to open a pull request right away if I did miss this existing in another Issue.

[2017-08-02 01:19] locks commented on #2970
@sivakumar-kailasam did we miss a redirect?

[2017-08-02 03:05] sivakumar-kailasam commented on #2970
Looks like we handled full urls like https://emberjs.com/api/data/classes/DS.RESTAdapter.html but not https://emberjs.com/api/data. Saw your commit for the learn page. I've made changes on the api viewer to now handle this.

[2017-08-02 03:05] #2970 closed

[2017-08-05 10:03] akashdsouza opened #2971 "Links to Ember.computed methods are broken"
Github links to the methods are broken
https://emberjs.com/api/ember/2.14/namespaces/Ember.computed/methods

[2017-08-05 10:29] sivakumar-kailasam commented on #2971
@akashdsouza thanks for reporting this. Its tracked via https://github.com/ember-learn/ember-api-docs/issues/318.

[2017-08-05 10:29] #2971 closed

[2017-08-06 03:48] allthesignals opened #2972 "Add header search to API section's header"
The header search is available everywhere except the API section. I think when I go to the API section, it's useful to be able to search for documentation, read it, then go back and search again, without needing another window open. I think this would make the API section more useful.

I'm guessing because the API section is an Ember app, implementing the search dialogue is a bit more complicated.

[2017-08-06 04:04] sivakumar-kailasam commented on #2972
@allthesignals Thanks for reaching out. Its being tracked via https://github.com/ember-learn/ember-api-docs/issues/275. We would appreciate help with issues marked with the `help wanted` label on the emberjs org repos & on the [api docs](https://github.com/ember-learn/ember-api-docs/issues?q=is%3Aissue+is%3Aopen+label%3A%22help+wanted%22) as well

[2017-08-06 04:04] #2972 closed

[2017-08-06 04:24] allthesignals commented on #2972
Thanks, @sivakumar-kailasam, but I'm confused - why is that in a different repository and organization? What is ember-learn?

Separately, I would add a note in the README about the "help wanted" label, and even the status of the new api docs - it sounds like you only want outside contributors to focus on those? That was the first place I looked before opening this issue and didn't see anything abo

[2017-08-06 04:52] sivakumar-kailasam commented on #2972
@allthesignals ember learn is a github org owned by the ember learning sub team. The API docs is an ember app so it exists in a separate repo. Our api docs' readme contains a [section](https://github.com/ember-learn/ember-api-docs#want-to-help-out) on issues that we'd like help with.

The labels are a general suggestion for new contributors but isn't intended to be the only issues that we seek hel

[2017-08-07 06:48] ciolt commented on #2962
The heading issue on the builds page cannot be fixed in this website's source because that page is dynamically loaded from an external source (Amazon AWS) and the code that builds it is most likely somewhere in [emberjs/emberjs-build](https://github.com/emberjs/emberjs-build)

It doesn't matter, though. Screen readers normally don't parse content that has been loaded dynamically with JavaScript. N

[2017-08-07 07:12] locks commented on #2862
Thanks again for addressing this in #2892 :)

[2017-08-07 07:12] #2862 closed

[2017-08-07 07:26] sivakumar-kailasam commented on #2834
@dxr27kejj Adding the following to the [redirects section in static.json](https://github.com/emberjs/website/blob/master/static.json#L21) will result in the expected behavior.

[code]

[2017-08-07 07:26] locks commented on #2641
Will re-open if the concept is revisited.

[2017-08-07 07:26] #2641 closed

[2017-08-07 07:33] locks commented on #2900
I think at that point you'd be better off using actions as event handlers, `<a onclick={{action 'foo'}} >` and such. Can you submit a PR and we'll discuss there?

[2017-08-21 14:04] qZzQ1 commented on #2957
Hi,
I have add a new background for your items sponsors but i can't create a new branch in you project for a PR.

![background-items](https://user-images.githubusercontent.com/8742090/29522644-277e9796-868a-11e7-8ae0-cc94863f30ef.png)

[2017-08-21 18:21] wifelette commented on #2957
Hi @qZzQ1 The color was previously a light grey :) An orange like this is alas too big of a change that would result in many folks needing to change their logos. We need a super neutral color, though @MelSumner may have some feedback about best options for contrast.

[2017-08-23 09:41] qZzQ1 commented on #2957
Hi @wifelette, ok I see but whit seamless background-image is not good for you? Or neutral color is compulsory?

![background-seamless-ember](https://user-images.githubusercontent.com/8742090/29609421-729d4236-87f7-11e7-9c2a-92852d681e59.png)

[2017-08-23 12:29] adisonjames opened #2981 "Korean Translation"
Hi,

I work at a company in Korea that currently builds a web application using ember.
I am the Technical Project Manager and would like to translate the 5-minute Getting Started Guide and as time and resources permit, eventually the entire tutorial.

I have used Ember to build my own personal projects in addition to the current e-commerce application being built by the company I work for, and I a

[2017-08-23 12:31] MelSumner commented on #2957
the pattern background will not be sufficient for accessibility purposes. What about a solid square border instead? @wifelette it would coordinate with the other things I'm working for the website too.
![image](https://user-images.githubusercontent.com/4587451/29615820-eb20d83a-87d4-11e7-9fb5-ef0cca848fa6.png)

[2017-08-23 13:50] jenweber commented on #2981
Hi @adisonjames , thanks for offering to do a translation and make Ember accessible to more people! My recommendation is to make the translation available via a blog article or video tutorial. This has a few benefits over directly adding a translation to the site.

First, this sidesteps the major barrier of rewriting the site architecture. Unfortunately we don't have the infrastructure yet to supp

[2017-08-23 13:53] adisonjames commented on #2981
Thank you for your reply. I will follow your guidelines and work on the
translation locally.

James Chung

On Wed, Aug 23, 2017 at 10:50 PM, Jen Weber <notifications@github.com>
wrote:

[2017-08-23 16:20] aureliosaraiva commented on #2981
@adisonjames
The Ember-Brasil community is making an effort to translate the entire content of the Ember Guide unofficially.

The translation will be made a new repository in github, after a part will be translated we will publish as an article / post in the medium.com of the Brazilian community.

The idea is that when we have a considerable content translated, we will create an unofficial site em

[2017-08-24 00:38] adisonjames commented on #2981
@aureliosaraiva
cc: @htkim

That is great news. If we could start a series of i18n translations for Ember on Github I would like to participate contribute. We could link to each other's repos and domains as well.

Let's keep in touch (I have still yet to start on the translation, but will do so this week).

[2017-08-24 00:55] wifelette commented on #2957
I'm not loving the aesthetics of the bold outline... but is it that it's the only good way to make it more accessible? Any ideas for something more attractive? I'd also love to see the other things you're referencing @MelSumner, might give me a better sense of it so I could make more useful suggestions :) Chat on Slack?

[2017-08-24 00:56] wifelette commented on #2957
PS, @qZzQ1, it isn't lost on me that we totally tagged this as `help wanted` _and_ `good for new contributors` and that it turns out to be slightly more complicated than that :p THANKS for your attempts, regardless of where we land <3 <3 <3

[2017-08-24 02:23] locks commented on #2981
Thanks for the discussion, and good luck!
I'm closing the issue for house keeping, but let us know on Slack if we can help with anything.

[2017-08-24 02:23] #2981 closed

[2017-08-24 07:56] qZzQ1 commented on #2957
No problem @wifelette and thanks ^^ :+1: , I have a last idea but later I would have no it anymore ^^ I take the bold outline of @MelSumner and I cut this for more attractive.

![capture du 2017-08-24 09-36-53](https://user-images.githubusercontent.com/8742090/29655724-3ccbf970-88b2-11e7-94c4-4b00cbec8f6e.png)

[2017-08-24 08:07] xtuc commented on #2957
The last one is looking amazing @qZzQ1. It doesn't feel as bold as https://github.com/emberjs/website/issues/2957#issuecomment-324314318.

@wifelette
I took the liberty to publish the beginner-friendly issues from Ember on https://beta.contributor.ninja.

[2017-08-25 20:58] acorncom commented on #2957
I like the looks of https://github.com/emberjs/website/issues/2957#issuecomment-324562133 myself, 👍

[2017-08-29 18:37] wifelette opened #2982 "Add PMS Color info to Logos Page"
On https://emberjs.com/logos/, after this paragraph:

Add the following new paragraph:

[2017-08-29 21:01] MelSumner commented on #2962
There is a larger effort to address this issue, but if someone wanted to work on this in the meantime, it's great practice!

[2017-08-30 19:33] RustyToms opened #2983 "Using an API version number not always loading the right version"
I'm so happy that we can filter the docs by version number now, I don't know when that was added but it is really great thanks!

However, sometimes the wrong version of the docs are loading. For example, when I go to https://emberjs.com/api/ember/2.2/namespaces/Ember I generally see that the 2.12 docs load, even though the url is unchanged. I even got 1.12 to load once. Similarly, https://emberjs.

[2017-08-30 19:35] RustyToms commented on #2958
Where is the right place for this?

[2017-08-30 19:36] RustyToms commented on #2983
I will create this issue in https://github.com/ember-learn/ember-api-docs/issues if it is not already there

[2017-08-30 19:36] #2983 closed

[2017-09-03 00:00] wifelette commented on #2957
Indeed, it's a good compromise :) That said, I don't fully understand the accessibility issues. Assigning to someone who does to hopefully investigate!

[2017-09-04 19:38] danilovaz commented on #2962
Can I get any of these items to do? I already did some `alt` and `title` items. There are also some points that we can improve on semantics rather than using divs. @kennethlarsen Excellent tool, I did not know.

[2017-09-05 07:43] qZzQ1 commented on #2957
Hi, ok @wifelette I wait for the response of @MelSumner, thanks ^^

[2017-09-11 22:05] fahadhballoy opened #2988 "Anyone need help with anything? Contact me ! Fahadh357@gmail.com"
Feel free to ask me but I'd cost money :)

[2017-09-11 22:05] Serabe commented on #2988
Closing as spam.

[2017-09-11 22:05] #2988 closed

[2017-09-11 22:06] fahadhballoy opened #2989 "Need help with anything? Contact me ! Fahadh357@gmail.com"
Feel free to ask me :) I'd cost money!! ;)

[2017-09-11 22:15] Serabe commented on #2989
Stop. [Second time](https://github.com/emberjs/website/issues/2988)

[2017-09-11 22:15] #2989 closed

[2017-09-12 13:46] localpcguy commented on #2962
Just wanted to say that it's kind of a myth that screen readers don't read dynamic JavaScript:
http://a11yproject.com/posts/myth-screen-readers-dont-use-javascript/

Obviously the thing to do is to actually try the page on a screen reader, but I'm not sure I agree with @ciolt - screen readers are for more than just blind users, and good accessibility helps everyone, not just the disabled.

[2017-09-12 14:18] kennethlarsen commented on #2962
Also, `aria-live` is very helpful for dynamically loaded Javascript
https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/ARIA_Live_Regions

[2017-09-14 12:21] acorncom commented on #2900
@myartsev any thoughts here? Would love to get this added into the guides if you have time for that PR ...

[2017-09-15 03:32] myartsev commented on #2900
My bad, this dropped off my radar.

@locks; can those event handlers be used to handle all types of events? Mouse up, down, etc
If that's the case, why isn't that the suggested way of [handling events in the guides](https://guides.emberjs.com/v2.15.0/templates/actions/#toc_specifying-the-type-of-event)?

[2017-09-20 23:32] eccegordo opened #2991 "Array.includes docs duplicated"
The same method seems to be duplicated in the docs output.

https://www.emberjs.com/api/ember/2.14/classes/Ember.MutableArray/methods/includes?anchor=includes

![ember_mutablearray_-_2_14_-_ember_api_documentation](https://user-images.githubusercontent.com/497659/30672425-2ac564f8-9e21-11e7-9b75-fcbd77715062.png)

[2017-09-22 22:33] acorncom commented on #2991
Thanks @eccegordo, just opened an issue for that at https://github.com/ember-learn/ember-api-docs/issues/343  Will close here now

[2017-09-22 22:33] #2991 closed

[2017-09-29 18:32] acorncom commented on #2785
No longer applicable

[2017-09-29 18:32] #2785 closed

[2017-10-01 08:05] devshiva619 commented on #2957
@locks is there anything to be still done in this ? If so I will surely like to work for it

[2017-10-04 18:54] tomdale opened #3004 "Align blog typography with guides"
The guides pages are quite readable, but the blog posts suffer from small type, hard-to-read font, oddly sized headings, and poor vertical rhythm. Ideally we could re-use the guide styles for blog posts.

[2017-10-04 18:54] tomdale commented on #3004
@MelSumner

[2017-10-05 03:59] acorncom commented on #3004
Resolved in #3005

[2017-10-05 03:59] #3004 closed

[2017-10-05 19:21] locks opened #3007 "Contributor Call to Action"
We need a way to generally indicate where people should go to to contribute to a specific page of the website.
One idea I tried out was adding a footer with copy in the spirit of "See a bug? Something you want to improve? Contribute at <link>".

[2017-10-07 02:39] locks opened #3008 "New hero for builds page"
The [builds page](https://emberjs.com/builds/) has an assortment of problems, let's try to tackle them progressively.

The current call to action uses the same styling as the warning for when you are viewing an older version of the guides, which is an undesirable association.
We should introduce a hero 100vh-above-the-fold type of thing to with the current version, a link to the release blog, and

[2017-10-09 23:36] MelSumner commented on #2957
@locks @devshiva619 we could move forward with the in-between version.

[2017-10-10 04:01] wifelette commented on #2982
Closed via #2986

[2017-10-10 04:01] #2982 closed

[2017-10-10 04:04] wifelette commented on #2957
@melindaweathers To be sure, you mean this one, yes?

https://github.com/emberjs/website/issues/2957#issuecomment-324562133

If so, just want to make sure @qZzQ1 also notices this email in case they want to submit the PR :)

[2017-10-10 04:10] wifelette opened #3011 "Add `inactive` field to the Ember Users listing Yaml file"
One of these days we'll move towards a more automated process for archiving logos of companies that aren't around or shouldn't be on the Users page anymore. So to get us started down that path, we need an `inactive` field on the Yaml file, that we could use as a filter when the value is `true`.

For starters, the following is a short list of companies that should be marked as inactive:

- Aleffa
-

[2017-10-10 04:13] wifelette commented on #3007
Seems good! My immediate thought for how to do this is to create a Ruby helper in the layout. This would be a great task for someone who already knows some Ruby!

[2017-10-10 11:16] MelSumner opened #3013 "Combine _variables stylesheets"
**Expected:**
There should only be one _variables.scss stylesheet.

**Actual:**
There are two. There is a _variables.scss stylesheet in source/stylesheets/ and another one in source/stylesheets/base/.

**To Fix:**
The two stylesheets should be merged, and there should only be one in source/stylesheets/base.

[2017-10-10 11:48] Minimilk93 commented on #3013
I can help with this? :)

[2017-10-10 12:23] agatac commented on #3011
I can help with this one

[2017-10-10 14:19] agatac commented on #3011
I ticked the names that exist in `users.yml` and for those I added `inactive: true` field. The rest doesn't exist in the file. Am I missing something?

- [ ]     Aleffa
- [x]     BlueTube Interactive
- [x]     Caliper.io
- [ ]     Cliptem
- [ ]     Crashlog
- [ ]     Dynopia Ltd
- [ ]     Energy Market Exchange
- [ ]     Hujinkou
- [ ]     InfoTech
- [ ]     Kibo Studios
- [ ]     Kohmedia, LLC
-

[2017-10-10 16:30] wifelette commented on #3011
Must be someone else (maybe even me) has previously cleaned them up a bit. Seems good!

[2017-10-10 16:31] wifelette commented on #3011
Merged the PR, thanks so much @agatac!

[2017-10-10 16:31] #3011 closed

[2017-10-10 23:35] chadhietala opened #3018 "og:image and twitter:image point to 404'd images"
A lot of social media sites will look at these to take to display an image for the page. This seems to be broken.

<img width="1354" alt="screen shot 2017-10-10 at 7 33 38 pm" src="https://user-images.githubusercontent.com/183799/31415535-0eebe0f0-adf2-11e7-9f59-56086351fb27.png">
<img width="1611" alt="screen shot 2017-10-10 at 7 33 49 pm" src="https://user-images.githubusercontent.com/183799/314

[2017-10-11 10:29] NullVoxPopuli commented on #3018
what is the image supposed to be?  just a small screenshot of the article?

[2017-10-11 11:15] jkumar712 commented on #2957
Hi, I just try with the simple version.

`Without hover`
![image](https://user-images.githubusercontent.com/16778890/31437610-77f2b856-aea3-11e7-909f-59d772b2b8fc.png)

`With hover`
![image](https://user-images.githubusercontent.com/16778890/31437638-90d2247e-aea3-11e7-9a7b-9f79393b3c42.png)

[2017-10-11 15:11] mixonic opened #3024 "Directly loaded URLs for /api/ fail to load"
For example loading: https://emberjs.com/api/ember/2.16/modules/@ember%2Fapplication

The https://github.com/heroku/heroku-buildpack-static uses a rewrite rule for proxying between paths that are different on the client and the proxied-to server. The website's config at https://github.com/emberjs/website/blob/master/static.json for /api/ doesn't use a different path, but regardless it passes throu

[2017-10-11 16:49] chadhietala commented on #3018
@NullVoxPopuli I think its supposed to be Tomster.

[2017-10-11 22:00] NullVoxPopuli commented on #3018
@chadhietala yeah, I think middleman has some limitations around the use of images in meta tags, so I just excluded the image(s) from the asset fingerprinting

[2017-10-12 00:19] MelSumner opened #3028 "Address heading inconsistencies in the CSS"
**Expected:**
The heading elements should be consistent across all pages.

**Actual:**
The heading elements are not consistent across all pages.

**To Fix- 5 Steps:**
1. move all of the h1, h2, h3 and h4 elements out of each *.scss file & put them in the source/stylesheets/base/_typography.scss file.

2. set these variables in the source/stylesheets/base/_variables.scss file:
[code]
3. Set the fol

[2017-10-12 00:42] acorncom commented on #3018
Closed by #3020

[2017-10-12 00:42] #3018 closed

[2017-10-12 06:51] mixonic commented on #3024
I've put a temporary fix in place. The Ember.js website is not using the buildpack hosted at https://github.com/mixonic/heroku-buildpack-static. This repo has a commit special-casing the API logic to use a non-rewrite path:

* https://github.com/mixonic/heroku-buildpack-static/commit/a58d34b08f37c18c91265489e3b43b35d0d2dd95

The statusboard continues to use the old, upstream path.

This doesn't se

[2017-10-12 09:10] Anisha1234 commented on #3028
I would like to take this one on :)

[2017-10-12 09:47] locks commented on #3028
@Anisha1234 thank you for taking it up! Let us know if you have any problems.

[2017-10-12 11:56] #3013 closed

[2017-10-12 12:01] locks opened #3029 "Remove duplicate rules from stylesheets"
Due to some duplication in the SCSS files, we have several rules that are duplicated, for example https://github.com/emberjs/website/blob/master/source/stylesheets/base/_variables.scss#L37 and https://github.com/emberjs/website/blob/master/source/stylesheets/base/_variables.scss#L53.

The task is to clean these up, also removing any commented out styles.

[2017-10-12 12:18] locks commented on #3013
Thanks @anu0012, @Minimilk93 and @shruthigopinath. @anu0012 got here first so we went with that PR.
There is a follow up task at https://github.com/emberjs/website/issues/3029, please comment that you are picking up the task so we avoid duplicates. See you in the next PR! :D

[2017-10-12 13:06] zzbazinga commented on #3029
I would like to take this one on :)

[2017-10-13 21:26] #2834 closed

[2017-10-18 09:27] #3029 closed

[2017-10-19 20:01] solocommand commented on #3024
All API URLs are failing for me since yesterday, is this the same issue?

All CSS and JS files are 404ing for me:
[code]

[2017-10-20 02:58] acorncom commented on #3024
@solocommand the above issue seems to be a CDN issue from what we've been discussing on Slack, it should be fixed though.  Are you still seeing problems?

[2017-10-20 11:22] joukevandermaas commented on #3008
I did a quick mockup of this: http://awesan.com/emberjs-release-mockup/

I will try to update the real thing to look something like that if you agree. Of course all the explanation etc. that's on the current build page won't be lost.

[2017-10-20 12:40] sandstrom opened #3045 "Better user showcase"
@wifelette Would you be open to updating the 'user showcase' with more well-known companies?

A good list of example users will help with adoption and when developers need to talk managers etc. into using a particular framework ("Zendesk is using it, it will work").

The current list:

- MHE Labs => Never heard of
- Yapp => Never heard of
- Tilde => We're a happy Skylight customer so I know, but i

[2017-10-20 14:44] solocommand commented on #3024
@acorncom Looks good, thanks! Sorry if this was the wrong place :)

[2017-10-20 21:14] rtablada commented on #3045
I think a general discussion of keeping the users and advertising up to date is something we should do better at.

However, the thought of highlighting some companies over others is short sighted IMO.

I think a big benefit of having a lot of different types of companies is that it shows Ember can be used in different situations.

---

In terms of companies to include I think there is a discussion

[2017-10-20 21:48] NullVoxPopuli commented on #3045
I think it depends on what you know. From the list, my most well known are (in order):
Twitch, Acorns, NetFlix, Microsoft, TED, LinkedIN, testdouble, Travis CI, Yahoo, thoughtbot, Boxee,  Urbanspoon, Discourse, Square, ZenDesk, TinderBox,

[2017-10-20 21:53] acorncom commented on #3045
From what I remember, we've discussed this before.  I know we're potentially playing with 🔥 here (and so think we should tread cautiously), but I think there is merit in the discussion.

Most scrappy startups have a "look who else is using us!" section (like we currently do on the website) but they deliberately cherry-pick well-known brands if at all possible.  Neither the React nor the Angular we

[2017-10-21 13:15] sandstrom commented on #3045
@rtablada All companies I mentioned are either in the 'top four' front page list or among the [list of ember users](https://emberjs.com/ember-users/). So it's only a matter of prioritization — no need to ask any legal/marketing departments.

@NullVoxPopuli Agree, it depends (I'm not American, for example). I'm not very fixed on a specific set of companies, as long choose good examples.

I'd say a

[2017-10-21 21:35] acorncom commented on #3024
@solocommand no problem, sometimes it's hard to tell where to file these issues 😀

[2017-10-22 09:59] ericorruption commented on #2519
https://emberjs.com/guidelines/ Also needs to be updated

[2017-10-23 18:39] wifelette commented on #3045
Heya—

I'm on board for a refresh, it's time. I used to do it periodically but haven't in a while. So thanks @sandstrom for bringing it back up!

We did some tidy-work on #3011, and talked about design changes in #2973. I'm still on board for the changes we theorized in #2973 but I don't think we have design resources to work on it. Also, there's no reason this should gate on that, but I wanted to

[2017-10-23 18:39] #3045 closed

[2017-10-23 20:14] MelSumner opened #3049 "Feature: indicate guest or syndicated blog post"
Feature: allow for indication of syndicated or guest blog posts.

- [ ] Blog posts should have a tag that indicates regular, syndicated or guest post.
- [ ] when tagged as "guest post" (or similar), the blog post should say "Guest Post" under the blog title but above the "posted by" author line.
- [ ] add the class "blog-post-title" to the h2 in the title.
- [ ] CSS: add margin-bottom: 0; to that

[2017-10-23 20:15] MelSumner commented on #3049
@locks

[2017-10-24 02:12] locks commented on #2519
@ericorruption keep'em coming :)

[2017-10-25 07:43] marxsk opened #3050 "Duplicated code at deprecations/v2.x"
In the ENUMERABLE#CONTAINS section there is a duplicate code in the last example

var arr = ['a', 'b']

var arr = ['a, 'b']

[2017-10-28 10:19] sarupbanskota opened #3052 "Users listing page asks for submit form first"
<img width="561" alt="screen shot 2017-10-28 at 12 17 36 pm" src="https://user-images.githubusercontent.com/3149580/32133533-1dec2038-bbda-11e7-98c1-fc08fffa3218.png">

Probably meant to say `PR first and then form` because it asks for the PR

[2017-10-29 09:27] #3050 closed

[2017-10-29 17:18] #3028 closed

[2017-10-29 17:21] locks commented on #3024
I believe we have address all of the directly loaded URL cases. Thanks everyone!

[2017-10-29 17:21] #3024 closed

[2017-10-29 19:34] MelSumner opened #3057 "Footer image missing alt text."
**Expected:**
Images must have alternate text when they are not in a presentation role.

**Actual:**
2 images in footer do not have alt text.

**To Fix:**
Since this image is used as the only element in the link, it requires alt text.
- Add alt="heroku" to the img element inside the link to Heroku.
- add alt="fastly" to the img element inside the link to Fastly.

**Screenshot:**
![issue_footer-img

[2017-10-29 19:47] MelSumner opened #3058 "Learn page needs semantic HTML update"
**Expected:**
When a section has an h2 as the section title, other headings in that section should be h3 or lower.

**Actual:**
On the 'Learn' page, the 'Showcase' section has showcase descriptions that use h2 instead of h3.

**To fix:**
Change the showcase items to h3s.

**Screenshot:**
![image](https://user-images.githubusercontent.com/4587451/32147563-9fd7da50-bcb7-11e7-81fc-3be3bf52d9b7.png)

[2017-10-29 21:47] MelSumner commented on #3058
Resolved with #3061

[2017-10-29 21:47] #3058 closed

[2017-10-29 21:51] #3057 closed

[2017-10-30 17:26] wifelette commented on #3052
Agreed! Would welcome a PR to fix the instructions 👍

[2017-10-31 10:20] locks opened #3064 "Inline some of the explanation in the Boston core panel video"
https://github.com/emberjs/website/blob/master/source/learn.html.erb#L128

[2017-10-31 22:35] MelSumner opened #3066 "Navbar does not display in IE"
**Expected:**
Navbar should display for all browsers.

**Actual:**
Navbar does not display for IE11.

**To-Fix:**
Determine the root cause & resolve it.

**Screenshot:**
![image](https://user-images.githubusercontent.com/4587451/32252095-c63b1666-be61-11e7-9529-ff2307d80693.png)

[2017-10-31 23:29] rwjblue commented on #3066
@MelSumner - Which version?

[2017-11-02 00:50] MelSumner commented on #3066
@rwjblue apologies, should have included. IE 11 (11.0.9600.18816)

[2017-11-02 00:54] locks commented on #3066
We are using Glimmer.js for the header and footer, which don't support IE, as far as I know.

[2017-11-08 01:08] pbishop16 commented on #3049
@MelSumner I would like to tackle this.

[2017-11-09 20:39] MelSumner opened #3069 "Builds page: CTA needs responsive update"
**Context**
The call to action (CTA) on the builds page should still appear proportionally sized no matter what the viewport. Currently, it is wrapping in a strange way.

Screenshot:
![image](https://user-images.githubusercontent.com/4587451/32628409-62268be6-c55b-11e7-9e7a-16c250623e1a.png)

**To Fix**
- [ ] use CSS to style the CTA appropriately for the viewports already supported in the styles

[2017-11-17 01:07] pbishop16 commented on #3049
@MelSumner Just wanted to double check the styling with you. Do you have concerns with the below?

![image](https://user-images.githubusercontent.com/4172262/32924040-647ccf72-cb00-11e7-970c-472983d17333.png)

![image](https://user-images.githubusercontent.com/4172262/32924239-40442d48-cb01-11e7-9bb5-cb1ea0e4c188.png)

[2017-11-20 05:57] pbishop16 commented on #3049
@MelSumner Added the below to the blog post page

![image](https://user-images.githubusercontent.com/4172262/33004238-402672e0-cd85-11e7-9748-3b850ddcfea9.png)

The original url for a syndicated post:
![image](https://user-images.githubusercontent.com/4172262/33004251-58ca245e-cd85-11e7-87a7-9909fbb206d6.png)

[2017-11-22 00:34] petey opened #3073 "Ember 2.16 @ember/object API docs are confusing"
There are numerous components under @ ember/object that have confusing documentation, largely because it looks like they haven't been updated from ember 2.15. Today, namely, I've spent far too much time hunting down exactly what I need to use to pull in `ObjectProxy` and `PromiseProxyMixin`. There is nowhere in this documentation that mentions:

[code]

I also looked at the api docs, release blog

[2017-11-22 01:30] locks commented on #3073
Hi @petey, currently the source of truth for the mappings is https://github.com/ember-cli/ember-rfc176-data. That is what the codemod also uses.
Having the imports listed is something we have planned, would you be able to help us implement it?

[2017-11-22 01:40] toddjordan commented on #3073
@petey this is a known todo and is represented in https://github.com/ember-learn/ember-api-docs/issues/360

Will add some extra details on some implementation possibilities...
Also, the current state of the api is represented in https://github.com/ember-learn/ember-api-docs/issues/344

Let us know if you are willing/able to help :-)

Closing as the other issues represent the same concerns...

[2017-11-22 01:40] #3073 closed

[2017-11-22 11:35] jkumar712 commented on #2957
Any update on this?

[2017-11-22 13:31] jkumar712 commented on #3069
![image](https://user-images.githubusercontent.com/16778890/33129827-533c4e98-cfb7-11e7-993b-4f2af622c2ed.png)

Is it ok?

[2017-11-23 18:08] MelSumner opened #3074 "Create new page for LTS information"
**Context:**
The LTS process was thoroughly explained in a blog post, but really should have its own page so it can permanently and easily be found with the rest of the releases information.

**Steps to Implement:**
- [ ] create page that points to /releases/lts
- [ ] visit https://emberjs.com/blog/2016/02/25/announcing-embers-first-lts.html and pull that content into the page
- [ ] ensure use of

[2017-11-25 13:41] MelSumner commented on #2957
I think this looks good @jkumar712

[2017-11-26 05:44] jkumar712 commented on #2957
Raised PR https://github.com/emberjs/website/pull/3076!

[2017-11-27 10:50] locks commented on #2957
Closed by #3076. Thanks @jkumar712!

[2017-11-27 10:50] #2957 closed

[2017-11-27 15:48] locks opened #3078 "Remove Ember Data section in blog"
I believe we have already marked the Ember Data release blog posts accordingly, so now we should remove the section from the sidebar.

[2017-11-27 16:28] #3078 closed

[2017-11-30 23:16] MelSumner opened #3082 "Update navbar"
**To Do:**
Implement navbar into the current website .

**Prototype:**
https://codepen.io/melsumner/pen/b09957277ef32aa0626bf6c227a4e961

Confirm that it works in all major browsers, and is responsive.

[2017-12-01 06:42] jkumar712 commented on #3082
I shall take it up! Should it be change in `ember-learn/glimmer-styleguide` or add a partial ?

[2017-12-03 18:11] #3049 closed

[2017-12-05 12:43] ajomadlabs commented on #3074
@wycats Can I take up this issue

[2017-12-05 12:47] ajomadlabs commented on #2766
@acorncom Can I take up this

[2017-12-05 20:21] MelSumner commented on #3082
I think partial, because the current Glimmer one isn't rendering in IE.

[2017-12-05 20:21] MelSumner commented on #3074
@ajomadlabs we already have this issue taken care of, but thank you!

[2017-12-05 20:21] #3074 closed

[2017-12-08 06:01] acorncom commented on #3074
@ajomadlabs if you're interested in helping in other ways, we've got lots of things we could use help on 😀 Do you happen to be on the Ember Slack?  We find that's sometimes an easier way to organize thoughts about what people can work on to start with ... Find us in the `#-team-learning` channel if you're interested.

[2017-12-08 06:02] acorncom commented on #2766
@ajomadlabs Absolutely! 😀

[2017-12-11 04:28] acorncom commented on #3066
@rwjblue @locks Given the desire to continue support for IE 11 in Ember 3.0, should we consider switching away from Glimmer components used on the website? We could theoretically argue that although Ember 3.0 itself will continue supporting IE 11 that we as the learning team don't actively support it. But that seems to be a decision via fiat and not something that we've actually decided / landed o

[2017-12-11 04:42] jkumar712 commented on #3082
I am working on. Will raise PR within this week.

[2017-12-11 11:10] locks opened #3100 "Deprecation guides should be data driven"
Like the status board, the deprecation guides should be driven by data, instead of having to manipulate the markdown.
This would avoid things like having "upcoming deprecations in 2.16", when 2.16 and 2.17 have already been released.

[2017-12-11 12:23] rwjblue commented on #3100
I’m happy to have the main page be generated based on _something_ but I am very opposed to being forced to maintain markdown within a JSON blob (as I have stated a few times in the past RE: status dashboard).

One possible solution that satisfies both constraints would be having a subdir of individual markdown files that have frontmatter (for various data like `id`, `until`, initial version the de

[2017-12-11 14:54] locks commented on #3100
@rwjblue you picked the thoughts right from my brain.

[2017-12-11 15:14] locks commented on #3100
![](https://github.trello.services/images/mini-trello-icon.png) [Serena Fritsch](https://trello.com/c/dEsQODZv/4-serena-fritsch)

[2017-12-11 16:18] serenaf commented on #3100
@locks I would like to take this on, do you have any pointers on how the status board was refactored?

[2017-12-11 16:44] locks commented on #3100
The status board was rebuilt from the ground up as a Glimmerjs application which was then integrated with the main website like the builds page, but I'm not sure we want to do that again.
We could do a page at a time, and set up some visual regression?

[2017-12-14 20:55] heat opened #3102 "Update last LTS version"
The build web page indicates:

The follow post sugests the current version *2.16*.
https://emberjs.com/blog/2017/10/03/the-road-to-ember-3-0.html

[2017-12-14 21:35] mixonic opened #3103 "Blog headlines have strange fonts"
The blog has several font issues:

* There are four different colors and two different font weights.
* Items that were previously CAPS CASE are no longer, for example "Ember.Js". Perhaps these need to be changed in the source.

This leaves the posts pretty difficult to read.

<img width="749" alt="screen shot 2017-12-14 at 12 55 45 pm" src="https://user-images.githubusercontent.com/8752/34015364-0

[2017-12-15 10:45] locks commented on #3102
Thanks for reporting, do you have some type to send over a PR? Moved to https://github.com/ember-learn/builds/issues/54.

[2017-12-15 10:45] #3102 closed

[2017-12-15 12:21] heat commented on #3102
I'll use the new Issue in corrrect project.

[2017-12-15 14:24] MelSumner commented on #3103
@mixonic thank you for bringing this up. The [styleguide in progress is here](https://codepen.io/melsumner/full/9d551738a81e319a773395a2cfa1a82e/)- any feedback you have would be really awesome.
One of the difficulties is that everything inextricably linked right now, as of course happens sometimes in multi-year projects with different contributors; we've been working to unravel it and keep the sp

[2017-12-17 17:47] #3069 closed

[2017-12-18 14:05] locks commented on #3082
By partial do you mean middleman partial?

[2017-12-19 04:11] jkumar712 commented on #3082
@locks Yes, I asked in the mean middleman partial.

[2017-12-20 22:18] #3103 closed

[2017-12-21 14:51] serenaf commented on #3100
Basic idea after chatting with @locks is:
- Have each deprecation in its own markdown file
- name, until and since attributes go into frontmatter
- To Display we read the frontmatter and group by version
- We might/need some sorting by deprecation, but for now sorting by deprecation id might be enough

[2018-01-02 11:19] jgelens commented on #2901
Should this be re-opened for Ember 3>= ?

[2018-01-02 11:50] locks commented on #2901
I believe @rwjblue is still confirming tarballs are working.